<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">

<!-- created with http://www.physicseditor.de -->

<plist version="1.0">
	<dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>1</integer>
            <key>ptm_ratio</key>
            <real>32</real>
        </dict>
        <key>bodies</key>
		<dict>

			<key>BG</key>
			<dict>
				<key>anchorpoint</key>
                <string>{ 0.0000,0.0000 }</string>
				<key>fixtures</key>
				<array>

					<dict>
                        <key>density</key> <real>100</real>
                        <key>friction</key> <real>0</real>
                        <key>restitution</key> <real>0</real>
                        <key>filter_categoryBits</key> <integer>4096</integer>
                        <key>filter_groupIndex</key> <integer>0</integer>
                        <key>filter_maskBits</key> <integer>65535</integer>
                        <key>isSensor</key> <false/>
                        <key>id</key> <string></string>
                        <key>fixture_type</key> <string>POLYGON</string>

						<key>polygons</key>
						<array>
							<array>	
								<string>{ 2160.000,1680.000 }</string>	
								<string>{ 0.000,1680.000 }</string>	
								<string>{ 0.000,1360.000 }</string>	
								<string>{ 2160.000,1360.000 }</string>
							</array>
						</array>
                    </dict>
					<dict>
                        <key>density</key> <real>100</real>
                        <key>friction</key> <real>0</real>
                        <key>restitution</key> <real>0</real>
                        <key>filter_categoryBits</key> <integer>8192</integer>
                        <key>filter_groupIndex</key> <integer>0</integer>
                        <key>filter_maskBits</key> <integer>65530</integer>
                        <key>isSensor</key> <false/>
                        <key>id</key> <string></string>
                        <key>fixture_type</key> <string>POLYGON</string>

						<key>polygons</key>
						<array>
							<array>	
								<string>{ 2563.000,1680.000 }</string>	
								<string>{ 2163.000,1680.000 }</string>	
								<string>{ 2163.000,472.000 }</string>	
								<string>{ 2563.000,472.000 }</string>
							</array>
						</array>
                    </dict>
					<dict>
                        <key>density</key> <real>100</real>
                        <key>friction</key> <real>0.29999999999999999</real>
                        <key>restitution</key> <real>0.10000000000000001</real>
                        <key>filter_categoryBits</key> <integer>4096</integer>
                        <key>filter_groupIndex</key> <integer>0</integer>
                        <key>filter_maskBits</key> <integer>4294967295</integer>
                        <key>isSensor</key> <false/>
                        <key>id</key> <string></string>
                        <key>fixture_type</key> <string>POLYGON</string>

						<key>polygons</key>
						<array>
							<array>	
								<string>{ 2.000,314.000 }</string>	
								<string>{ 5.000,-4.000 }</string>	
								<string>{ 2162.000,-2.000 }</string>	
								<string>{ 2162.000,314.000 }</string>
							</array>
						</array>
                    </dict>
					<dict>
                        <key>density</key> <real>100</real>
                        <key>friction</key> <real>0</real>
                        <key>restitution</key> <real>0</real>
                        <key>filter_categoryBits</key> <integer>1</integer>
                        <key>filter_groupIndex</key> <integer>0</integer>
                        <key>filter_maskBits</key> <integer>63434</integer>
                        <key>isSensor</key> <false/>
                        <key>id</key> <string></string>
                        <key>fixture_type</key> <string>POLYGON</string>

						<key>polygons</key>
						<array>
							<array>	
								<string>{ -400.000,1680.000 }</string>	
								<string>{ -400.000,252.000 }</string>	
								<string>{ 0.000,252.000 }</string>	
								<string>{ 0.000,1680.000 }</string>
							</array>
						</array>
                    </dict>
					<dict>
                        <key>density</key> <real>100</real>
                        <key>friction</key> <real>1</real>
                        <key>restitution</key> <real>0.10000000000000001</real>
                        <key>filter_categoryBits</key> <integer>8192</integer>
                        <key>filter_groupIndex</key> <integer>0</integer>
                        <key>filter_maskBits</key> <integer>65530</integer>
                        <key>isSensor</key> <false/>
                        <key>id</key> <string></string>
                        <key>fixture_type</key> <string>POLYGON</string>

						<key>polygons</key>
						<array>
							<array>	
								<string>{ 0.000,-4.000 }</string>	
								<string>{ 0.000,252.000 }</string>	
								<string>{ -400.000,252.000 }</string>	
								<string>{ -400.000,0.000 }</string>
							</array>
						</array>
                    </dict>
					<dict>
                        <key>density</key> <real>100</real>
                        <key>friction</key> <real>1</real>
                        <key>restitution</key> <real>0.10000000000000001</real>
                        <key>filter_categoryBits</key> <integer>4096</integer>
                        <key>filter_groupIndex</key> <integer>0</integer>
                        <key>filter_maskBits</key> <integer>63471</integer>
                        <key>isSensor</key> <false/>
                        <key>id</key> <string></string>
                        <key>fixture_type</key> <string>POLYGON</string>

						<key>polygons</key>
						<array>
							<array>	
								<string>{ 1157.000,476.000 }</string>	
								<string>{ 1197.000,320.000 }</string>	
								<string>{ 1337.000,320.000 }</string>	
								<string>{ 1337.000,476.000 }</string>
							</array>
						</array>
                    </dict>
					<dict>
                        <key>density</key> <real>100</real>
                        <key>friction</key> <real>0</real>
                        <key>restitution</key> <real>0</real>
                        <key>filter_categoryBits</key> <integer>4096</integer>
                        <key>filter_groupIndex</key> <integer>0</integer>
                        <key>filter_maskBits</key> <integer>4294967295</integer>
                        <key>isSensor</key> <false/>
                        <key>id</key> <string></string>
                        <key>fixture_type</key> <string>POLYGON</string>

						<key>polygons</key>
						<array>
							<array>	
								<string>{ 2160.000,491.000 }</string>	
								<string>{ 1160.000,491.000 }</string>	
								<string>{ 1157.000,476.000 }</string>	
								<string>{ 2160.000,476.000 }</string>
							</array>
						</array>
                    </dict>
					<dict>
                        <key>density</key> <real>100</real>
                        <key>friction</key> <real>0.59999999999999998</real>
                        <key>restitution</key> <real>0.10000000000000001</real>
                        <key>filter_categoryBits</key> <integer>4096</integer>
                        <key>filter_groupIndex</key> <integer>0</integer>
                        <key>filter_maskBits</key> <integer>4294967295</integer>
                        <key>isSensor</key> <false/>
                        <key>id</key> <string></string>
                        <key>fixture_type</key> <string>POLYGON</string>

						<key>polygons</key>
						<array>
							<array>	
								<string>{ 2160.000,500.000 }</string>	
								<string>{ 1172.000,499.000 }</string>	
								<string>{ 1160.000,491.000 }</string>	
								<string>{ 2160.000,491.000 }</string>
							</array>
						</array>
                    </dict>
					<dict>
                        <key>density</key> <real>100</real>
                        <key>friction</key> <real>0</real>
                        <key>restitution</key> <real>0</real>
                        <key>filter_categoryBits</key> <integer>4096</integer>
                        <key>filter_groupIndex</key> <integer>0</integer>
                        <key>filter_maskBits</key> <integer>4</integer>
                        <key>isSensor</key> <false/>
                        <key>id</key> <string></string>
                        <key>fixture_type</key> <string>POLYGON</string>

						<key>polygons</key>
						<array>
							<array>	
								<string>{ 2451.000,499.000 }</string>	
								<string>{ 2163.000,499.000 }</string>	
								<string>{ 2160.000,471.000 }</string>	
								<string>{ 2453.000,471.000 }</string>
							</array>
						</array>
                    </dict>
				</array>
			</dict>
			<key>Generator</key>
			<dict>
				<key>anchorpoint</key>
                <string>{ 0.0000,0.0000 }</string>
				<key>fixtures</key>
				<array>

					<dict>
                        <key>density</key> <real>2</real>
                        <key>friction</key> <real>0.5</real>
                        <key>restitution</key> <real>0.10000000000000001</real>
                        <key>filter_categoryBits</key> <integer>4096</integer>
                        <key>filter_groupIndex</key> <integer>0</integer>
                        <key>filter_maskBits</key> <integer>65533</integer>
                        <key>isSensor</key> <true/>
                        <key>id</key> <string></string>
                        <key>fixture_type</key> <string>POLYGON</string>

						<key>polygons</key>
						<array>
							<array>	
								<string>{ 2233.000,334.000 }</string>	
								<string>{ 2484.000,334.000 }</string>	
								<string>{ 2485.000,489.000 }</string>	
								<string>{ 2233.000,489.000 }</string>
							</array>
						</array>
                    </dict>
				</array>
			</dict>
			<key>Hell</key>
			<dict>
				<key>anchorpoint</key>
                <string>{ 0.0000,0.0000 }</string>
				<key>fixtures</key>
				<array>

					<dict>
                        <key>density</key> <real>2</real>
                        <key>friction</key> <real>0</real>
                        <key>restitution</key> <real>0</real>
                        <key>filter_categoryBits</key> <integer>1</integer>
                        <key>filter_groupIndex</key> <integer>0</integer>
                        <key>filter_maskBits</key> <integer>36849</integer>
                        <key>isSensor</key> <true/>
                        <key>id</key> <string></string>
                        <key>fixture_type</key> <string>POLYGON</string>

						<key>polygons</key>
						<array>
							<array>	
								<string>{ 0.000,1280.000 }</string>	
								<string>{ 0.000,1480.000 }</string>	
								<string>{ -480.000,1480.000 }</string>	
								<string>{ -300.000,1280.000 }</string>
							</array>
							<array>	
								<string>{ -300.000,1280.000 }</string>	
								<string>{ -480.000,1480.000 }</string>	
								<string>{ -480.000,-256.000 }</string>	
								<string>{ -300.000,120.000 }</string>
							</array>
							<array>	
								<string>{ 4781.000,124.000 }</string>	
								<string>{ -300.000,120.000 }</string>	
								<string>{ -480.000,-256.000 }</string>	
								<string>{ 4780.000,-256.000 }</string>
							</array>
						</array>
                    </dict>
				</array>
			</dict>
			<key>Sensor</key>
			<dict>
				<key>anchorpoint</key>
                <string>{ 0.0000,0.0000 }</string>
				<key>fixtures</key>
				<array>

					<dict>
                        <key>density</key> <real>2</real>
                        <key>friction</key> <real>0</real>
                        <key>restitution</key> <real>0</real>
                        <key>filter_categoryBits</key> <integer>1</integer>
                        <key>filter_groupIndex</key> <integer>0</integer>
                        <key>filter_maskBits</key> <integer>2096</integer>
                        <key>isSensor</key> <true/>
                        <key>id</key> <string></string>
                        <key>fixture_type</key> <string>POLYGON</string>

						<key>polygons</key>
						<array>
							<array>	
								<string>{ 1337.000,320.000 }</string>	
								<string>{ 2160.000,320.000 }</string>	
								<string>{ 2160.000,476.000 }</string>	
								<string>{ 1337.000,476.000 }</string>
							</array>
						</array>
                    </dict>
				</array>
			</dict>
		</dict>
	</dict>
</plist>

