<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>Textures/EthnicArt-assets/TotemA.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,633},{288,136}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{296,144}</string>
			</dict>
			<key>Textures/EthnicArt-assets/TotemADamage.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,771},{288,136}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{296,144}</string>
			</dict>
			<key>Textures/EthnicArt-assets/TotemB.png</key>
			<dict>
				<key>frame</key>
				<string>{{127,1745},{112,132}}</string>
				<key>offset</key>
				<string>{2,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{116,140}</string>
			</dict>
			<key>Textures/EthnicArt-assets/TotemBDamage.png</key>
			<dict>
				<key>frame</key>
				<string>{{127,1879},{112,132}}</string>
				<key>offset</key>
				<string>{2,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{116,140}</string>
			</dict>
			<key>Textures/EthnicArt-assets/TotemC.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,1},{356,156}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{364,164}</string>
			</dict>
			<key>Textures/EthnicArt-assets/TotemCDamage.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,159},{356,156}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{364,164}</string>
			</dict>
			<key>Textures/EthnicArt-assets/TotemD.png</key>
			<dict>
				<key>frame</key>
				<string>{{359,1},{168,152}}</string>
				<key>offset</key>
				<string>{0,2}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{176,164}</string>
			</dict>
			<key>Textures/EthnicArt-assets/TotemDDamage.png</key>
			<dict>
				<key>frame</key>
				<string>{{359,155},{168,152}}</string>
				<key>offset</key>
				<string>{0,2}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{176,164}</string>
			</dict>
			<key>Textures/EthnicArt-assets/TotemE.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,1461},{124,140}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{132,148}</string>
			</dict>
			<key>Textures/EthnicArt-assets/TotemEDamage.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,1603},{124,140}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{132,148}</string>
			</dict>
			<key>Textures/EthnicArt-assets/TotemF.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,1745},{124,140}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{132,148}</string>
			</dict>
			<key>Textures/EthnicArt-assets/TotemFDamage.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,1887},{124,140}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{132,148}</string>
			</dict>
			<key>Textures/EthnicArt-assets/TotemFBonus01.png</key>
			<dict>
				<key>frame</key>
				<string>{{127,1461},{124,140}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{132,148}</string>
			</dict>
			<key>Textures/EthnicArt-assets/TotemFBonus02.png</key>
			<dict>
				<key>frame</key>
				<string>{{253,1461},{124,140}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{132,148}</string>
			</dict>
			<key>Textures/EthnicArt-assets/TotemFBonus03.png</key>
			<dict>
				<key>frame</key>
				<string>{{379,1461},{124,140}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{132,148}</string>
			</dict>
			<key>Textures/EthnicArt-assets/TotemFBonus04.png</key>
			<dict>
				<key>frame</key>
				<string>{{505,1461},{124,140}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{132,148}</string>
			</dict>
			<key>Textures/EthnicArt-assets/TotemDBonus01.png</key>
			<dict>
				<key>frame</key>
				<string>{{359,309},{168,152}}</string>
				<key>offset</key>
				<string>{0,2}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{176,164}</string>
			</dict>
			<key>Textures/EthnicArt-assets/TotemDBonus02.png</key>
			<dict>
				<key>frame</key>
				<string>{{359,463},{168,152}}</string>
				<key>offset</key>
				<string>{0,2}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{176,164}</string>
			</dict>
			<key>Textures/EthnicArt-assets/TotemDBonus03.png</key>
			<dict>
				<key>frame</key>
				<string>{{359,617},{168,152}}</string>
				<key>offset</key>
				<string>{0,2}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{176,164}</string>
			</dict>
			<key>Textures/EthnicArt-assets/TotemEBonus01.png</key>
			<dict>
				<key>frame</key>
				<string>{{127,1603},{124,140}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{132,148}</string>
			</dict>
			<key>Textures/EthnicArt-assets/TotemCBonus01.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,317},{356,156}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{364,164}</string>
			</dict>
			<key>Textures/EthnicArt-assets/TotemBBonus01.png</key>
			<dict>
				<key>frame</key>
				<string>{{241,1745},{112,132}}</string>
				<key>offset</key>
				<string>{2,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{116,140}</string>
			</dict>
			<key>Textures/EthnicArt-assets/TotemBBonus02.png</key>
			<dict>
				<key>frame</key>
				<string>{{253,1603},{112,132}}</string>
				<key>offset</key>
				<string>{2,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{116,140}</string>
			</dict>
			<key>Textures/EthnicArt-assets/TotemABonus01.png</key>
			<dict>
				<key>frame</key>
				<string>{{291,771},{288,136}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{296,144}</string>
			</dict>
			<key>Textures/EthnicArt-assets/TotemABonus02.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,909},{288,136}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{296,144}</string>
			</dict>
			<key>Textures/EthnicArt-assets/TotemABonus03.png</key>
			<dict>
				<key>frame</key>
				<string>{{291,909},{288,136}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{296,144}</string>
			</dict>
			<key>Textures/EthnicArt-assets/TotemABonus04.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,1047},{288,136}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{296,144}</string>
			</dict>
			<key>Textures/EthnicArt-assets/TotemABonus05.png</key>
			<dict>
				<key>frame</key>
				<string>{{291,1047},{288,136}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{296,144}</string>
			</dict>
			<key>Textures/EthnicArt-assets/TotemABonus06.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,1185},{288,136}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{296,144}</string>
			</dict>
			<key>Textures/EthnicArt-assets/TotemABonus07.png</key>
			<dict>
				<key>frame</key>
				<string>{{291,1185},{288,136}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{296,144}</string>
			</dict>
			<key>Textures/EthnicArt-assets/TotemABonus08.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,1323},{288,136}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{296,144}</string>
			</dict>
			<key>Textures/EthnicArt-assets/TotemABonus09.png</key>
			<dict>
				<key>frame</key>
				<string>{{291,1323},{288,136}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{296,144}</string>
			</dict>
			<key>Textures/EthnicArt-assets/TotemCBonus02.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,475},{356,156}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{364,164}</string>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>2</integer>
			<key>textureFileName</key>
			<string>EthnicArt.png</string>
			<key>realTextureFileName</key>
			<string>EthnicArt.png</string>
			<key>size</key>
			<string>{630,2028}</string>
		</dict>
		<key>texture</key>
		<dict>
			<key>width</key>
			<integer>630</integer>
			<key>height</key>
			<integer>2028</integer>
		</dict>
	</dict>
</plist>