<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>Textures/HiddenProp-assets/ThiefArmR.png</key>
			<dict>
				<key>frame</key>
				<string>{{743,475},{92,52}}</string>
				<key>offset</key>
				<string>{-38,2}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{176,96}</string>
			</dict>
			<key>Textures/HiddenProp-assets/ThiefBody01.png</key>
			<dict>
				<key>frame</key>
				<string>{{429,799},{116,204}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{140,228}</string>
			</dict>
			<key>Textures/HiddenProp-assets/ThiefBody01OL.png</key>
			<dict>
				<key>frame</key>
				<string>{{555,509},{124,212}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{132,220}</string>
			</dict>
			<key>Textures/HiddenProp-assets/ThiefBody02.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,429},{116,200}}</string>
				<key>offset</key>
				<string>{4,-2}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{140,228}</string>
			</dict>
			<key>Textures/HiddenProp-assets/ThiefBodyCatched01.png</key>
			<dict>
				<key>frame</key>
				<string>{{547,933},{116,204}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{140,228}</string>
			</dict>
			<key>Textures/HiddenProp-assets/ThiefBodyCatched02.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,547},{116,200}}</string>
				<key>offset</key>
				<string>{0,-2}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{140,228}</string>
			</dict>
			<key>Textures/HiddenProp-assets/ThiefBodyTransform01.png</key>
			<dict>
				<key>frame</key>
				<string>{{753,993},{116,204}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{132,220}</string>
			</dict>
			<key>Textures/HiddenProp-assets/ThiefLegR.png</key>
			<dict>
				<key>frame</key>
				<string>{{743,357},{60,116}}</string>
				<key>offset</key>
				<string>{-8,-42}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{124,208}</string>
			</dict>
			<key>Textures/HiddenProp-assets/ThiefArmRCatched02.png</key>
			<dict>
				<key>frame</key>
				<string>{{963,505},{88,52}}</string>
				<key>offset</key>
				<string>{-36,-2}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{176,96}</string>
			</dict>
			<key>Textures/HiddenProp-assets/ThiefBody03.png</key>
			<dict>
				<key>frame</key>
				<string>{{429,1051},{116,204}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{140,228}</string>
			</dict>
			<key>Textures/HiddenProp-assets/ThiefBodyCatched02OL.png</key>
			<dict>
				<key>frame</key>
				<string>{{429,589},{124,208}}</string>
				<key>offset</key>
				<string>{0,-2}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{140,228}</string>
			</dict>
			<key>Textures/HiddenProp-assets/ThiefBodyCatchedOL01.png</key>
			<dict>
				<key>frame</key>
				<string>{{787,779},{124,212}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{140,228}</string>
			</dict>
			<key>Textures/HiddenProp-assets/ThiefBodyWait01OL.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,1021},{124,212}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{140,228}</string>
			</dict>
			<key>Textures/HiddenProp-assets/ThiefBodyWait02OL.png</key>
			<dict>
				<key>frame</key>
				<string>{{555,723},{124,208}}</string>
				<key>offset</key>
				<string>{4,-2}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{140,228}</string>
			</dict>
			<key>Textures/HiddenProp-assets/ThiefBodyWait03OL.png</key>
			<dict>
				<key>frame</key>
				<string>{{215,993},{124,212}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{140,228}</string>
			</dict>
			<key>Textures/HiddenProp-assets/ThiefLegRCatched01.png</key>
			<dict>
				<key>frame</key>
				<string>{{913,943},{76,104}}</string>
				<key>offset</key>
				<string>{-16,-36}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{124,208}</string>
			</dict>
			<key>Textures/HiddenProp-assets/ThiefEscape01.png</key>
			<dict>
				<key>frame</key>
				<string>{{557,239},{184,268}}</string>
				<key>offset</key>
				<string>{-2,-6}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{284,336}</string>
			</dict>
			<key>Textures/HiddenProp-assets/ThiefEscape02.png</key>
			<dict>
				<key>frame</key>
				<string>{{557,1},{236,260}}</string>
				<key>offset</key>
				<string>{-20,6}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{284,336}</string>
			</dict>
			<key>Textures/HiddenProp-assets/ThiefEscape03.png</key>
			<dict>
				<key>frame</key>
				<string>{{819,1},{196,280}}</string>
				<key>offset</key>
				<string>{8,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{284,336}</string>
			</dict>
			<key>Textures/HiddenProp-assets/ThiefEscape04.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,1},{264,276}}</string>
				<key>offset</key>
				<string>{6,2}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{284,336}</string>
			</dict>
			<key>Textures/HiddenProp-assets/ThiefEscape05.png</key>
			<dict>
				<key>frame</key>
				<string>{{279,263},{152,272}}</string>
				<key>offset</key>
				<string>{10,28}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{284,336}</string>
			</dict>
			<key>Textures/HiddenProp-assets/ThiefEscape06.png</key>
			<dict>
				<key>frame</key>
				<string>{{681,659},{104,152}}</string>
				<key>offset</key>
				<string>{14,88}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{284,336}</string>
			</dict>
			<key>Textures/HiddenProp-assets/ThiefEscape07.png</key>
			<dict>
				<key>frame</key>
				<string>{{501,507},{52,80}}</string>
				<key>offset</key>
				<string>{4,100}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{284,336}</string>
			</dict>
			<key>Textures/FakeCow-assets/CowFakeBody.png</key>
			<dict>
				<key>frame</key>
				<string>{{797,505},{164,272}}</string>
				<key>offset</key>
				<string>{4,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{196,272}</string>
			</dict>
			<key>Textures/FakeCow-assets/CowFakeFace.png</key>
			<dict>
				<key>frame</key>
				<string>{{871,1021},{132,124}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{148,140}</string>
			</dict>
			<key>Textures/HiddenProp-assets/ThiefLegRCatched02.png</key>
			<dict>
				<key>frame</key>
				<string>{{913,861},{80,100}}</string>
				<key>offset</key>
				<string>{-18,-34}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{124,208}</string>
			</dict>
			<key>Textures/HiddenProp-assets/ThiefLegRCatched03.png</key>
			<dict>
				<key>frame</key>
				<string>{{743,239},{64,116}}</string>
				<key>offset</key>
				<string>{-10,-42}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{124,208}</string>
			</dict>
			<key>Textures/HiddenProp-assets/ThiefArmRCatched03.png</key>
			<dict>
				<key>frame</key>
				<string>{{963,767},{92,48}}</string>
				<key>offset</key>
				<string>{-38,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{176,96}</string>
			</dict>
			<key>Textures/HiddenProp-assets/ThiefArmRCatched00.png</key>
			<dict>
				<key>frame</key>
				<string>{{681,509},{92,44}}</string>
				<key>offset</key>
				<string>{-38,-2}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{176,96}</string>
			</dict>
			<key>Textures/HiddenProp-assets/Pot.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,267},{160,248}}</string>
				<key>offset</key>
				<string>{-2,-4}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{196,272}</string>
			</dict>
			<key>Textures/HiddenProp-assets/Pot01.png</key>
			<dict>
				<key>frame</key>
				<string>{{251,417},{160,248}}</string>
				<key>offset</key>
				<string>{-2,-4}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{196,272}</string>
			</dict>
			<key>Textures/HiddenProp-assets/PotBroken00.png</key>
			<dict>
				<key>frame</key>
				<string>{{809,283},{208,220}}</string>
				<key>offset</key>
				<string>{4,-14}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{272,304}</string>
			</dict>
			<key>Textures/HiddenProp-assets/PotBroken01.png</key>
			<dict>
				<key>frame</key>
				<string>{{279,1},{260,276}}</string>
				<key>offset</key>
				<string>{-2,-14}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{272,304}</string>
			</dict>
			<key>Textures/HiddenProp-assets/ThiefArmRCatched01.png</key>
			<dict>
				<key>frame</key>
				<string>{{963,685},{80,56}}</string>
				<key>offset</key>
				<string>{-32,-4}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{176,96}</string>
			</dict>
			<key>Textures/HiddenProp-assets/ThiefArmRWait00.png</key>
			<dict>
				<key>frame</key>
				<string>{{963,595},{88,52}}</string>
				<key>offset</key>
				<string>{-36,2}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{176,96}</string>
			</dict>
			<key>Textures/HiddenProp-assets/ThiefArmRWait01.png</key>
			<dict>
				<key>frame</key>
				<string>{{727,569},{88,40}}</string>
				<key>offset</key>
				<string>{-36,-4}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{176,96}</string>
			</dict>
			<key>Textures/HiddenProp-assets/ThiefArmRWait02.png</key>
			<dict>
				<key>frame</key>
				<string>{{501,417},{88,48}}</string>
				<key>offset</key>
				<string>{-36,-12}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{176,96}</string>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>2</integer>
			<key>textureFileName</key>
			<string>Thief.png</string>
			<key>realTextureFileName</key>
			<string>Thief.png</string>
			<key>size</key>
			<string>{1020,1198}</string>
		</dict>
		<key>texture</key>
		<dict>
			<key>width</key>
			<integer>1020</integer>
			<key>height</key>
			<integer>1198</integer>
		</dict>
	</dict>
</plist>