<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>Textures/Challenge01-assets/CheerLeaderHub01.png</key>
			<dict>
				<key>frame</key>
				<string>{{327,1121},{324,188}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{324,188}</string>
			</dict>
			<key>Textures/Challenge01-assets/CheerLeaderPompom01.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,1773},{76,76}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{76,76}</string>
			</dict>
			<key>Textures/Challenge01-assets/CheerLeaderTop02.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,1},{332,324}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{332,324}</string>
			</dict>
			<key>Textures/Challenge01-assets/CheerLeaderTop03.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,335},{332,324}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{332,324}</string>
			</dict>
			<key>Textures/Challenge01-assets/CheerLeaderRightBottom01.png</key>
			<dict>
				<key>frame</key>
				<string>{{1745,1},{276,272}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{276,272}</string>
			</dict>
			<key>Textures/Challenge01-assets/CheerLeaderRightShoes01.png</key>
			<dict>
				<key>frame</key>
				<string>{{1745,275},{276,272}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{276,272}</string>
			</dict>
			<key>Textures/Challenge01-assets/CheerLeaderRightUpper01.png</key>
			<dict>
				<key>frame</key>
				<string>{{1411,327},{276,272}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{276,272}</string>
			</dict>
			<key>Textures/Challenge01-assets/CheerLeaderRightEye01.png</key>
			<dict>
				<key>frame</key>
				<string>{{299,1871},{44,24}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{44,24}</string>
			</dict>
			<key>Textures/Challenge01-assets/CheerLeaderRightEye02.png</key>
			<dict>
				<key>frame</key>
				<string>{{321,1825},{44,24}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{44,24}</string>
			</dict>
			<key>Textures/Challenge01-assets/CheerLeaderSubBottom01.png</key>
			<dict>
				<key>frame</key>
				<string>{{743,653},{244,304}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{244,304}</string>
			</dict>
			<key>Textures/Challenge01-assets/CheerLeaderSubUpper01.png</key>
			<dict>
				<key>frame</key>
				<string>{{327,653},{244,304}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{244,304}</string>
			</dict>
			<key>Textures/Challenge01-assets/CheerLeaderSubUpper02.png</key>
			<dict>
				<key>frame</key>
				<string>{{1049,653},{244,304}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{244,304}</string>
			</dict>
			<key>Textures/Challenge01-assets/CheerLeaderSubUpper03.png</key>
			<dict>
				<key>frame</key>
				<string>{{1355,875},{244,304}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{244,304}</string>
			</dict>
			<key>Textures/Challenge01-assets/CheerLeaderSubUpper04.png</key>
			<dict>
				<key>frame</key>
				<string>{{1661,1097},{244,304}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{244,304}</string>
			</dict>
			<key>Textures/Challenge01-assets/CheerLeaderSubUpper05.png</key>
			<dict>
				<key>frame</key>
				<string>{{327,1343},{244,304}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{244,304}</string>
			</dict>
			<key>Textures/Challenge01-assets/CheerLeaderSubUpper06.png</key>
			<dict>
				<key>frame</key>
				<string>{{573,1311},{244,304}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{244,304}</string>
			</dict>
			<key>Textures/Challenge01-assets/CheerLeaderSubUpper07.png</key>
			<dict>
				<key>frame</key>
				<string>{{979,899},{244,304}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{244,304}</string>
			</dict>
			<key>Textures/Challenge01-assets/CheerLeaderSubUpper08.png</key>
			<dict>
				<key>frame</key>
				<string>{{1285,1121},{244,304}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{244,304}</string>
			</dict>
			<key>Textures/Challenge01-assets/CheerLeaderRightEye03.png</key>
			<dict>
				<key>frame</key>
				<string>{{325,1871},{44,24}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{44,24}</string>
			</dict>
			<key>Textures/Challenge01-assets/CheerLeaderRightEye04.png</key>
			<dict>
				<key>frame</key>
				<string>{{347,1825},{44,24}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{44,24}</string>
			</dict>
			<key>Textures/Challenge01-assets/CheerLeaderRightEye05.png</key>
			<dict>
				<key>frame</key>
				<string>{{351,1871},{44,24}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{44,24}</string>
			</dict>
			<key>Textures/Challenge01-assets/CheerLeaderRightEye06.png</key>
			<dict>
				<key>frame</key>
				<string>{{373,1799},{44,24}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{44,24}</string>
			</dict>
			<key>Textures/Challenge01-assets/CheerLeaderLeftEye01.png</key>
			<dict>
				<key>frame</key>
				<string>{{157,1823},{52,24}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{52,24}</string>
			</dict>
			<key>Textures/Challenge01-assets/CheerLeaderLeftEye02.png</key>
			<dict>
				<key>frame</key>
				<string>{{191,1895},{52,24}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{52,24}</string>
			</dict>
			<key>Textures/Challenge01-assets/CheerLeaderLeftEye03.png</key>
			<dict>
				<key>frame</key>
				<string>{{211,1819},{52,24}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{52,24}</string>
			</dict>
			<key>Textures/Challenge01-assets/CheerLeaderLeftEye04.png</key>
			<dict>
				<key>frame</key>
				<string>{{265,1819},{52,24}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{52,24}</string>
			</dict>
			<key>Textures/Challenge01-assets/CheerLeaderLeftEye05.png</key>
			<dict>
				<key>frame</key>
				<string>{{245,1891},{52,24}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{52,24}</string>
			</dict>
			<key>Textures/Challenge01-assets/CheerLeaderLeftEye06.png</key>
			<dict>
				<key>frame</key>
				<string>{{309,1773},{52,24}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{52,24}</string>
			</dict>
			<key>Textures/Challenge01-assets/CheerLeaderLeftEye07.png</key>
			<dict>
				<key>frame</key>
				<string>{{267,1845},{52,24}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{52,24}</string>
			</dict>
			<key>Textures/Challenge01-assets/CheerLeaderLeftEye08.png</key>
			<dict>
				<key>frame</key>
				<string>{{319,1799},{52,24}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{52,24}</string>
			</dict>
			<key>Textures/Challenge01-assets/CheerLeaderLeftEye09.png</key>
			<dict>
				<key>frame</key>
				<string>{{363,1773},{52,24}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{52,24}</string>
			</dict>
			<key>Textures/Challenge01-assets/CheerLeaderLeftUpper01.png</key>
			<dict>
				<key>frame</key>
				<string>{{1689,549},{276,272}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{276,272}</string>
			</dict>
			<key>Textures/Challenge01-assets/CheerLeaderHub02.png</key>
			<dict>
				<key>frame</key>
				<string>{{327,899},{324,188}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{324,188}</string>
			</dict>
			<key>Textures/Challenge01-assets/CheerLeaderHub03.png</key>
			<dict>
				<key>frame</key>
				<string>{{653,1121},{324,188}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{324,188}</string>
			</dict>
			<key>Textures/Challenge01-assets/CheerLeaderHub04.png</key>
			<dict>
				<key>frame</key>
				<string>{{653,899},{324,188}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{324,188}</string>
			</dict>
			<key>Textures/Challenge01-assets/CheerLeaderHubEye01.png</key>
			<dict>
				<key>frame</key>
				<string>{{195,1773},{44,36}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{44,36}</string>
			</dict>
			<key>Textures/Challenge01-assets/CheerLeaderHubEye02.png</key>
			<dict>
				<key>frame</key>
				<string>{{191,1849},{44,36}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{44,36}</string>
			</dict>
			<key>Textures/Challenge01-assets/CheerLeaderHubEye03.png</key>
			<dict>
				<key>frame</key>
				<string>{{233,1773},{44,36}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{44,36}</string>
			</dict>
			<key>Textures/Challenge01-assets/CheerLeaderHubEye04.png</key>
			<dict>
				<key>frame</key>
				<string>{{229,1845},{44,36}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{44,36}</string>
			</dict>
			<key>Textures/Challenge01-assets/CheerLeaderHubEye05.png</key>
			<dict>
				<key>frame</key>
				<string>{{271,1773},{44,36}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{44,36}</string>
			</dict>
			<key>Textures/Challenge01-assets/CheerLeaderTopComplete01.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,669},{332,324}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{332,324}</string>
			</dict>
			<key>Textures/Challenge01-assets/CheerLeaderTopComplete02.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,1003},{332,324}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{332,324}</string>
			</dict>
			<key>Textures/Challenge01-assets/CheerLeaderTopComplete03.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,1337},{332,324}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{332,324}</string>
			</dict>
			<key>Textures/Challenge01-assets/CheerLeaderTopComplete04.png</key>
			<dict>
				<key>frame</key>
				<string>{{743,1},{332,324}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{332,324}</string>
			</dict>
			<key>Textures/Challenge01-assets/CheerLeaderTopEye01.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,1851},{48,36}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{48,36}</string>
			</dict>
			<key>Textures/Challenge01-assets/CheerLeaderTopEye02.png</key>
			<dict>
				<key>frame</key>
				<string>{{39,1851},{48,36}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{48,36}</string>
			</dict>
			<key>Textures/Challenge01-assets/CheerLeaderTopEye03.png</key>
			<dict>
				<key>frame</key>
				<string>{{77,1851},{48,36}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{48,36}</string>
			</dict>
			<key>Textures/Challenge01-assets/CheerLeaderTopEye04.png</key>
			<dict>
				<key>frame</key>
				<string>{{115,1851},{48,36}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{48,36}</string>
			</dict>
			<key>Textures/Challenge01-assets/CheerLeaderTopEye05.png</key>
			<dict>
				<key>frame</key>
				<string>{{153,1851},{48,36}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{48,36}</string>
			</dict>
			<key>Textures/Challenge01-assets/CheerLeaderTopEye06.png</key>
			<dict>
				<key>frame</key>
				<string>{{157,1773},{48,36}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{48,36}</string>
			</dict>
			<key>Textures/Challenge01-assets/CheerLeaderLeftUpper02.png</key>
			<dict>
				<key>frame</key>
				<string>{{1411,601},{276,272}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{276,272}</string>
			</dict>
			<key>Textures/Challenge01-assets/CheerLeaderRightUpper02.png</key>
			<dict>
				<key>frame</key>
				<string>{{1689,823},{276,272}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{276,272}</string>
			</dict>
			<key>Textures/Challenge01-assets/CheerLeaderTopComplete05.png</key>
			<dict>
				<key>frame</key>
				<string>{{327,1},{332,324}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{332,324}</string>
			</dict>
			<key>Textures/Challenge01-assets/CheerLeaderTopComplete06.png</key>
			<dict>
				<key>frame</key>
				<string>{{1077,1},{332,324}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{332,324}</string>
			</dict>
			<key>Textures/Challenge01-assets/CheerLeaderTopComplete07.png</key>
			<dict>
				<key>frame</key>
				<string>{{1411,1},{332,324}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{332,324}</string>
			</dict>
			<key>Textures/Challenge01-assets/CheerLeaderTopComplete08.png</key>
			<dict>
				<key>frame</key>
				<string>{{743,327},{332,324}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{332,324}</string>
			</dict>
			<key>Textures/Challenge01-assets/CheerLeaderTopComplete09.png</key>
			<dict>
				<key>frame</key>
				<string>{{327,327},{332,324}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{332,324}</string>
			</dict>
			<key>Textures/Challenge01-assets/CheerLeaderTopShoes.png</key>
			<dict>
				<key>frame</key>
				<string>{{1077,327},{332,324}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{332,324}</string>
			</dict>
			<key>Textures/Challenge01-assets/CheerLeaderSubShoes.png</key>
			<dict>
				<key>frame</key>
				<string>{{979,1145},{244,304}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{244,304}</string>
			</dict>
			<key>Textures/CheerleadingMat-assets/CheerleadingMat.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,1671},{740,100}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{740,100}</string>
			</dict>
			<key>Textures/Challenge01-assets/CheerLeaderPompom02.png</key>
			<dict>
				<key>frame</key>
				<string>{{79,1773},{76,76}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{76,76}</string>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>2</integer>
			<key>textureFileName</key>
			<string>CheerLeader.png</string>
			<key>realTextureFileName</key>
			<string>CheerLeader.png</string>
			<key>size</key>
			<string>{2022,1920}</string>
		</dict>
		<key>texture</key>
		<dict>
			<key>width</key>
			<integer>2022</integer>
			<key>height</key>
			<integer>1920</integer>
		</dict>
	</dict>
</plist>