<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>Textures/Challenge03-assets/SumoChampionBottom01.png</key>
			<dict>
				<key>frame</key>
				<string>{{1333,1333},{664,352}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{664,352}</string>
			</dict>
			<key>Textures/Challenge03-assets/SumoChampionHead01.png</key>
			<dict>
				<key>frame</key>
				<string>{{2241,1487},{104,152}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{104,152}</string>
			</dict>
			<key>Textures/Challenge03-assets/SumoChampionUpper01.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,1},{664,380}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{664,380}</string>
			</dict>
			<key>Textures/Challenge03-assets/SumoChildSit01.png</key>
			<dict>
				<key>frame</key>
				<string>{{2151,541},{136,140}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{136,140}</string>
			</dict>
			<key>Textures/Challenge03-assets/SumoRight01.png</key>
			<dict>
				<key>frame</key>
				<string>{{1529,811},{240,296}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{240,296}</string>
			</dict>
			<key>Textures/Challenge03-assets/SumoChampionEye01.png</key>
			<dict>
				<key>frame</key>
				<string>{{2271,413},{104,152}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{104,152}</string>
			</dict>
			<key>Textures/Challenge03-assets/SumoChampionEye02.png</key>
			<dict>
				<key>frame</key>
				<string>{{2297,143},{104,152}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{104,152}</string>
			</dict>
			<key>Textures/Challenge03-assets/Dohyou.png</key>
			<dict>
				<key>frame</key>
				<string>{{1333,1687},{720,96}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{720,96}</string>
			</dict>
			<key>Textures/Challenge03-assets/SumoRight02.png</key>
			<dict>
				<key>frame</key>
				<string>{{1827,1011},{240,296}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{240,296}</string>
			</dict>
			<key>Textures/Challenge03-assets/SumoRight03.png</key>
			<dict>
				<key>frame</key>
				<string>{{1529,1053},{240,296}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{240,296}</string>
			</dict>
			<key>Textures/Challenge03-assets/SumoRighttEye01.png</key>
			<dict>
				<key>frame</key>
				<string>{{933,1715},{32,56}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{32,56}</string>
			</dict>
			<key>Textures/Challenge03-assets/SumoRighttEye02.png</key>
			<dict>
				<key>frame</key>
				<string>{{967,1715},{32,56}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{32,56}</string>
			</dict>
			<key>Textures/Challenge03-assets/SumoRighttEye03.png</key>
			<dict>
				<key>frame</key>
				<string>{{1001,1715},{32,56}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{32,56}</string>
			</dict>
			<key>Textures/Challenge03-assets/SumoRighttEye04.png</key>
			<dict>
				<key>frame</key>
				<string>{{1035,1715},{32,56}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{32,56}</string>
			</dict>
			<key>Textures/Challenge03-assets/SumoRighttEye05.png</key>
			<dict>
				<key>frame</key>
				<string>{{1069,1715},{32,56}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{32,56}</string>
			</dict>
			<key>Textures/Challenge03-assets/SumoLeftBack01.png</key>
			<dict>
				<key>frame</key>
				<string>{{1999,1},{268,296}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{268,296}</string>
			</dict>
			<key>Textures/Challenge03-assets/SumoLeftEye01.png</key>
			<dict>
				<key>frame</key>
				<string>{{609,1715},{52,56}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{52,56}</string>
			</dict>
			<key>Textures/Challenge03-assets/SumoLeftEye02.png</key>
			<dict>
				<key>frame</key>
				<string>{{663,1715},{52,56}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{52,56}</string>
			</dict>
			<key>Textures/Challenge03-assets/SumoLeftEye03.png</key>
			<dict>
				<key>frame</key>
				<string>{{717,1715},{52,56}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{52,56}</string>
			</dict>
			<key>Textures/Challenge03-assets/SumoLeftEye04.png</key>
			<dict>
				<key>frame</key>
				<string>{{771,1715},{52,56}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{52,56}</string>
			</dict>
			<key>Textures/Challenge03-assets/SumoLeftEye05.png</key>
			<dict>
				<key>frame</key>
				<string>{{825,1715},{52,56}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{52,56}</string>
			</dict>
			<key>Textures/Challenge03-assets/SumoLeftEye06.png</key>
			<dict>
				<key>frame</key>
				<string>{{879,1715},{52,56}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{52,56}</string>
			</dict>
			<key>Textures/Challenge03-assets/SumoLeftFront01.png</key>
			<dict>
				<key>frame</key>
				<string>{{1529,1},{268,296}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{268,296}</string>
			</dict>
			<key>Textures/Challenge03-assets/SumoLeftFront02.png</key>
			<dict>
				<key>frame</key>
				<string>{{1529,271},{268,296}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{268,296}</string>
			</dict>
			<key>Textures/Challenge03-assets/SumoChildStandCatched01.png</key>
			<dict>
				<key>frame</key>
				<string>{{1827,1},{144,176}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{144,176}</string>
			</dict>
			<key>Textures/Challenge03-assets/SumoChildStandCatched02.png</key>
			<dict>
				<key>frame</key>
				<string>{{1827,179},{144,176}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{144,176}</string>
			</dict>
			<key>Textures/Challenge03-assets/SumoChildStandComplete00.png</key>
			<dict>
				<key>frame</key>
				<string>{{1827,357},{144,176}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{144,176}</string>
			</dict>
			<key>Textures/Challenge03-assets/SumoChildStandComplete01.png</key>
			<dict>
				<key>frame</key>
				<string>{{1827,535},{144,176}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{144,176}</string>
			</dict>
			<key>Textures/Challenge03-assets/SumoChildStandComplete02.png</key>
			<dict>
				<key>frame</key>
				<string>{{1973,541},{144,176}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{144,176}</string>
			</dict>
			<key>Textures/Challenge03-assets/SumoChildStandComplete03.png</key>
			<dict>
				<key>frame</key>
				<string>{{2055,1607},{144,176}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{144,176}</string>
			</dict>
			<key>Textures/Challenge03-assets/SumoChildStandComplete04.png</key>
			<dict>
				<key>frame</key>
				<string>{{2201,1607},{144,176}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{144,176}</string>
			</dict>
			<key>Textures/Challenge03-assets/SumoChildStandWait01.png</key>
			<dict>
				<key>frame</key>
				<string>{{2241,1309},{144,176}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{144,176}</string>
			</dict>
			<key>Textures/Challenge03-assets/SumoChildStandWait02.png</key>
			<dict>
				<key>frame</key>
				<string>{{2347,1593},{144,176}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{144,176}</string>
			</dict>
			<key>Textures/Challenge03-assets/SumoChildStandWait03.png</key>
			<dict>
				<key>frame</key>
				<string>{{2097,687},{144,176}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{144,176}</string>
			</dict>
			<key>Textures/Challenge03-assets/SumoChildSitCatched01.png</key>
			<dict>
				<key>frame</key>
				<string>{{2097,865},{136,140}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{136,140}</string>
			</dict>
			<key>Textures/Challenge03-assets/SumoChildSitCatched02.png</key>
			<dict>
				<key>frame</key>
				<string>{{2235,865},{136,140}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{136,140}</string>
			</dict>
			<key>Textures/Challenge03-assets/SumoChildSitComplete01.png</key>
			<dict>
				<key>frame</key>
				<string>{{2243,683},{136,140}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{136,140}</string>
			</dict>
			<key>Textures/Challenge03-assets/SumoChildSitComplete02.png</key>
			<dict>
				<key>frame</key>
				<string>{{2271,271},{136,140}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{136,140}</string>
			</dict>
			<key>Textures/Challenge03-assets/SumoChildSitComplete03.png</key>
			<dict>
				<key>frame</key>
				<string>{{2289,519},{136,140}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{136,140}</string>
			</dict>
			<key>Textures/Challenge03-assets/SumoChildSitWait01.png</key>
			<dict>
				<key>frame</key>
				<string>{{2297,1},{136,140}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{136,140}</string>
			</dict>
			<key>Textures/Challenge03-assets/SumoChildSitWait02.png</key>
			<dict>
				<key>frame</key>
				<string>{{2435,1},{136,140}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{136,140}</string>
			</dict>
			<key>Textures/Challenge03-assets/SumoChampionUpper02.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,667},{664,380}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{664,380}</string>
			</dict>
			<key>Textures/Challenge03-assets/SumoChampionUpper03.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,1333},{664,380}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{664,380}</string>
			</dict>
			<key>Textures/Challenge03-assets/SumoChampionUpper04.png</key>
			<dict>
				<key>frame</key>
				<string>{{383,1},{664,380}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{664,380}</string>
			</dict>
			<key>Textures/Challenge03-assets/SumoChampionUpper05.png</key>
			<dict>
				<key>frame</key>
				<string>{{383,667},{664,380}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{664,380}</string>
			</dict>
			<key>Textures/Challenge03-assets/SumoChampionUpper06.png</key>
			<dict>
				<key>frame</key>
				<string>{{667,1333},{664,380}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{664,380}</string>
			</dict>
			<key>Textures/Challenge03-assets/SumoChampionUpper07.png</key>
			<dict>
				<key>frame</key>
				<string>{{765,1},{664,380}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{664,380}</string>
			</dict>
			<key>Textures/Challenge03-assets/SumoChampionUpper08.png</key>
			<dict>
				<key>frame</key>
				<string>{{765,667},{664,380}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{664,380}</string>
			</dict>
			<key>Textures/Challenge03-assets/SumoChampionUpper09.png</key>
			<dict>
				<key>frame</key>
				<string>{{1147,1},{664,380}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{664,380}</string>
			</dict>
			<key>Textures/Challenge03-assets/SumoChampionUpper10.png</key>
			<dict>
				<key>frame</key>
				<string>{{1147,667},{664,380}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{664,380}</string>
			</dict>
			<key>Textures/Challenge03-assets/SumoChampionMouth01.png</key>
			<dict>
				<key>frame</key>
				<string>{{2409,249},{104,152}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{104,152}</string>
			</dict>
			<key>Textures/Challenge03-assets/SumoChampionMouth02.png</key>
			<dict>
				<key>frame</key>
				<string>{{2451,143},{104,152}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{104,152}</string>
			</dict>
			<key>Textures/Challenge03-assets/SumoChildSitFace00.png</key>
			<dict>
				<key>frame</key>
				<string>{{213,1715},{72,64}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{72,64}</string>
			</dict>
			<key>Textures/Challenge03-assets/SumoChildSitFace01.png</key>
			<dict>
				<key>frame</key>
				<string>{{279,1715},{72,64}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{72,64}</string>
			</dict>
			<key>Textures/Challenge03-assets/SumoChildSitFace02.png</key>
			<dict>
				<key>frame</key>
				<string>{{345,1715},{72,64}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{72,64}</string>
			</dict>
			<key>Textures/Challenge03-assets/SumoChildSitFace03.png</key>
			<dict>
				<key>frame</key>
				<string>{{411,1715},{72,64}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{72,64}</string>
			</dict>
			<key>Textures/Challenge03-assets/SumoChildSitFace04.png</key>
			<dict>
				<key>frame</key>
				<string>{{477,1715},{72,64}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{72,64}</string>
			</dict>
			<key>Textures/Challenge03-assets/SumoChildSitFace05.png</key>
			<dict>
				<key>frame</key>
				<string>{{543,1715},{72,64}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{72,64}</string>
			</dict>
			<key>Textures/Challenge03-assets/SumoRight04.png</key>
			<dict>
				<key>frame</key>
				<string>{{1999,1309},{240,296}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{240,296}</string>
			</dict>
			<key>Textures/Challenge03-assets/SumoRight05.png</key>
			<dict>
				<key>frame</key>
				<string>{{2069,1011},{240,296}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{240,296}</string>
			</dict>
			<key>Textures/Challenge03-assets/SumoLeftFront03.png</key>
			<dict>
				<key>frame</key>
				<string>{{1973,271},{268,296}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{268,296}</string>
			</dict>
			<key>Textures/Challenge03-assets/SumoLeftFront04.png</key>
			<dict>
				<key>frame</key>
				<string>{{1529,541},{268,296}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{268,296}</string>
			</dict>
			<key>Textures/Challenge03-assets/SumoHead00.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,1715},{104,80}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{104,80}</string>
			</dict>
			<key>Textures/Challenge03-assets/SumoHead01.png</key>
			<dict>
				<key>frame</key>
				<string>{{107,1715},{104,80}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{104,80}</string>
			</dict>
			<key>Textures/Challenge03-assets/SumoLeftBack02.png</key>
			<dict>
				<key>frame</key>
				<string>{{1827,713},{268,296}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{268,296}</string>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>2</integer>
			<key>textureFileName</key>
			<string>SumoWrestler.png</string>
			<key>realTextureFileName</key>
			<string>SumoWrestler.png</string>
			<key>size</key>
			<string>{2604,1796}</string>
		</dict>
		<key>texture</key>
		<dict>
			<key>width</key>
			<integer>2604</integer>
			<key>height</key>
			<integer>1796</integer>
		</dict>
	</dict>
</plist>