<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>Textures/Challenge02-assets/SwimmerBridge01.png</key>
			<dict>
				<key>frame</key>
				<string>{{973,1543},{260,208}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{260,208}</string>
			</dict>
			<key>Textures/Challenge02-assets/SwimmerTop01.png</key>
			<dict>
				<key>frame</key>
				<string>{{191,1111},{148,412}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{148,412}</string>
			</dict>
			<key>Textures/Challenge02-assets/BlueFloatBack.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,1671},{184,96}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{184,96}</string>
			</dict>
			<key>Textures/Challenge02-assets/BlueFloatFront.png</key>
			<dict>
				<key>frame</key>
				<string>{{187,1671},{184,96}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{184,96}</string>
			</dict>
			<key>Textures/Challenge02-assets/RedFloatBack.png</key>
			<dict>
				<key>frame</key>
				<string>{{371,1561},{184,96}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{184,96}</string>
			</dict>
			<key>Textures/Challenge02-assets/RedFloatFront.png</key>
			<dict>
				<key>frame</key>
				<string>{{373,1659},{184,96}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{184,96}</string>
			</dict>
			<key>Textures/Challenge02-assets/CameraManPoolBottom01.png</key>
			<dict>
				<key>frame</key>
				<string>{{531,1},{356,144}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{356,144}</string>
			</dict>
			<key>Textures/Challenge02-assets/CameraManPoolFace01.png</key>
			<dict>
				<key>frame</key>
				<string>{{531,359},{356,144}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{356,144}</string>
			</dict>
			<key>Textures/Challenge02-assets/CameraManPoolFace02.png</key>
			<dict>
				<key>frame</key>
				<string>{{677,263},{356,144}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{356,144}</string>
			</dict>
			<key>Textures/Challenge02-assets/CameraManPoolUpper01.png</key>
			<dict>
				<key>frame</key>
				<string>{{677,621},{356,144}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{356,144}</string>
			</dict>
			<key>Textures/Challenge02-assets/CameraManPoolFace03.png</key>
			<dict>
				<key>frame</key>
				<string>{{795,767},{356,144}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{356,144}</string>
			</dict>
			<key>Textures/Challenge02-assets/CameraManPoolHideBottom01.png</key>
			<dict>
				<key>frame</key>
				<string>{{823,263},{356,144}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{356,144}</string>
			</dict>
			<key>Textures/Challenge02-assets/CameraManPoolHideUpper01.png</key>
			<dict>
				<key>frame</key>
				<string>{{969,263},{356,144}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{356,144}</string>
			</dict>
			<key>Textures/Challenge02-assets/SwimmerBridge02.png</key>
			<dict>
				<key>frame</key>
				<string>{{795,1},{260,208}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{260,208}</string>
			</dict>
			<key>Textures/Challenge02-assets/SwimmerBridgeEye01.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,1769},{28,60}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{28,60}</string>
			</dict>
			<key>Textures/Challenge02-assets/SwimmerBridgeEye02.png</key>
			<dict>
				<key>frame</key>
				<string>{{63,1769},{28,60}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{28,60}</string>
			</dict>
			<key>Textures/Challenge02-assets/SwimmerBridgeEye03.png</key>
			<dict>
				<key>frame</key>
				<string>{{125,1769},{28,60}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{28,60}</string>
			</dict>
			<key>Textures/Challenge02-assets/SwimmerBridgeEye04.png</key>
			<dict>
				<key>frame</key>
				<string>{{187,1769},{28,60}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{28,60}</string>
			</dict>
			<key>Textures/Challenge02-assets/SwimmerBridgeEye05.png</key>
			<dict>
				<key>frame</key>
				<string>{{249,1769},{28,60}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{28,60}</string>
			</dict>
			<key>Textures/Challenge02-assets/SwimmerBridgeEye06.png</key>
			<dict>
				<key>frame</key>
				<string>{{311,1769},{28,60}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{28,60}</string>
			</dict>
			<key>Textures/Challenge02-assets/SwimmerMateCatched01.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,1},{188,368}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{188,368}</string>
			</dict>
			<key>Textures/Challenge02-assets/SwimmerMateComplete01.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,371},{188,368}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{188,368}</string>
			</dict>
			<key>Textures/Challenge02-assets/SwimmerMateComplete02.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,741},{188,368}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{188,368}</string>
			</dict>
			<key>Textures/Challenge02-assets/SwimmerMateComplete03.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,1111},{188,368}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{188,368}</string>
			</dict>
			<key>Textures/Challenge02-assets/SwimmerMateComplete04.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,1481},{188,368}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{188,368}</string>
			</dict>
			<key>Textures/Challenge02-assets/SwimmerMateWait01.png</key>
			<dict>
				<key>frame</key>
				<string>{{191,1},{188,368}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{188,368}</string>
			</dict>
			<key>Textures/Challenge02-assets/SwimmerMateWait02.png</key>
			<dict>
				<key>frame</key>
				<string>{{191,371},{188,368}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{188,368}</string>
			</dict>
			<key>Textures/Challenge02-assets/SwimmerMateWait03.png</key>
			<dict>
				<key>frame</key>
				<string>{{191,741},{188,368}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{188,368}</string>
			</dict>
			<key>Textures/Challenge02-assets/SwimmerTop02.png</key>
			<dict>
				<key>frame</key>
				<string>{{191,1261},{148,412}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{148,412}</string>
			</dict>
			<key>Textures/Challenge02-assets/SwimmerTop03.png</key>
			<dict>
				<key>frame</key>
				<string>{{371,1411},{148,412}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{148,412}</string>
			</dict>
			<key>Textures/Challenge02-assets/SwimmerTopCatched01.png</key>
			<dict>
				<key>frame</key>
				<string>{{559,1561},{148,412}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{148,412}</string>
			</dict>
			<key>Textures/Challenge02-assets/SwimmerTopCatched02.png</key>
			<dict>
				<key>frame</key>
				<string>{{381,1},{148,412}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{148,412}</string>
			</dict>
			<key>Textures/Challenge02-assets/SwimmerTopComplete01.png</key>
			<dict>
				<key>frame</key>
				<string>{{381,415},{148,412}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{148,412}</string>
			</dict>
			<key>Textures/Challenge02-assets/SwimmerTopComplete02.png</key>
			<dict>
				<key>frame</key>
				<string>{{381,829},{148,412}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{148,412}</string>
			</dict>
			<key>Textures/Challenge02-assets/SwimmerTopComplete03.png</key>
			<dict>
				<key>frame</key>
				<string>{{605,979},{148,412}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{148,412}</string>
			</dict>
			<key>Textures/Challenge02-assets/SwimmerTopComplete04.png</key>
			<dict>
				<key>frame</key>
				<string>{{755,979},{148,412}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{148,412}</string>
			</dict>
			<key>Textures/Challenge02-assets/SwimmerTopComplete05.png</key>
			<dict>
				<key>frame</key>
				<string>{{785,1393},{148,412}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{148,412}</string>
			</dict>
			<key>Textures/Challenge02-assets/CameraManPoolUpper02.png</key>
			<dict>
				<key>frame</key>
				<string>{{1035,621},{356,144}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{356,144}</string>
			</dict>
			<key>Textures/Challenge02-assets/CameraManPoolUpper03.png</key>
			<dict>
				<key>frame</key>
				<string>{{1005,1},{356,144}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{356,144}</string>
			</dict>
			<key>Textures/Challenge02-assets/CameraManPoolFace04.png</key>
			<dict>
				<key>frame</key>
				<string>{{1363,1},{356,144}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{356,144}</string>
			</dict>
			<key>Textures/Challenge02-assets/CameraManPoolFace05.png</key>
			<dict>
				<key>frame</key>
				<string>{{1115,147},{356,144}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{356,144}</string>
			</dict>
			<key>Textures/Challenge02-assets/CameraManPoolFace06.png</key>
			<dict>
				<key>frame</key>
				<string>{{1261,359},{356,144}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{356,144}</string>
			</dict>
			<key>Textures/Challenge02-assets/CameraManPoolBottom02.png</key>
			<dict>
				<key>frame</key>
				<string>{{1509,1},{356,144}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{356,144}</string>
			</dict>
			<key>Textures/Challenge02-assets/CameraManPoolUpper04.png</key>
			<dict>
				<key>frame</key>
				<string>{{905,913},{356,144}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{356,144}</string>
			</dict>
			<key>Textures/Challenge02-assets/CameraManPoolHideUpper00.png</key>
			<dict>
				<key>frame</key>
				<string>{{1051,913},{356,144}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{356,144}</string>
			</dict>
			<key>Textures/Challenge02-assets/CameraManPoolHideBottom02.png</key>
			<dict>
				<key>frame</key>
				<string>{{1153,767},{356,144}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{356,144}</string>
			</dict>
			<key>Textures/Challenge02-assets/CameraManPoolHideBottom00.png</key>
			<dict>
				<key>frame</key>
				<string>{{1393,505},{356,144}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{356,144}</string>
			</dict>
			<key>Textures/Challenge02-assets/CameraManPoolHideUpper02.png</key>
			<dict>
				<key>frame</key>
				<string>{{1619,359},{356,144}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{356,144}</string>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>2</integer>
			<key>textureFileName</key>
			<string>Swimmer.png</string>
			<key>realTextureFileName</key>
			<string>Swimmer.png</string>
			<key>size</key>
			<string>{1976,1798}</string>
		</dict>
		<key>texture</key>
		<dict>
			<key>width</key>
			<integer>1976</integer>
			<key>height</key>
			<integer>1798</integer>
		</dict>
	</dict>
</plist>