<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>Textures/AlienBoss-assets/BossArm01.png</key>
			<dict>
				<key>frame</key>
				<string>{{1281,3487},{164,164}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{164,164}</string>
			</dict>
			<key>Textures/AlienBoss-assets/BossArm02.png</key>
			<dict>
				<key>frame</key>
				<string>{{1613,3487},{144,144}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{144,144}</string>
			</dict>
			<key>Textures/AlienBoss-assets/BossArm03.png</key>
			<dict>
				<key>frame</key>
				<string>{{1281,3653},{124,124}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{124,124}</string>
			</dict>
			<key>Textures/AlienBoss-assets/BossArm04.png</key>
			<dict>
				<key>frame</key>
				<string>{{2121,3481},{104,136}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{104,136}</string>
			</dict>
			<key>Textures/AlienBoss-assets/Hammer.png</key>
			<dict>
				<key>frame</key>
				<string>{{1055,3161},{204,204}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{204,204}</string>
			</dict>
			<key>Textures/AlienBoss-assets/BossArmAdd01.png</key>
			<dict>
				<key>frame</key>
				<string>{{1407,3653},{164,164}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{164,164}</string>
			</dict>
			<key>Textures/AlienBoss-assets/BossArmAdd02.png</key>
			<dict>
				<key>frame</key>
				<string>{{1739,3633},{144,144}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{144,144}</string>
			</dict>
			<key>Textures/AlienBoss-assets/BossArmAdd03.png</key>
			<dict>
				<key>frame</key>
				<string>{{1759,3481},{124,124}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{124,124}</string>
			</dict>
			<key>Textures/AlienBoss-assets/BossArmAdd04.png</key>
			<dict>
				<key>frame</key>
				<string>{{2121,3619},{104,136}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{104,136}</string>
			</dict>
			<key>Textures/AlienBossThunder-assets/ArmThunderBig00.png</key>
			<dict>
				<key>frame</key>
				<string>{{631,3847},{49,49}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{49,49}</string>
			</dict>
			<key>Textures/AlienBossThunder-assets/ArmThunderBig01.png</key>
			<dict>
				<key>frame</key>
				<string>{{682,3847},{49,49}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{49,49}</string>
			</dict>
			<key>Textures/AlienBossThunder-assets/ArmThunderBig02.png</key>
			<dict>
				<key>frame</key>
				<string>{{733,3847},{49,49}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{49,49}</string>
			</dict>
			<key>Textures/AlienBossThunder-assets/ArmThunderBig03.png</key>
			<dict>
				<key>frame</key>
				<string>{{784,3847},{49,49}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{49,49}</string>
			</dict>
			<key>Textures/AlienBossThunder-assets/ArmThunderBig04.png</key>
			<dict>
				<key>frame</key>
				<string>{{835,3847},{49,49}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{49,49}</string>
			</dict>
			<key>Textures/AlienBossThunder-assets/ArmThunderLittle00.png</key>
			<dict>
				<key>frame</key>
				<string>{{886,3847},{37,37}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{37,37}</string>
			</dict>
			<key>Textures/AlienBossThunder-assets/ArmThunderLittle01.png</key>
			<dict>
				<key>frame</key>
				<string>{{925,3847},{37,37}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{37,37}</string>
			</dict>
			<key>Textures/AlienBossThunder-assets/ArmThunderLittle02.png</key>
			<dict>
				<key>frame</key>
				<string>{{964,3847},{37,37}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{37,37}</string>
			</dict>
			<key>Textures/AlienBossThunder-assets/ArmThunderLittle03.png</key>
			<dict>
				<key>frame</key>
				<string>{{1003,3847},{37,37}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{37,37}</string>
			</dict>
			<key>Textures/AlienBossThunder-assets/ArmThunderLittle04.png</key>
			<dict>
				<key>frame</key>
				<string>{{1042,3847},{37,37}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{37,37}</string>
			</dict>
			<key>Textures/TimeBomb-assets/CenterExplosion01.png</key>
			<dict>
				<key>frame</key>
				<string>{{829,3161},{224,208}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{224,208}</string>
			</dict>
			<key>Textures/TimeBomb-assets/CenterExplosion02.png</key>
			<dict>
				<key>frame</key>
				<string>{{829,3371},{224,208}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{224,208}</string>
			</dict>
			<key>Textures/TimeBomb-assets/CenterExplosion03.png</key>
			<dict>
				<key>frame</key>
				<string>{{1055,3573},{224,208}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{224,208}</string>
			</dict>
			<key>Textures/TimeBomb-assets/CenterExplosion04.png</key>
			<dict>
				<key>frame</key>
				<string>{{829,3581},{224,208}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{224,208}</string>
			</dict>
			<key>Textures/AlienBoss-assets/HammerAdd.png</key>
			<dict>
				<key>frame</key>
				<string>{{1055,3367},{204,204}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{204,204}</string>
			</dict>
			<key>Textures/AlienBoss-assets/Mouth00.png</key>
			<dict>
				<key>frame</key>
				<string>{{1453,791},{628,776}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{628,776}</string>
			</dict>
			<key>Textures/AlienBoss-assets/MouthOpen00.png</key>
			<dict>
				<key>frame</key>
				<string>{{1453,1569},{628,776}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{628,776}</string>
			</dict>
			<key>Textures/AlienBoss-assets/MouthOpen03.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,3161},{412,324}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{412,324}</string>
			</dict>
			<key>Textures/AlienBoss-assets/Face00.png</key>
			<dict>
				<key>frame</key>
				<string>{{1453,2347},{628,776}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{628,776}</string>
			</dict>
			<key>Textures/AlienBoss-assets/Face01.png</key>
			<dict>
				<key>frame</key>
				<string>{{2083,791},{628,776}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{628,776}</string>
			</dict>
			<key>Textures/AlienBoss-assets/Face02.png</key>
			<dict>
				<key>frame</key>
				<string>{{2179,1},{628,776}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{628,776}</string>
			</dict>
			<key>Textures/AlienBoss-assets/FaceAttack00.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,1},{724,788}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{724,788}</string>
			</dict>
			<key>Textures/AlienBoss-assets/FaceAttack01.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,791},{724,788}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{724,788}</string>
			</dict>
			<key>Textures/AlienBoss-assets/FaceAttack02.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,1581},{724,788}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{724,788}</string>
			</dict>
			<key>Textures/AlienBoss-assets/FaceTurn01.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,2371},{724,788}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{724,788}</string>
			</dict>
			<key>Textures/AlienBoss-assets/FaceTurn02.png</key>
			<dict>
				<key>frame</key>
				<string>{{727,1},{724,788}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{724,788}</string>
			</dict>
			<key>Textures/AlienBoss-assets/FaceTurn03.png</key>
			<dict>
				<key>frame</key>
				<string>{{727,791},{724,788}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{724,788}</string>
			</dict>
			<key>Textures/AlienBoss-assets/BodyBaseTurn00.png</key>
			<dict>
				<key>frame</key>
				<string>{{2083,1569},{628,776}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{628,776}</string>
			</dict>
			<key>Textures/AlienBoss-assets/BodyBaseTurn01.png</key>
			<dict>
				<key>frame</key>
				<string>{{2083,2347},{628,776}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{628,776}</string>
			</dict>
			<key>Textures/AlienBoss-assets/BodyBaseTurn02.png</key>
			<dict>
				<key>frame</key>
				<string>{{2713,779},{628,776}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{628,776}</string>
			</dict>
			<key>Textures/AlienBoss-assets/BodyBaseTurn03.png</key>
			<dict>
				<key>frame</key>
				<string>{{2809,1},{628,776}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{628,776}</string>
			</dict>
			<key>Textures/AlienBoss-assets/MouthOpen05.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,3487},{412,324}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{412,324}</string>
			</dict>
			<key>Textures/AlienBoss-assets/Mouth01.png</key>
			<dict>
				<key>frame</key>
				<string>{{3343,779},{628,776}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{628,776}</string>
			</dict>
			<key>Textures/AlienBoss-assets/Mouth02.png</key>
			<dict>
				<key>frame</key>
				<string>{{3439,1},{628,776}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{628,776}</string>
			</dict>
			<key>Textures/AlienBoss-assets/BossBody00.png</key>
			<dict>
				<key>frame</key>
				<string>{{2713,1557},{628,776}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{628,776}</string>
			</dict>
			<key>Textures/AlienBoss-assets/MouthOpen01.png</key>
			<dict>
				<key>frame</key>
				<string>{{415,3161},{412,324}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{412,324}</string>
			</dict>
			<key>Textures/AlienBoss-assets/MouthOpen02.png</key>
			<dict>
				<key>frame</key>
				<string>{{415,3487},{412,324}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{412,324}</string>
			</dict>
			<key>Textures/AlienBoss-assets/MouthOpen04.png</key>
			<dict>
				<key>frame</key>
				<string>{{1261,3161},{412,324}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{412,324}</string>
			</dict>
			<key>Textures/AlienBoss-assets/BossArm01Turn01.png</key>
			<dict>
				<key>frame</key>
				<string>{{1447,3487},{164,164}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{164,164}</string>
			</dict>
			<key>Textures/AlienBoss-assets/BossArm01Turn02.png</key>
			<dict>
				<key>frame</key>
				<string>{{1573,3653},{164,164}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{164,164}</string>
			</dict>
			<key>Textures/AlienBoss-assets/FaceBrokenTurn01.png</key>
			<dict>
				<key>frame</key>
				<string>{{727,1581},{724,788}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{724,788}</string>
			</dict>
			<key>Textures/AlienBoss-assets/FaceBrokenTurn02.png</key>
			<dict>
				<key>frame</key>
				<string>{{727,2371},{724,788}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{724,788}</string>
			</dict>
			<key>Textures/AlienBoss-assets/FaceBrokenTurn03.png</key>
			<dict>
				<key>frame</key>
				<string>{{1453,1},{724,788}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{724,788}</string>
			</dict>
			<key>Textures/AlienBoss-assets/BossFootA00.png</key>
			<dict>
				<key>frame</key>
				<string>{{1675,3125},{116,176}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{116,176}</string>
			</dict>
			<key>Textures/AlienBoss-assets/BossFootA01.png</key>
			<dict>
				<key>frame</key>
				<string>{{1675,3303},{116,176}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{116,176}</string>
			</dict>
			<key>Textures/AlienBoss-assets/BossFootA02.png</key>
			<dict>
				<key>frame</key>
				<string>{{1793,3125},{116,176}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{116,176}</string>
			</dict>
			<key>Textures/AlienBoss-assets/BossFootB00.png</key>
			<dict>
				<key>frame</key>
				<string>{{1793,3303},{116,176}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{116,176}</string>
			</dict>
			<key>Textures/AlienBoss-assets/BossFootB01.png</key>
			<dict>
				<key>frame</key>
				<string>{{1885,3481},{116,176}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{116,176}</string>
			</dict>
			<key>Textures/AlienBoss-assets/BossFootB02.png</key>
			<dict>
				<key>frame</key>
				<string>{{1885,3659},{116,176}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{116,176}</string>
			</dict>
			<key>Textures/AlienBoss-assets/BossFootC00.png</key>
			<dict>
				<key>frame</key>
				<string>{{1911,3125},{116,176}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{116,176}</string>
			</dict>
			<key>Textures/AlienBoss-assets/BossFootC01.png</key>
			<dict>
				<key>frame</key>
				<string>{{1911,3303},{116,176}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{116,176}</string>
			</dict>
			<key>Textures/AlienBoss-assets/BossFootC02.png</key>
			<dict>
				<key>frame</key>
				<string>{{2003,3481},{116,176}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{116,176}</string>
			</dict>
			<key>Textures/AlienBoss-assets/BossFootO00.png</key>
			<dict>
				<key>frame</key>
				<string>{{2003,3659},{116,176}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{116,176}</string>
			</dict>
			<key>Textures/AlienBoss-assets/BossFootO01.png</key>
			<dict>
				<key>frame</key>
				<string>{{2029,3125},{116,176}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{116,176}</string>
			</dict>
			<key>Textures/AlienBoss-assets/BossFootO02.png</key>
			<dict>
				<key>frame</key>
				<string>{{2029,3303},{116,176}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{116,176}</string>
			</dict>
			<key>Textures/AlienBoss-assets/FootJointA.png</key>
			<dict>
				<key>frame</key>
				<string>{{1261,3783},{96,96}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{96,96}</string>
			</dict>
			<key>Textures/AlienBoss-assets/Tear00.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,3813},{628,32}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{628,32}</string>
			</dict>
			<key>Textures/AlienBoss-assets/Tear01.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,3847},{628,32}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{628,32}</string>
			</dict>
			<key>Textures/AlienBoss-assets/Tear02.png</key>
			<dict>
				<key>frame</key>
				<string>{{631,3813},{628,32}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{628,32}</string>
			</dict>
			<key>Textures/AlienBoss-assets/EyeBlow00.png</key>
			<dict>
				<key>frame</key>
				<string>{{3343,1557},{628,776}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{628,776}</string>
			</dict>
			<key>Textures/AlienBoss-assets/EyeBlow01.png</key>
			<dict>
				<key>frame</key>
				<string>{{2713,2335},{628,776}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{628,776}</string>
			</dict>
			<key>Textures/AlienBoss-assets/Face03.png</key>
			<dict>
				<key>frame</key>
				<string>{{2713,3113},{628,776}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{628,776}</string>
			</dict>
			<key>Textures/AlienBoss-assets/Face04.png</key>
			<dict>
				<key>frame</key>
				<string>{{3343,2335},{628,776}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{628,776}</string>
			</dict>
			<key>Textures/AlienBoss-assets/Mouth03.png</key>
			<dict>
				<key>frame</key>
				<string>{{3343,3113},{628,776}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{628,776}</string>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>2</integer>
			<key>textureFileName</key>
			<string>AlienBoss.png</string>
			<key>realTextureFileName</key>
			<string>AlienBoss.png</string>
			<key>size</key>
			<string>{4068,3897}</string>
		</dict>
		<key>texture</key>
		<dict>
			<key>width</key>
			<integer>4068</integer>
			<key>height</key>
			<integer>3897</integer>
		</dict>
	</dict>
</plist>