<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>Textures/Alien-assets/AlienCatched00.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,1},{180,180}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{180,180}</string>
			</dict>
			<key>Textures/Alien-assets/AlienDamage00.png</key>
			<dict>
				<key>frame</key>
				<string>{{183,1},{180,180}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{180,180}</string>
			</dict>
			<key>Textures/Alien-assets/AlienDamage01.png</key>
			<dict>
				<key>frame</key>
				<string>{{365,1},{180,180}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{180,180}</string>
			</dict>
			<key>Textures/Alien-assets/AlienGun.png</key>
			<dict>
				<key>frame</key>
				<string>{{911,671},{64,40}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{64,40}</string>
			</dict>
			<key>Textures/Alien-assets/AlienWait00.png</key>
			<dict>
				<key>frame</key>
				<string>{{547,1},{180,180}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{180,180}</string>
			</dict>
			<key>Textures/Alien-assets/AlienWait01.png</key>
			<dict>
				<key>frame</key>
				<string>{{729,1},{180,180}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{180,180}</string>
			</dict>
			<key>Textures/Alien-assets/GunMuzzle00.png</key>
			<dict>
				<key>frame</key>
				<string>{{961,713},{48,28}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{48,28}</string>
			</dict>
			<key>Textures/Alien-assets/GunMuzzle01.png</key>
			<dict>
				<key>frame</key>
				<string>{{961,743},{48,28}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{48,28}</string>
			</dict>
			<key>Textures/Alien-assets/GunMuzzle02.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,729},{48,28}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{48,28}</string>
			</dict>
			<key>Textures/Alien-assets/AlienCatched01.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,183},{180,180}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{180,180}</string>
			</dict>
			<key>Textures/Alien-assets/EnergyBall01.png</key>
			<dict>
				<key>frame</key>
				<string>{{911,1},{96,96}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{96,96}</string>
			</dict>
			<key>Textures/Alien-assets/EnergyBall02.png</key>
			<dict>
				<key>frame</key>
				<string>{{911,99},{96,96}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{96,96}</string>
			</dict>
			<key>Textures/Alien-assets/EnergyBall03.png</key>
			<dict>
				<key>frame</key>
				<string>{{911,197},{96,96}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{96,96}</string>
			</dict>
			<key>Textures/Alien-assets/EnergyBall04.png</key>
			<dict>
				<key>frame</key>
				<string>{{911,295},{96,96}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{96,96}</string>
			</dict>
			<key>Textures/Alien-assets/AlienAttack01.png</key>
			<dict>
				<key>frame</key>
				<string>{{183,183},{180,180}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{180,180}</string>
			</dict>
			<key>Textures/Alien-assets/AlienAttack02.png</key>
			<dict>
				<key>frame</key>
				<string>{{365,183},{180,180}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{180,180}</string>
			</dict>
			<key>Textures/Alien-assets/AlienAttack03.png</key>
			<dict>
				<key>frame</key>
				<string>{{547,183},{180,180}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{180,180}</string>
			</dict>
			<key>Textures/Alien-assets/AlienCatched02.png</key>
			<dict>
				<key>frame</key>
				<string>{{729,183},{180,180}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{180,180}</string>
			</dict>
			<key>Textures/Alien-assets/AlienMove00.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,365},{180,180}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{180,180}</string>
			</dict>
			<key>Textures/Alien-assets/AlienMove01.png</key>
			<dict>
				<key>frame</key>
				<string>{{183,365},{180,180}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{180,180}</string>
			</dict>
			<key>Textures/Alien-assets/AlienMove02.png</key>
			<dict>
				<key>frame</key>
				<string>{{365,365},{180,180}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{180,180}</string>
			</dict>
			<key>Textures/Alien-assets/AlienMove04.png</key>
			<dict>
				<key>frame</key>
				<string>{{547,365},{180,180}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{180,180}</string>
			</dict>
			<key>Textures/Alien-assets/AlienMove05.png</key>
			<dict>
				<key>frame</key>
				<string>{{729,365},{180,180}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{180,180}</string>
			</dict>
			<key>Textures/Alien-assets/AlienRotate00.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,547},{180,180}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{180,180}</string>
			</dict>
			<key>Textures/Alien-assets/AlienWait02.png</key>
			<dict>
				<key>frame</key>
				<string>{{183,547},{180,180}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{180,180}</string>
			</dict>
			<key>Textures/Alien-assets/AlienRotateFace00.png</key>
			<dict>
				<key>frame</key>
				<string>{{365,547},{180,180}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{180,180}</string>
			</dict>
			<key>Textures/Alien-assets/AlienRotateFace01.png</key>
			<dict>
				<key>frame</key>
				<string>{{547,547},{180,180}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{180,180}</string>
			</dict>
			<key>Textures/Alien-assets/AlienRotateFace02.png</key>
			<dict>
				<key>frame</key>
				<string>{{729,547},{180,180}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{180,180}</string>
			</dict>
			<key>Textures/Alien-assets/AlienRotateFace03.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,763},{180,180}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{180,180}</string>
			</dict>
			<key>Textures/Alien-assets/AlienRotateFace04.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,945},{180,180}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{180,180}</string>
			</dict>
			<key>Textures/Alien-assets/AlienDamage02.png</key>
			<dict>
				<key>frame</key>
				<string>{{183,763},{180,180}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{180,180}</string>
			</dict>
			<key>Textures/Alien-assets/EnergyAura00.png</key>
			<dict>
				<key>frame</key>
				<string>{{911,491},{88,88}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{88,88}</string>
			</dict>
			<key>Textures/Alien-assets/EnergyAura01.png</key>
			<dict>
				<key>frame</key>
				<string>{{911,581},{88,88}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{88,88}</string>
			</dict>
			<key>Textures/Alien-assets/EnergyAura02.png</key>
			<dict>
				<key>frame</key>
				<string>{{911,393},{96,96}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{96,96}</string>
			</dict>
			<key>Textures/Alien-assets/EnergyCenter00.png</key>
			<dict>
				<key>frame</key>
				<string>{{911,713},{48,48}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{48,48}</string>
			</dict>
			<key>Textures/Alien-assets/EnergyCenter01.png</key>
			<dict>
				<key>frame</key>
				<string>{{977,671},{40,40}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{40,40}</string>
			</dict>
			<key>Textures/Alien-assets/EnergyCharge00.png</key>
			<dict>
				<key>frame</key>
				<string>{{183,945},{160,160}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{160,160}</string>
			</dict>
			<key>Textures/Alien-assets/EnergyCharge01.png</key>
			<dict>
				<key>frame</key>
				<string>{{345,945},{160,160}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{160,160}</string>
			</dict>
			<key>Textures/Alien-assets/EnergyCharge02.png</key>
			<dict>
				<key>frame</key>
				<string>{{365,763},{160,160}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{160,160}</string>
			</dict>
			<key>Textures/Alien-assets/EnergyCharge03.png</key>
			<dict>
				<key>frame</key>
				<string>{{507,925},{160,160}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{160,160}</string>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>2</integer>
			<key>textureFileName</key>
			<string>Alien.png</string>
			<key>realTextureFileName</key>
			<string>Alien.png</string>
			<key>size</key>
			<string>{1018,1126}</string>
		</dict>
		<key>texture</key>
		<dict>
			<key>width</key>
			<integer>1018</integer>
			<key>height</key>
			<integer>1126</integer>
		</dict>
	</dict>
</plist>