<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>Textures/AlienBoss-assets/MetalHeadDamageB.png</key>
			<dict>
				<key>frame</key>
				<string>{{2,200},{137,41}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{137,41}</string>
			</dict>
			<key>Textures/AlienBoss-assets/MetalHeadNoDamage00.png</key>
			<dict>
				<key>frame</key>
				<string>{{2,245},{137,41}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{137,41}</string>
			</dict>
			<key>Textures/AlienBoss-assets/MetalHeadNoDamage01.png</key>
			<dict>
				<key>frame</key>
				<string>{{143,200},{137,41}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{137,41}</string>
			</dict>
			<key>Textures/AlienBoss-assets/MetalHeadNoDamage02.png</key>
			<dict>
				<key>frame</key>
				<string>{{143,245},{137,41}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{137,41}</string>
			</dict>
			<key>Textures/AlienBoss-assets/MetalHeadNoDamage03.png</key>
			<dict>
				<key>frame</key>
				<string>{{163,2},{137,41}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{137,41}</string>
			</dict>
			<key>Textures/AlienBoss-assets/MetalHeadNoDamage04.png</key>
			<dict>
				<key>frame</key>
				<string>{{163,47},{137,41}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{137,41}</string>
			</dict>
			<key>Textures/AlienBoss-assets/MetalHeadNoDamage05.png</key>
			<dict>
				<key>frame</key>
				<string>{{163,92},{137,41}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{137,41}</string>
			</dict>
			<key>Textures/AlienBoss-assets/MetalHeadNoDamage06.png</key>
			<dict>
				<key>frame</key>
				<string>{{163,137},{137,41}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{137,41}</string>
			</dict>
			<key>Textures/AlienBoss-assets/MetalHeadNoDamage07.png</key>
			<dict>
				<key>frame</key>
				<string>{{284,182},{137,41}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{137,41}</string>
			</dict>
			<key>Textures/AlienBoss-assets/MetalHeadNoDamage08.png</key>
			<dict>
				<key>frame</key>
				<string>{{284,227},{137,41}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{137,41}</string>
			</dict>
			<key>Textures/AlienBoss-assets/LoadSilhouette00.png</key>
			<dict>
				<key>frame</key>
				<string>{{284,272},{137,41}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{137,41}</string>
			</dict>
			<key>Textures/AlienBoss-assets/LoadSilhouette01.png</key>
			<dict>
				<key>frame</key>
				<string>{{304,2},{137,41}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{137,41}</string>
			</dict>
			<key>Textures/AlienBoss-assets/MetalHead00.png</key>
			<dict>
				<key>frame</key>
				<string>{{304,47},{137,41}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{137,41}</string>
			</dict>
			<key>Textures/AlienBoss-assets/MetalHead01.png</key>
			<dict>
				<key>frame</key>
				<string>{{304,92},{137,41}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{137,41}</string>
			</dict>
			<key>Textures/AlienBoss-assets/MetalHead02.png</key>
			<dict>
				<key>frame</key>
				<string>{{304,137},{137,41}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{137,41}</string>
			</dict>
			<key>Textures/AlienBoss-assets/MetalHead03.png</key>
			<dict>
				<key>frame</key>
				<string>{{425,182},{137,41}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{137,41}</string>
			</dict>
			<key>Textures/AlienBoss-assets/MetalHead04.png</key>
			<dict>
				<key>frame</key>
				<string>{{425,227},{137,41}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{137,41}</string>
			</dict>
			<key>Textures/AlienBoss-assets/MetalHead05.png</key>
			<dict>
				<key>frame</key>
				<string>{{425,272},{137,41}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{137,41}</string>
			</dict>
			<key>Textures/AlienBoss-assets/MetalHead06.png</key>
			<dict>
				<key>frame</key>
				<string>{{445,2},{137,41}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{137,41}</string>
			</dict>
			<key>Textures/AlienBoss-assets/MetalHead07.png</key>
			<dict>
				<key>frame</key>
				<string>{{445,47},{137,41}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{137,41}</string>
			</dict>
			<key>Textures/AlienBoss-assets/MetalHead08.png</key>
			<dict>
				<key>frame</key>
				<string>{{445,92},{137,41}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{137,41}</string>
			</dict>
			<key>Textures/AlienBoss-assets/MetalHead10.png</key>
			<dict>
				<key>frame</key>
				<string>{{445,137},{137,41}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{137,41}</string>
			</dict>
			<key>Textures/AlienBoss-assets/MetalHead11.png</key>
			<dict>
				<key>frame</key>
				<string>{{566,182},{137,41}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{137,41}</string>
			</dict>
			<key>Textures/AlienBoss-assets/MetalHead12.png</key>
			<dict>
				<key>frame</key>
				<string>{{566,227},{137,41}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{137,41}</string>
			</dict>
			<key>Textures/AlienBoss-assets/MetalHead13.png</key>
			<dict>
				<key>frame</key>
				<string>{{566,272},{137,41}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{137,41}</string>
			</dict>
			<key>Textures/AlienBoss-assets/MetalHeadDamageA.png</key>
			<dict>
				<key>frame</key>
				<string>{{707,2},{137,41}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{137,41}</string>
			</dict>
			<key>Textures/AlienBoss-assets/MetalHeadDamageA01.png</key>
			<dict>
				<key>frame</key>
				<string>{{678,47},{137,41}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{137,41}</string>
			</dict>
			<key>Textures/AlienBoss-assets/BossHead00.png</key>
			<dict>
				<key>frame</key>
				<string>{{678,92},{137,41}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{137,41}</string>
			</dict>
			<key>Textures/AlienBoss-assets/BossHead01.png</key>
			<dict>
				<key>frame</key>
				<string>{{586,137},{137,41}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{137,41}</string>
			</dict>
			<key>Textures/AlienBoss-assets/BossHead02.png</key>
			<dict>
				<key>frame</key>
				<string>{{707,182},{137,41}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{137,41}</string>
			</dict>
			<key>Textures/AlienBoss-assets/NoDamageEffectA00.png</key>
			<dict>
				<key>frame</key>
				<string>{{2,290},{25,21}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{25,21}</string>
			</dict>
			<key>Textures/AlienBoss-assets/NoDamageEffectA01.png</key>
			<dict>
				<key>frame</key>
				<string>{{31,290},{25,21}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{25,21}</string>
			</dict>
			<key>Textures/AlienBoss-assets/NoDamageEffectA02.png</key>
			<dict>
				<key>frame</key>
				<string>{{60,290},{25,21}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{25,21}</string>
			</dict>
			<key>Textures/AlienBoss-assets/NoDamageEffectA03.png</key>
			<dict>
				<key>frame</key>
				<string>{{89,290},{25,21}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{25,21}</string>
			</dict>
			<key>Textures/AlienBoss-assets/BossHeadSeparate.png</key>
			<dict>
				<key>frame</key>
				<string>{{2,2},{157,194}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{157,194}</string>
			</dict>
			<key>Textures/BodySpark-assets/Spark00.png</key>
			<dict>
				<key>frame</key>
				<string>{{586,2},{42,42}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{42,42}</string>
			</dict>
			<key>Textures/BodySpark-assets/Spark01.png</key>
			<dict>
				<key>frame</key>
				<string>{{632,2},{42,42}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{42,42}</string>
			</dict>
			<key>Textures/BodySpark-assets/Spark04.png</key>
			<dict>
				<key>frame</key>
				<string>{{586,48},{42,42}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{42,42}</string>
			</dict>
			<key>Textures/BodySpark-assets/Spark05.png</key>
			<dict>
				<key>frame</key>
				<string>{{632,48},{42,42}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{42,42}</string>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>2</integer>
			<key>textureFileName</key>
			<string>AlienBossHead.png</string>
			<key>realTextureFileName</key>
			<string>AlienBossHead.png</string>
			<key>size</key>
			<string>{846,315}</string>
		</dict>
		<key>texture</key>
		<dict>
			<key>width</key>
			<integer>846</integer>
			<key>height</key>
			<integer>315</integer>
		</dict>
	</dict>
</plist>