<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>Textures/Stage03Character-assets/RingMasterCheer01.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,1},{408,408}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{408,408}</string>
			</dict>
			<key>Textures/Stage03Character-assets/RingMasterCheer02.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,411},{408,408}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{408,408}</string>
			</dict>
			<key>Textures/Stage03Character-assets/RingMasterCheer03.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,821},{408,408}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{408,408}</string>
			</dict>
			<key>Textures/Stage03Character-assets/RingMasterCheer04.png</key>
			<dict>
				<key>frame</key>
				<string>{{411,1},{408,408}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{408,408}</string>
			</dict>
			<key>Textures/Stage03Character-assets/RingMasterCheer05.png</key>
			<dict>
				<key>frame</key>
				<string>{{411,411},{408,408}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{408,408}</string>
			</dict>
			<key>Textures/Stage03Character-assets/RingMasterWait01.png</key>
			<dict>
				<key>frame</key>
				<string>{{411,821},{408,408}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{408,408}</string>
			</dict>
			<key>Textures/Stage03Character-assets/RingMasterWait02.png</key>
			<dict>
				<key>frame</key>
				<string>{{821,1},{408,408}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{408,408}</string>
			</dict>
			<key>Textures/Stage03Character-assets/RingMasterWait03.png</key>
			<dict>
				<key>frame</key>
				<string>{{1231,1},{408,408}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{408,408}</string>
			</dict>
			<key>Textures/Stage03Character-assets/RingMasterWait04.png</key>
			<dict>
				<key>frame</key>
				<string>{{821,411},{408,408}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{408,408}</string>
			</dict>
			<key>Textures/Stage03Character-assets/RingMasterWait05.png</key>
			<dict>
				<key>frame</key>
				<string>{{821,821},{408,408}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{408,408}</string>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>2</integer>
			<key>textureFileName</key>
			<string>RingMaster.png</string>
			<key>realTextureFileName</key>
			<string>RingMaster.png</string>
			<key>size</key>
			<string>{1640,1230}</string>
		</dict>
		<key>texture</key>
		<dict>
			<key>width</key>
			<integer>1640</integer>
			<key>height</key>
			<integer>1230</integer>
		</dict>
	</dict>
</plist>