<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>Textures/Antenna13China-assets/Body13.png</key>
			<dict>
				<key>frame</key>
				<string>{{83,1},{96,24}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{96,24}</string>
			</dict>
			<key>Textures/Antenna13China-assets/ChinaHat.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,1},{80,52}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{80,52}</string>
			</dict>
			<key>Textures/Antenna13China-assets/Hair01.png</key>
			<dict>
				<key>frame</key>
				<string>{{83,27},{24,24}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{24,24}</string>
			</dict>
			<key>Textures/Antenna13China-assets/Hair03.png</key>
			<dict>
				<key>frame</key>
				<string>{{181,1},{40,48}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{40,48}</string>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>2</integer>
			<key>textureFileName</key>
			<string>China.png</string>
			<key>realTextureFileName</key>
			<string>China.png</string>
			<key>size</key>
			<string>{230,54}</string>
		</dict>
		<key>texture</key>
		<dict>
			<key>width</key>
			<integer>230</integer>
			<key>height</key>
			<integer>54</integer>
		</dict>
	</dict>
</plist>