<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>Textures/Antenna16Pierrot-assets/Ball01.png</key>
			<dict>
				<key>frame</key>
				<string>{{123,1},{24,24}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{24,24}</string>
			</dict>
			<key>Textures/Antenna16Pierrot-assets/Ball02.png</key>
			<dict>
				<key>frame</key>
				<string>{{149,1},{24,24}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{24,24}</string>
			</dict>
			<key>Textures/Antenna16Pierrot-assets/Ball04.png</key>
			<dict>
				<key>frame</key>
				<string>{{123,27},{24,24}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{24,24}</string>
			</dict>
			<key>Textures/Antenna16Pierrot-assets/Body17.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,1},{120,88}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{120,88}</string>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>2</integer>
			<key>textureFileName</key>
			<string>Pierrot.png</string>
			<key>realTextureFileName</key>
			<string>Pierrot.png</string>
			<key>size</key>
			<string>{174,90}</string>
		</dict>
		<key>texture</key>
		<dict>
			<key>width</key>
			<integer>174</integer>
			<key>height</key>
			<integer>90</integer>
		</dict>
	</dict>
</plist>