<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>Textures/Antenna17Real-assets/Abduction01.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,1},{152,128}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{152,128}</string>
			</dict>
			<key>Textures/Antenna17Real-assets/Abduction02.png</key>
			<dict>
				<key>frame</key>
				<string>{{155,1},{152,128}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{152,128}</string>
			</dict>
			<key>Textures/Antenna17Real-assets/Abduction03.png</key>
			<dict>
				<key>frame</key>
				<string>{{309,1},{152,128}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{152,128}</string>
			</dict>
			<key>Textures/Antenna17Real-assets/Body17.png</key>
			<dict>
				<key>frame</key>
				<string>{{463,1},{120,76}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{120,76}</string>
			</dict>
			<key>Textures/UFORealBody-assets/UFOLeg1.png</key>
			<dict>
				<key>frame</key>
				<string>{{585,1},{112,28}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{112,28}</string>
			</dict>
			<key>Textures/UFORealBody-assets/UFOLeg2.png</key>
			<dict>
				<key>frame</key>
				<string>{{463,79},{112,28}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{112,28}</string>
			</dict>
			<key>Textures/UFORealBody-assets/UFOLeg3.png</key>
			<dict>
				<key>frame</key>
				<string>{{463,109},{112,28}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{112,28}</string>
			</dict>
			<key>Textures/UFORealBody-assets/UFOLeg4.png</key>
			<dict>
				<key>frame</key>
				<string>{{577,115},{112,28}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{112,28}</string>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>2</integer>
			<key>textureFileName</key>
			<string>Real.png</string>
			<key>realTextureFileName</key>
			<string>Real.png</string>
			<key>size</key>
			<string>{614,228}</string>
		</dict>
		<key>texture</key>
		<dict>
			<key>width</key>
			<integer>614</integer>
			<key>height</key>
			<integer>228</integer>
		</dict>
	</dict>
</plist>