<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>Textures/UFOBody-assets/UFOBody1.png</key>
			<dict>
				<key>frame</key>
				<string>{{487,141},{112,72}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{112,72}</string>
			</dict>
			<key>Textures/UFOBody-assets/UFOEye1.png</key>
			<dict>
				<key>frame</key>
				<string>{{469,545},{48,40}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{48,40}</string>
			</dict>
			<key>Textures/UFOBody-assets/UFOEye10.png</key>
			<dict>
				<key>frame</key>
				<string>{{573,529},{48,40}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{48,40}</string>
			</dict>
			<key>Textures/UFOBody-assets/UFOEye11.png</key>
			<dict>
				<key>frame</key>
				<string>{{519,557},{48,40}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{48,40}</string>
			</dict>
			<key>Textures/UFOBody-assets/UFOEye12.png</key>
			<dict>
				<key>frame</key>
				<string>{{469,587},{48,40}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{48,40}</string>
			</dict>
			<key>Textures/UFOBody-assets/UFOEye13.png</key>
			<dict>
				<key>frame</key>
				<string>{{569,571},{48,40}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{48,40}</string>
			</dict>
			<key>Textures/UFOBody-assets/UFOEye2.png</key>
			<dict>
				<key>frame</key>
				<string>{{519,599},{48,40}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{48,40}</string>
			</dict>
			<key>Textures/UFOBody-assets/UFOEye3.png</key>
			<dict>
				<key>frame</key>
				<string>{{569,613},{48,40}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{48,40}</string>
			</dict>
			<key>Textures/UFOBody-assets/UFOEye4.png</key>
			<dict>
				<key>frame</key>
				<string>{{321,521},{48,40}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{48,40}</string>
			</dict>
			<key>Textures/UFOBody-assets/UFOEye5.png</key>
			<dict>
				<key>frame</key>
				<string>{{371,521},{48,40}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{48,40}</string>
			</dict>
			<key>Textures/UFOBody-assets/UFOEye6.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,557},{48,40}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{48,40}</string>
			</dict>
			<key>Textures/UFOBody-assets/UFOEye7.png</key>
			<dict>
				<key>frame</key>
				<string>{{51,557},{48,40}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{48,40}</string>
			</dict>
			<key>Textures/UFOBody-assets/UFOEye8.png</key>
			<dict>
				<key>frame</key>
				<string>{{101,557},{48,40}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{48,40}</string>
			</dict>
			<key>Textures/UFOBody-assets/UFOEye9.png</key>
			<dict>
				<key>frame</key>
				<string>{{151,557},{48,40}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{48,40}</string>
			</dict>
			<key>Textures/UFOBody-assets/UFOLeg1.png</key>
			<dict>
				<key>frame</key>
				<string>{{601,141},{112,32}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{112,32}</string>
			</dict>
			<key>Textures/UFOBody-assets/UFOLeg2.png</key>
			<dict>
				<key>frame</key>
				<string>{{593,255},{112,32}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{112,32}</string>
			</dict>
			<key>Textures/UFOBody-assets/UFOLeg3.png</key>
			<dict>
				<key>frame</key>
				<string>{{321,487},{112,32}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{112,32}</string>
			</dict>
			<key>Textures/UFOBody-assets/UFOLeg4.png</key>
			<dict>
				<key>frame</key>
				<string>{{435,487},{112,32}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{112,32}</string>
			</dict>
			<key>Textures/UFOHand-assets/ArmJoint.png</key>
			<dict>
				<key>frame</key>
				<string>{{539,495},{32,60}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{32,60}</string>
			</dict>
			<key>Textures/UFOHand-assets/LHandle.png</key>
			<dict>
				<key>frame</key>
				<string>{{487,1},{68,136}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{68,136}</string>
			</dict>
			<key>Textures/UFOHand-assets/RHandle.png</key>
			<dict>
				<key>frame</key>
				<string>{{487,71},{68,136}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{68,136}</string>
			</dict>
			<key>Textures/UFOHand-assets/RHandleB.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,487},{68,80}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{68,80}</string>
			</dict>
			<key>Textures/UFOHand-assets/RHandleT.png</key>
			<dict>
				<key>frame</key>
				<string>{{83,487},{68,80}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{68,80}</string>
			</dict>
			<key>Textures/UFOHand-assets/RootExtra.png</key>
			<dict>
				<key>frame</key>
				<string>{{577,369},{88,56}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{88,56}</string>
			</dict>
			<key>Textures/UFOHandTrans-assets/UFOHandTrans01.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,1},{160,160}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{160,160}</string>
			</dict>
			<key>Textures/UFOHandTrans-assets/UFOHandTrans02.png</key>
			<dict>
				<key>frame</key>
				<string>{{163,1},{160,160}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{160,160}</string>
			</dict>
			<key>Textures/UFOHandTrans-assets/UFOHandTrans03.png</key>
			<dict>
				<key>frame</key>
				<string>{{325,1},{160,160}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{160,160}</string>
			</dict>
			<key>Textures/UFOHandTrans-assets/UFOHandTrans04.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,163},{160,160}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{160,160}</string>
			</dict>
			<key>Textures/UFOHandTrans-assets/UFOHandTrans05.png</key>
			<dict>
				<key>frame</key>
				<string>{{163,163},{160,160}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{160,160}</string>
			</dict>
			<key>Textures/UFOHandTrans-assets/UFOHandTrans06.png</key>
			<dict>
				<key>frame</key>
				<string>{{325,163},{160,160}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{160,160}</string>
			</dict>
			<key>Textures/UFOHandTrans-assets/UFOHandTrans07.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,325},{160,160}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{160,160}</string>
			</dict>
			<key>Textures/UFOHandTrans-assets/UFOHandTrans08.png</key>
			<dict>
				<key>frame</key>
				<string>{{163,325},{160,160}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{160,160}</string>
			</dict>
			<key>Textures/UFOHandTrans-assets/UFOHandTrans09.png</key>
			<dict>
				<key>frame</key>
				<string>{{325,325},{160,160}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{160,160}</string>
			</dict>
			<key>Textures/UFORootTrans-assets/UFORootTrans00.png</key>
			<dict>
				<key>frame</key>
				<string>{{469,495},{48,68}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{48,68}</string>
			</dict>
			<key>Textures/UFORootTrans-assets/UFORootTrans01.png</key>
			<dict>
				<key>frame</key>
				<string>{{577,459},{56,68}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{56,68}</string>
			</dict>
			<key>Textures/UFORootTrans-assets/UFORootTrans02.png</key>
			<dict>
				<key>frame</key>
				<string>{{247,487},{72,68}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{72,68}</string>
			</dict>
			<key>Textures/UFORootTrans-assets/UFORootTrans03.png</key>
			<dict>
				<key>frame</key>
				<string>{{165,487},{80,68}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{80,68}</string>
			</dict>
			<key>Textures/UFORootTrans-assets/UFORootTrans04.png</key>
			<dict>
				<key>frame</key>
				<string>{{487,215},{104,68}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{104,68}</string>
			</dict>
			<key>Textures/UFORootTrans-assets/UFORootTrans05.png</key>
			<dict>
				<key>frame</key>
				<string>{{487,285},{96,68}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{96,68}</string>
			</dict>
			<key>Textures/UFORootTrans-assets/UFORootTrans06.png</key>
			<dict>
				<key>frame</key>
				<string>{{487,355},{88,68}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{88,68}</string>
			</dict>
			<key>Textures/UFORootTrans-assets/UFORootTrans07.png</key>
			<dict>
				<key>frame</key>
				<string>{{487,425},{88,68}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{88,68}</string>
			</dict>
			<key>Textures/UFOTop-assets/Antenna.png</key>
			<dict>
				<key>frame</key>
				<string>{{625,1},{12,20}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{12,20}</string>
			</dict>
			<key>Textures/UFOTop-assets/TopBall.png</key>
			<dict>
				<key>frame</key>
				<string>{{201,557},{36,40}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{36,40}</string>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>2</integer>
			<key>textureFileName</key>
			<string>UFO.png</string>
			<key>realTextureFileName</key>
			<string>UFO.png</string>
			<key>size</key>
			<string>{638,654}</string>
		</dict>
		<key>texture</key>
		<dict>
			<key>width</key>
			<integer>638</integer>
			<key>height</key>
			<integer>654</integer>
		</dict>
	</dict>
</plist>