<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>Textures/Antenna24Witch-assets/Broom.png</key>
			<dict>
				<key>frame</key>
				<string>{{229,1},{56,60}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{56,60}</string>
			</dict>
			<key>Textures/Antenna24Witch-assets/BroomHandle.png</key>
			<dict>
				<key>frame</key>
				<string>{{147,1},{80,76}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{80,76}</string>
			</dict>
			<key>Textures/Antenna24Witch-assets/UFOBody24.png</key>
			<dict>
				<key>frame</key>
				<string>{{147,79},{104,32}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{104,32}</string>
			</dict>
			<key>Textures/Antenna24Witch-assets/WitchHat.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,1},{144,84}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{144,84}</string>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>2</integer>
			<key>textureFileName</key>
			<string>Witch.png</string>
			<key>realTextureFileName</key>
			<string>Witch.png</string>
			<key>size</key>
			<string>{286,112}</string>
		</dict>
		<key>texture</key>
		<dict>
			<key>width</key>
			<integer>286</integer>
			<key>height</key>
			<integer>112</integer>
		</dict>
	</dict>
</plist>