<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>Textures/CircusBG-assets/Hell.png</key>
			<dict>
				<key>frame</key>
				<string>{{865,1},{540,87}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{540,87}</string>
			</dict>
			<key>Textures/CircusBG-assets/BGFront.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,488},{540,81}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{540,81}</string>
			</dict>
			<key>Textures/CircusBG-assets/BGMiddle.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,1},{540,320}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{540,320}</string>
			</dict>
			<key>Textures/CircusBG-assets/Black.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,935},{540,71}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{540,71}</string>
			</dict>
			<key>Textures/CircusBG-assets/Light.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,1008},{74,9}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{74,9}</string>
			</dict>
			<key>Textures/CircusBG-assets/Shadow.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,323},{540,163}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{540,163}</string>
			</dict>
			<key>Textures/CircusBG-assets/Rope01.png</key>
			<dict>
				<key>frame</key>
				<string>{{954,1},{540,67}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{540,67}</string>
			</dict>
			<key>Textures/CircusBG-assets/Rope02.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,571},{540,67}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{540,67}</string>
			</dict>
			<key>Textures/CircusBG-assets/Rope03.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,640},{540,67}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{540,67}</string>
			</dict>
			<key>Textures/CircusBG-assets/Rope04.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,709},{540,67}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{540,67}</string>
			</dict>
			<key>Textures/CircusBG-assets/Rope05.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,778},{540,67}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{540,67}</string>
			</dict>
			<key>Textures/CircusBG-assets/LRabbit01.png</key>
			<dict>
				<key>frame</key>
				<string>{{543,981},{37,67}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{37,67}</string>
			</dict>
			<key>Textures/CircusBG-assets/RRabbit01.png</key>
			<dict>
				<key>frame</key>
				<string>{{543,935},{44,91}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{44,91}</string>
			</dict>
			<key>Textures/CircusBG-assets/RRabbit02.png</key>
			<dict>
				<key>frame</key>
				<string>{{681,543},{44,91}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{44,91}</string>
			</dict>
			<key>Textures/CircusBG-assets/RRabbit03.png</key>
			<dict>
				<key>frame</key>
				<string>{{590,543},{44,91}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{44,91}</string>
			</dict>
			<key>Textures/CircusBG-assets/RRabbit04.png</key>
			<dict>
				<key>frame</key>
				<string>{{774,543},{44,91}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{44,91}</string>
			</dict>
			<key>Textures/CircusBG-assets/RRabbit05.png</key>
			<dict>
				<key>frame</key>
				<string>{{867,543},{44,91}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{44,91}</string>
			</dict>
			<key>Textures/CircusBG-assets/LRabbit02.png</key>
			<dict>
				<key>frame</key>
				<string>{{612,981},{37,67}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{37,67}</string>
			</dict>
			<key>Textures/CircusBG-assets/LRabbit03.png</key>
			<dict>
				<key>frame</key>
				<string>{{636,543},{37,67}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{37,67}</string>
			</dict>
			<key>Textures/CircusBG-assets/LRabbit04.png</key>
			<dict>
				<key>frame</key>
				<string>{{960,543},{37,67}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{37,67}</string>
			</dict>
			<key>Textures/CircusBG-assets/LRabbit05.png</key>
			<dict>
				<key>frame</key>
				<string>{{675,589},{37,67}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{37,67}</string>
			</dict>
			<key>Textures/CircusBG-assets/LRabbit06.png</key>
			<dict>
				<key>frame</key>
				<string>{{636,612},{37,67}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{37,67}</string>
			</dict>
			<key>Textures/CircusBG-assets/LRabbit07.png</key>
			<dict>
				<key>frame</key>
				<string>{{590,636},{37,67}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{37,67}</string>
			</dict>
			<key>Textures/CircusBG-assets/Curtain.png</key>
			<dict>
				<key>frame</key>
				<string>{{543,543},{45,390}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{45,390}</string>
			</dict>
			<key>Textures/CircusBG-assets/BGBack.png</key>
			<dict>
				<key>frame</key>
				<string>{{543,1},{540,320}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{540,320}</string>
			</dict>
			<key>Textures/CircusBG-assets/UpperCurtain01.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,847},{540,64}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{540,64}</string>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>2</integer>
			<key>textureFileName</key>
			<string>Stage02.png</string>
			<key>realTextureFileName</key>
			<string>Stage02.png</string>
			<key>size</key>
			<string>{1022,1019}</string>
		</dict>
		<key>texture</key>
		<dict>
			<key>width</key>
			<integer>1022</integer>
			<key>height</key>
			<integer>1019</integer>
		</dict>
	</dict>
</plist>