<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>Textures/Display-assets/DisplaySmall.png</key>
			<dict>
				<key>frame</key>
				<string>{{223,1},{182,165}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{182,165}</string>
			</dict>
			<key>Textures/Display-assets/Frame01.png</key>
			<dict>
				<key>frame</key>
				<string>{{492,127},{76,100}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{76,100}</string>
			</dict>
			<key>Textures/Display-assets/Frame02.png</key>
			<dict>
				<key>frame</key>
				<string>{{492,1},{124,100}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{124,100}</string>
			</dict>
			<key>Textures/Display-assets/Frame03.png</key>
			<dict>
				<key>frame</key>
				<string>{{390,1},{100,172}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{100,172}</string>
			</dict>
			<key>Textures/Display-assets/Caption00.png</key>
			<dict>
				<key>frame</key>
				<string>{{660,165},{43,27}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{43,27}</string>
			</dict>
			<key>Textures/Display-assets/Caption01.png</key>
			<dict>
				<key>frame</key>
				<string>{{689,165},{43,27}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{43,27}</string>
			</dict>
			<key>Textures/Display-assets/Caption02.png</key>
			<dict>
				<key>frame</key>
				<string>{{693,1},{43,27}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{43,27}</string>
			</dict>
			<key>Textures/Display-assets/Caption03.png</key>
			<dict>
				<key>frame</key>
				<string>{{693,46},{43,27}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{43,27}</string>
			</dict>
			<key>Textures/Display-assets/Caption04.png</key>
			<dict>
				<key>frame</key>
				<string>{{693,91},{43,27}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{43,27}</string>
			</dict>
			<key>Textures/Display-assets/Caption05.png</key>
			<dict>
				<key>frame</key>
				<string>{{693,136},{43,27}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{43,27}</string>
			</dict>
			<key>Textures/Display-assets/Caption06.png</key>
			<dict>
				<key>frame</key>
				<string>{{718,165},{43,27}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{43,27}</string>
			</dict>
			<key>Textures/Display-assets/DisplayBig.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,1},{218,220}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{218,220}</string>
			</dict>
			<key>Textures/Display-assets/Graph00.png</key>
			<dict>
				<key>frame</key>
				<string>{{722,1},{22,45}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{22,45}</string>
			</dict>
			<key>Textures/Display-assets/Graph01.png</key>
			<dict>
				<key>frame</key>
				<string>{{722,48},{22,45}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{22,45}</string>
			</dict>
			<key>Textures/Display-assets/Graph02.png</key>
			<dict>
				<key>frame</key>
				<string>{{722,95},{22,45}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{22,45}</string>
			</dict>
			<key>Textures/Display-assets/Hologram00.png</key>
			<dict>
				<key>frame</key>
				<string>{{223,185},{86,31}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{86,31}</string>
			</dict>
			<key>Textures/Display-assets/NodeBase00.png</key>
			<dict>
				<key>frame</key>
				<string>{{311,185},{31,39}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{31,39}</string>
			</dict>
			<key>Textures/Display-assets/NodeBase01.png</key>
			<dict>
				<key>frame</key>
				<string>{{352,185},{31,39}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{31,39}</string>
			</dict>
			<key>Textures/Display-assets/NodeBase02.png</key>
			<dict>
				<key>frame</key>
				<string>{{393,175},{31,39}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{31,39}</string>
			</dict>
			<key>Textures/Display-assets/NodeBase03.png</key>
			<dict>
				<key>frame</key>
				<string>{{426,175},{31,39}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{31,39}</string>
			</dict>
			<key>Textures/Display-assets/NodeBase04.png</key>
			<dict>
				<key>frame</key>
				<string>{{459,175},{31,39}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{31,39}</string>
			</dict>
			<key>Textures/Display-assets/NodeBase05.png</key>
			<dict>
				<key>frame</key>
				<string>{{594,1},{31,39}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{31,39}</string>
			</dict>
			<key>Textures/Display-assets/NodeBase06.png</key>
			<dict>
				<key>frame</key>
				<string>{{594,42},{31,39}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{31,39}</string>
			</dict>
			<key>Textures/Display-assets/NodeBase07.png</key>
			<dict>
				<key>frame</key>
				<string>{{594,83},{31,39}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{31,39}</string>
			</dict>
			<key>Textures/Display-assets/NodeBase08.png</key>
			<dict>
				<key>frame</key>
				<string>{{594,124},{31,39}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{31,39}</string>
			</dict>
			<key>Textures/Display-assets/NodeBase09.png</key>
			<dict>
				<key>frame</key>
				<string>{{594,165},{31,39}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{31,39}</string>
			</dict>
			<key>Textures/Display-assets/NodeString00.png</key>
			<dict>
				<key>frame</key>
				<string>{{627,1},{31,39}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{31,39}</string>
			</dict>
			<key>Textures/Display-assets/NodeString04.png</key>
			<dict>
				<key>frame</key>
				<string>{{627,42},{31,39}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{31,39}</string>
			</dict>
			<key>Textures/Display-assets/NodeString06.png</key>
			<dict>
				<key>frame</key>
				<string>{{627,83},{31,39}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{31,39}</string>
			</dict>
			<key>Textures/Display-assets/NodeString07.png</key>
			<dict>
				<key>frame</key>
				<string>{{627,124},{31,39}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{31,39}</string>
			</dict>
			<key>Textures/Display-assets/NodeString08.png</key>
			<dict>
				<key>frame</key>
				<string>{{627,165},{31,39}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{31,39}</string>
			</dict>
			<key>Textures/Display-assets/Text00.png</key>
			<dict>
				<key>frame</key>
				<string>{{747,160},{30,20}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{30,20}</string>
			</dict>
			<key>Textures/Display-assets/Text01.png</key>
			<dict>
				<key>frame</key>
				<string>{{747,192},{30,20}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{30,20}</string>
			</dict>
			<key>Textures/Display-assets/Text02.png</key>
			<dict>
				<key>frame</key>
				<string>{{763,119},{30,20}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{30,20}</string>
			</dict>
			<key>Textures/Display-assets/Text03.png</key>
			<dict>
				<key>frame</key>
				<string>{{769,151},{30,20}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{30,20}</string>
			</dict>
			<key>Textures/Display-assets/Wifi.png</key>
			<dict>
				<key>frame</key>
				<string>{{492,205},{9,57}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{9,57}</string>
			</dict>
			<key>Textures/Display-assets/NodeString01.png</key>
			<dict>
				<key>frame</key>
				<string>{{660,1},{31,39}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{31,39}</string>
			</dict>
			<key>Textures/Display-assets/NodeString02.png</key>
			<dict>
				<key>frame</key>
				<string>{{660,42},{31,39}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{31,39}</string>
			</dict>
			<key>Textures/Display-assets/NodeString03.png</key>
			<dict>
				<key>frame</key>
				<string>{{660,83},{31,39}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{31,39}</string>
			</dict>
			<key>Textures/Display-assets/NodeString05.png</key>
			<dict>
				<key>frame</key>
				<string>{{660,124},{31,39}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{31,39}</string>
			</dict>
			<key>Textures/Display-assets/HologramB.png</key>
			<dict>
				<key>frame</key>
				<string>{{738,119},{39,23}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{39,23}</string>
			</dict>
			<key>Textures/Display-assets/HologramC.png</key>
			<dict>
				<key>frame</key>
				<string>{{551,205},{14,12}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{14,12}</string>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>2</integer>
			<key>textureFileName</key>
			<string>Display.png</string>
			<key>realTextureFileName</key>
			<string>Display.png</string>
			<key>size</key>
			<string>{790,220}</string>
		</dict>
		<key>texture</key>
		<dict>
			<key>width</key>
			<integer>790</integer>
			<key>height</key>
			<integer>220</integer>
		</dict>
	</dict>
</plist>