<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>Textures/DoctorSerif-assets/DoctorSerif001.png</key>
			<dict>
				<key>frame</key>
				<string>{{797,2},{11,11}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{11,11}</string>
			</dict>
			<key>Textures/DoctorSerif-assets/DoctorSerif002.png</key>
			<dict>
				<key>frame</key>
				<string>{{812,2},{11,11}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{11,11}</string>
			</dict>
			<key>Textures/DoctorSerif-assets/DoctorSerif003.png</key>
			<dict>
				<key>frame</key>
				<string>{{797,17},{11,11}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{11,11}</string>
			</dict>
			<key>Textures/DoctorSerif-assets/DoctorSerif004.png</key>
			<dict>
				<key>frame</key>
				<string>{{812,17},{11,11}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{11,11}</string>
			</dict>
			<key>Textures/DoctorSerif-assets/DoctorSerif005.png</key>
			<dict>
				<key>frame</key>
				<string>{{797,32},{11,11}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{11,11}</string>
			</dict>
			<key>Textures/DoctorSerif-assets/DoctorSerif006.png</key>
			<dict>
				<key>frame</key>
				<string>{{812,32},{11,11}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{11,11}</string>
			</dict>
			<key>Textures/DoctorSerif-assets/DoctorSerif007.png</key>
			<dict>
				<key>frame</key>
				<string>{{797,47},{11,11}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{11,11}</string>
			</dict>
			<key>Textures/DoctorSerif-assets/DoctorSerif008.png</key>
			<dict>
				<key>frame</key>
				<string>{{812,47},{11,11}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{11,11}</string>
			</dict>
			<key>Textures/DoctorSerif-assets/DoctorSerif009.png</key>
			<dict>
				<key>frame</key>
				<string>{{797,62},{11,11}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{11,11}</string>
			</dict>
			<key>Textures/DoctorSerif-assets/DoctorSerif010.png</key>
			<dict>
				<key>frame</key>
				<string>{{797,152},{9,11}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{9,11}</string>
			</dict>
			<key>Textures/DoctorSerif-assets/DoctorSerif011.png</key>
			<dict>
				<key>frame</key>
				<string>{{772,172},{6,11}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{6,11}</string>
			</dict>
			<key>Textures/DoctorSerif-assets/DoctorSerif012.png</key>
			<dict>
				<key>frame</key>
				<string>{{812,62},{11,11}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{11,11}</string>
			</dict>
			<key>Textures/DoctorSerif-assets/DoctorSerif013.png</key>
			<dict>
				<key>frame</key>
				<string>{{797,77},{11,11}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{11,11}</string>
			</dict>
			<key>Textures/DoctorSerif-assets/DoctorSerif014.png</key>
			<dict>
				<key>frame</key>
				<string>{{797,167},{9,11}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{9,11}</string>
			</dict>
			<key>Textures/DoctorSerif-assets/DoctorSerif015.png</key>
			<dict>
				<key>frame</key>
				<string>{{812,77},{11,11}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{11,11}</string>
			</dict>
			<key>Textures/DoctorSerif-assets/DoctorSerif016.png</key>
			<dict>
				<key>frame</key>
				<string>{{797,92},{11,11}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{11,11}</string>
			</dict>
			<key>Textures/DoctorSerif-assets/DoctorSerif017.png</key>
			<dict>
				<key>frame</key>
				<string>{{812,92},{11,11}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{11,11}</string>
			</dict>
			<key>Textures/DoctorSerif-assets/DoctorSerif018.png</key>
			<dict>
				<key>frame</key>
				<string>{{797,107},{11,11}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{11,11}</string>
			</dict>
			<key>Textures/DoctorSerif-assets/DoctorSerif019.png</key>
			<dict>
				<key>frame</key>
				<string>{{812,107},{11,11}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{11,11}</string>
			</dict>
			<key>Textures/DoctorSerif-assets/DoctorSerif020.png</key>
			<dict>
				<key>frame</key>
				<string>{{797,122},{11,11}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{11,11}</string>
			</dict>
			<key>Textures/DoctorSerif-assets/DoctorSerif021.png</key>
			<dict>
				<key>frame</key>
				<string>{{812,122},{11,11}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{11,11}</string>
			</dict>
			<key>Textures/DoctorSerif-assets/DoctorSerif022.png</key>
			<dict>
				<key>frame</key>
				<string>{{797,137},{11,11}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{11,11}</string>
			</dict>
			<key>Textures/DoctorSerif-assets/DoctorSerif023.png</key>
			<dict>
				<key>frame</key>
				<string>{{812,137},{11,11}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{11,11}</string>
			</dict>
			<key>Textures/DoctorSerif-assets/Window00.png</key>
			<dict>
				<key>frame</key>
				<string>{{2,2},{176,51}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{176,51}</string>
			</dict>
			<key>Textures/DoctorSerif-assets/Window01.png</key>
			<dict>
				<key>frame</key>
				<string>{{57,2},{176,51}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{176,51}</string>
			</dict>
			<key>Textures/DoctorSerif-assets/Window02.png</key>
			<dict>
				<key>frame</key>
				<string>{{112,2},{176,51}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{176,51}</string>
			</dict>
			<key>Textures/DoctorSerif-assets/Window03.png</key>
			<dict>
				<key>frame</key>
				<string>{{167,2},{176,51}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{176,51}</string>
			</dict>
			<key>Textures/DoctorSerif-assets/Window04.png</key>
			<dict>
				<key>frame</key>
				<string>{{222,2},{176,51}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{176,51}</string>
			</dict>
			<key>Textures/DoctorSerif-assets/Window05.png</key>
			<dict>
				<key>frame</key>
				<string>{{277,2},{176,51}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{176,51}</string>
			</dict>
			<key>Textures/DoctorSerif-assets/Window06.png</key>
			<dict>
				<key>frame</key>
				<string>{{332,2},{176,51}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{176,51}</string>
			</dict>
			<key>Textures/DoctorSerif-assets/Window07.png</key>
			<dict>
				<key>frame</key>
				<string>{{387,2},{176,51}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{176,51}</string>
			</dict>
			<key>Textures/DoctorSerif-assets/Window08.png</key>
			<dict>
				<key>frame</key>
				<string>{{442,2},{176,51}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{176,51}</string>
			</dict>
			<key>Textures/DoctorSerif-assets/WindowIn01.png</key>
			<dict>
				<key>frame</key>
				<string>{{497,2},{176,51}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{176,51}</string>
			</dict>
			<key>Textures/DoctorSerif-assets/WindowIn02.png</key>
			<dict>
				<key>frame</key>
				<string>{{552,2},{176,51}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{176,51}</string>
			</dict>
			<key>Textures/DoctorSerif-assets/WindowIn03.png</key>
			<dict>
				<key>frame</key>
				<string>{{607,2},{176,51}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{176,51}</string>
			</dict>
			<key>Textures/DoctorSerif-assets/WindowRed.png</key>
			<dict>
				<key>frame</key>
				<string>{{662,2},{176,51}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{176,51}</string>
			</dict>
			<key>Textures/DoctorSerif-assets/WindowIn04.png</key>
			<dict>
				<key>frame</key>
				<string>{{717,2},{176,51}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{176,51}</string>
			</dict>
			<key>Textures/DoctorSerif-assets/WindowIn05.png</key>
			<dict>
				<key>frame</key>
				<string>{{772,2},{166,15}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{166,15}</string>
			</dict>
			<key>Textures/DoctorSerif-assets/WindowIn06.png</key>
			<dict>
				<key>frame</key>
				<string>{{791,2},{166,2}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{166,2}</string>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>2</integer>
			<key>textureFileName</key>
			<string>DoctorSerif.png</string>
			<key>realTextureFileName</key>
			<string>DoctorSerif.png</string>
			<key>size</key>
			<string>{825,180}</string>
		</dict>
		<key>texture</key>
		<dict>
			<key>width</key>
			<integer>825</integer>
			<key>height</key>
			<integer>180</integer>
		</dict>
	</dict>
</plist>