<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>Textures/Scan-assets/AudioWhite.png</key>
			<dict>
				<key>frame</key>
				<string>{{123,186},{124,106}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{124,106}</string>
			</dict>
			<key>Textures/Scan-assets/Noise00.png</key>
			<dict>
				<key>frame</key>
				<string>{{398,361},{44,33}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{44,33}</string>
			</dict>
			<key>Textures/Scan-assets/Noise01.png</key>
			<dict>
				<key>frame</key>
				<string>{{411,129},{44,33}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{44,33}</string>
			</dict>
			<key>Textures/Scan-assets/RobotArmorWhite.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,186},{120,186}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{120,186}</string>
			</dict>
			<key>Textures/Scan-assets/RobotHelmet.png</key>
			<dict>
				<key>frame</key>
				<string>{{123,312},{50,45}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{50,45}</string>
			</dict>
			<key>Textures/Scan-assets/ScanBack.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,374},{178,24}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{178,24}</string>
			</dict>
			<key>Textures/Scan-assets/ScanFront.png</key>
			<dict>
				<key>frame</key>
				<string>{{354,72},{178,24}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{178,24}</string>
			</dict>
			<key>Textures/Scan-assets/TVDisplay00.png</key>
			<dict>
				<key>frame</key>
				<string>{{411,175},{44,33}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{44,33}</string>
			</dict>
			<key>Textures/Scan-assets/TVDisplay01.png</key>
			<dict>
				<key>frame</key>
				<string>{{411,221},{44,33}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{44,33}</string>
			</dict>
			<key>Textures/Scan-assets/TVTowerWhite.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,1},{124,183}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{124,183}</string>
			</dict>
			<key>Textures/Scan-assets/WaveBack.png</key>
			<dict>
				<key>frame</key>
				<string>{{231,252},{178,24}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{178,24}</string>
			</dict>
			<key>Textures/Scan-assets/WaveFront.png</key>
			<dict>
				<key>frame</key>
				<string>{{181,312},{171,70}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{171,70}</string>
			</dict>
			<key>Textures/Scan-assets/AudioSet01.png</key>
			<dict>
				<key>frame</key>
				<string>{{354,355},{42,42}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{42,42}</string>
			</dict>
			<key>Textures/Scan-assets/AudioSet02.png</key>
			<dict>
				<key>frame</key>
				<string>{{181,384},{44,17}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{44,17}</string>
			</dict>
			<key>Textures/Scan-assets/AudioSet03.png</key>
			<dict>
				<key>frame</key>
				<string>{{356,278},{54,29}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{54,29}</string>
			</dict>
			<key>Textures/Scan-assets/AudioSet05.png</key>
			<dict>
				<key>frame</key>
				<string>{{161,359},{7,7}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{7,7}</string>
			</dict>
			<key>Textures/Scan-assets/RobotHead.png</key>
			<dict>
				<key>frame</key>
				<string>{{412,267},{37,37}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{37,37}</string>
			</dict>
			<key>Textures/Scan-assets/RobotBreastArmor.png</key>
			<dict>
				<key>frame</key>
				<string>{{354,1},{70,69}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{70,69}</string>
			</dict>
			<key>Textures/Scan-assets/RobotFist.png</key>
			<dict>
				<key>frame</key>
				<string>{{310,36},{33,33}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{33,33}</string>
			</dict>
			<key>Textures/Scan-assets/RobotFoot.png</key>
			<dict>
				<key>frame</key>
				<string>{{411,72},{55,32}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{55,32}</string>
			</dict>
			<key>Textures/Scan-assets/RobotKnee.png</key>
			<dict>
				<key>frame</key>
				<string>{{380,72},{28,24}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{28,24}</string>
			</dict>
			<key>Textures/Scan-assets/RobotShoulder.png</key>
			<dict>
				<key>frame</key>
				<string>{{354,310},{46,43}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{46,43}</string>
			</dict>
			<key>Textures/Scan-assets/RobotWaist.png</key>
			<dict>
				<key>frame</key>
				<string>{{231,278},{60,31}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{60,31}</string>
			</dict>
			<key>Textures/Scan-assets/RobotArm.png</key>
			<dict>
				<key>frame</key>
				<string>{{310,71},{33,33}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{33,33}</string>
			</dict>
			<key>Textures/Scan-assets/TVAntenna01.png</key>
			<dict>
				<key>frame</key>
				<string>{{227,384},{14,25}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{14,25}</string>
			</dict>
			<key>Textures/Scan-assets/TVAntenna02.png</key>
			<dict>
				<key>frame</key>
				<string>{{426,1},{24,23}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{24,23}</string>
			</dict>
			<key>Textures/Scan-assets/TVAntennaBase.png</key>
			<dict>
				<key>frame</key>
				<string>{{123,359},{36,11}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{36,11}</string>
			</dict>
			<key>Textures/Scan-assets/TVCorner.png</key>
			<dict>
				<key>frame</key>
				<string>{{380,98},{25,25}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{25,25}</string>
			</dict>
			<key>Textures/Scan-assets/TVMonitor.png</key>
			<dict>
				<key>frame</key>
				<string>{{402,309},{50,39}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{50,39}</string>
			</dict>
			<key>Textures/Scan-assets/TVParabola01.png</key>
			<dict>
				<key>frame</key>
				<string>{{231,36},{31,41}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{31,41}</string>
			</dict>
			<key>Textures/Scan-assets/TVParabola02.png</key>
			<dict>
				<key>frame</key>
				<string>{{127,36},{31,41}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{31,41}</string>
			</dict>
			<key>Textures/Scan-assets/TVParabola03.png</key>
			<dict>
				<key>frame</key>
				<string>{{170,36},{31,41}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{31,41}</string>
			</dict>
			<key>Textures/Scan-assets/TVPipe.png</key>
			<dict>
				<key>frame</key>
				<string>{{293,278},{30,61}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{30,61}</string>
			</dict>
			<key>Textures/Scan-assets/BackFire01.png</key>
			<dict>
				<key>frame</key>
				<string>{{274,36},{34,34}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{34,34}</string>
			</dict>
			<key>Textures/Scan-assets/BackFire02.png</key>
			<dict>
				<key>frame</key>
				<string>{{231,69},{34,34}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{34,34}</string>
			</dict>
			<key>Textures/Scan-assets/TVDisplay02.png</key>
			<dict>
				<key>frame</key>
				<string>{{231,1},{44,33}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{44,33}</string>
			</dict>
			<key>Textures/Scan-assets/TVDisplay03.png</key>
			<dict>
				<key>frame</key>
				<string>{{127,1},{44,33}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{44,33}</string>
			</dict>
			<key>Textures/Scan-assets/TVDisplay04.png</key>
			<dict>
				<key>frame</key>
				<string>{{173,1},{44,33}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{44,33}</string>
			</dict>
			<key>Textures/Scan-assets/TVDisplay05.png</key>
			<dict>
				<key>frame</key>
				<string>{{277,1},{44,33}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{44,33}</string>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>2</integer>
			<key>textureFileName</key>
			<string>Scan.png</string>
			<key>realTextureFileName</key>
			<string>Scan.png</string>
			<key>size</key>
			<string>{450,406}</string>
		</dict>
		<key>texture</key>
		<dict>
			<key>width</key>
			<integer>450</integer>
			<key>height</key>
			<integer>406</integer>
		</dict>
	</dict>
</plist>