<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>Textures/Stage06Character-assets/ClientFail01.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,221},{98,126}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{98,126}</string>
			</dict>
			<key>Textures/Stage06Character-assets/ClientFail02.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,349},{98,126}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{98,126}</string>
			</dict>
			<key>Textures/Stage06Character-assets/ClientFail03.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,477},{98,126}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{98,126}</string>
			</dict>
			<key>Textures/Stage06Character-assets/ClientFail04.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,605},{98,126}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{98,126}</string>
			</dict>
			<key>Textures/Stage06Character-assets/ClientFail05.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,733},{98,126}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{98,126}</string>
			</dict>
			<key>Textures/Stage06Character-assets/ClientFail06.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,861},{98,126}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{98,126}</string>
			</dict>
			<key>Textures/Stage06Character-assets/ClientFail07.png</key>
			<dict>
				<key>frame</key>
				<string>{{101,221},{98,126}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{98,126}</string>
			</dict>
			<key>Textures/Stage06Character-assets/ClientFail08.png</key>
			<dict>
				<key>frame</key>
				<string>{{157,1},{98,126}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{98,126}</string>
			</dict>
			<key>Textures/Stage06Character-assets/ClientRock.png</key>
			<dict>
				<key>frame</key>
				<string>{{529,513},{74,53}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{74,53}</string>
			</dict>
			<key>Textures/Stage06Character-assets/ClientSuccess01.png</key>
			<dict>
				<key>frame</key>
				<string>{{257,1},{98,126}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{98,126}</string>
			</dict>
			<key>Textures/Stage06Character-assets/ClientSuccess02.png</key>
			<dict>
				<key>frame</key>
				<string>{{101,349},{98,126}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{98,126}</string>
			</dict>
			<key>Textures/Stage06Character-assets/ClientSuccess03.png</key>
			<dict>
				<key>frame</key>
				<string>{{101,477},{98,126}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{98,126}</string>
			</dict>
			<key>Textures/Stage06Character-assets/ClientSuccess04.png</key>
			<dict>
				<key>frame</key>
				<string>{{101,605},{98,126}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{98,126}</string>
			</dict>
			<key>Textures/Stage06Character-assets/ClientThrill01.png</key>
			<dict>
				<key>frame</key>
				<string>{{101,733},{98,126}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{98,126}</string>
			</dict>
			<key>Textures/Stage06Character-assets/ClientThrill02.png</key>
			<dict>
				<key>frame</key>
				<string>{{101,861},{98,126}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{98,126}</string>
			</dict>
			<key>Textures/Stage06Character-assets/ClientThrill03.png</key>
			<dict>
				<key>frame</key>
				<string>{{201,221},{98,126}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{98,126}</string>
			</dict>
			<key>Textures/Stage06Character-assets/ClientThrill04.png</key>
			<dict>
				<key>frame</key>
				<string>{{357,1},{98,126}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{98,126}</string>
			</dict>
			<key>Textures/Stage06Character-assets/ClientUnder.png</key>
			<dict>
				<key>frame</key>
				<string>{{201,349},{98,126}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{98,126}</string>
			</dict>
			<key>Textures/Stage06Character-assets/ClientWait01.png</key>
			<dict>
				<key>frame</key>
				<string>{{201,477},{98,126}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{98,126}</string>
			</dict>
			<key>Textures/Stage06Character-assets/ClientWait02.png</key>
			<dict>
				<key>frame</key>
				<string>{{201,605},{98,126}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{98,126}</string>
			</dict>
			<key>Textures/Stage06Character-assets/ClientWait03.png</key>
			<dict>
				<key>frame</key>
				<string>{{201,733},{98,126}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{98,126}</string>
			</dict>
			<key>Textures/Stage06Character-assets/ClientWait04.png</key>
			<dict>
				<key>frame</key>
				<string>{{201,861},{98,126}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{98,126}</string>
			</dict>
			<key>Textures/Stage06Character-assets/ClientWait05.png</key>
			<dict>
				<key>frame</key>
				<string>{{301,221},{98,126}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{98,126}</string>
			</dict>
			<key>Textures/Stage06Character-assets/ClientWait06.png</key>
			<dict>
				<key>frame</key>
				<string>{{457,1},{98,126}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{98,126}</string>
			</dict>
			<key>Textures/Stage06Character-assets/Wing01.png</key>
			<dict>
				<key>frame</key>
				<string>{{401,980},{38,37}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{38,37}</string>
			</dict>
			<key>Textures/Stage06Character-assets/Wing02.png</key>
			<dict>
				<key>frame</key>
				<string>{{440,980},{38,37}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{38,37}</string>
			</dict>
			<key>Textures/Stage06Character-assets/Wing03.png</key>
			<dict>
				<key>frame</key>
				<string>{{479,980},{38,37}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{38,37}</string>
			</dict>
			<key>Textures/Stage06Character-assets/Wing04.png</key>
			<dict>
				<key>frame</key>
				<string>{{584,513},{38,37}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{38,37}</string>
			</dict>
			<key>Textures/Stage06Character-assets/Shining01.png</key>
			<dict>
				<key>frame</key>
				<string>{{157,129},{90,111}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{90,111}</string>
			</dict>
			<key>Textures/Stage06Character-assets/Shining02.png</key>
			<dict>
				<key>frame</key>
				<string>{{270,129},{90,111}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{90,111}</string>
			</dict>
			<key>Textures/Stage06Character-assets/AngelLComplete01.png</key>
			<dict>
				<key>frame</key>
				<string>{{584,553},{38,37}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{38,37}</string>
			</dict>
			<key>Textures/Stage06Character-assets/AngelLComplete02.png</key>
			<dict>
				<key>frame</key>
				<string>{{518,980},{38,37}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{38,37}</string>
			</dict>
			<key>Textures/Stage06Character-assets/AngelLComplete03.png</key>
			<dict>
				<key>frame</key>
				<string>{{557,980},{38,37}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{38,37}</string>
			</dict>
			<key>Textures/Stage06Character-assets/AngelLComplete04.png</key>
			<dict>
				<key>frame</key>
				<string>{{596,980},{38,37}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{38,37}</string>
			</dict>
			<key>Textures/Stage06Character-assets/ClientComplete01.png</key>
			<dict>
				<key>frame</key>
				<string>{{383,129},{65,149}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{65,149}</string>
			</dict>
			<key>Textures/Stage06Character-assets/AngelR01.png</key>
			<dict>
				<key>frame</key>
				<string>{{623,513},{38,37}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{38,37}</string>
			</dict>
			<key>Textures/Stage06Character-assets/Light.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,1},{154,218}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{154,218}</string>
			</dict>
			<key>Textures/Stage06Character-assets/ClientJapanismComplete01.png</key>
			<dict>
				<key>frame</key>
				<string>{{301,349},{98,126}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{98,126}</string>
			</dict>
			<key>Textures/Stage06Character-assets/ClientJapanismComplete02.png</key>
			<dict>
				<key>frame</key>
				<string>{{301,477},{98,126}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{98,126}</string>
			</dict>
			<key>Textures/Stage06Character-assets/ClientJapanismComplete03.png</key>
			<dict>
				<key>frame</key>
				<string>{{301,605},{98,126}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{98,126}</string>
			</dict>
			<key>Textures/Stage06Character-assets/ClientJapanismComplete04.png</key>
			<dict>
				<key>frame</key>
				<string>{{301,733},{98,126}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{98,126}</string>
			</dict>
			<key>Textures/Stage06Character-assets/ClientJapanismComplete05.png</key>
			<dict>
				<key>frame</key>
				<string>{{301,861},{98,126}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{98,126}</string>
			</dict>
			<key>Textures/Stage06Character-assets/ClientJapanismComplete06.png</key>
			<dict>
				<key>frame</key>
				<string>{{534,129},{98,126}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{98,126}</string>
			</dict>
			<key>Textures/Stage06Character-assets/ClientJapanismComplete07.png</key>
			<dict>
				<key>frame</key>
				<string>{{401,196},{98,126}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{98,126}</string>
			</dict>
			<key>Textures/Stage06Character-assets/ClientJapanismFail01.png</key>
			<dict>
				<key>frame</key>
				<string>{{557,1},{98,126}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{98,126}</string>
			</dict>
			<key>Textures/Stage06Character-assets/ClientJapanismFail02.png</key>
			<dict>
				<key>frame</key>
				<string>{{529,257},{98,126}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{98,126}</string>
			</dict>
			<key>Textures/Stage06Character-assets/ClientJapanismFail03.png</key>
			<dict>
				<key>frame</key>
				<string>{{401,296},{98,126}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{98,126}</string>
			</dict>
			<key>Textures/Stage06Character-assets/ClientJapanismFail04.png</key>
			<dict>
				<key>frame</key>
				<string>{{529,385},{98,126}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{98,126}</string>
			</dict>
			<key>Textures/Stage06Character-assets/ClientJapanismFail05.png</key>
			<dict>
				<key>frame</key>
				<string>{{401,396},{98,126}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{98,126}</string>
			</dict>
			<key>Textures/Stage06Character-assets/ClientJapanismFail06.png</key>
			<dict>
				<key>frame</key>
				<string>{{401,496},{98,126}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{98,126}</string>
			</dict>
			<key>Textures/Stage06Character-assets/ClientJapanismFail07.png</key>
			<dict>
				<key>frame</key>
				<string>{{401,596},{98,126}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{98,126}</string>
			</dict>
			<key>Textures/Stage06Character-assets/ClientJapanismFail08.png</key>
			<dict>
				<key>frame</key>
				<string>{{401,724},{98,126}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{98,126}</string>
			</dict>
			<key>Textures/Stage06Character-assets/ClientJapanismSuccess01.png</key>
			<dict>
				<key>frame</key>
				<string>{{401,852},{98,126}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{98,126}</string>
			</dict>
			<key>Textures/Stage06Character-assets/ClientJapanismSuccess02.png</key>
			<dict>
				<key>frame</key>
				<string>{{501,596},{98,126}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{98,126}</string>
			</dict>
			<key>Textures/Stage06Character-assets/ClientJapanismSuccess03.png</key>
			<dict>
				<key>frame</key>
				<string>{{501,724},{98,126}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{98,126}</string>
			</dict>
			<key>Textures/Stage06Character-assets/ClientJapanismSuccess04.png</key>
			<dict>
				<key>frame</key>
				<string>{{501,852},{98,126}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{98,126}</string>
			</dict>
			<key>Textures/Stage06Character-assets/ClientJapanismThrill01.png</key>
			<dict>
				<key>frame</key>
				<string>{{601,593},{98,126}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{98,126}</string>
			</dict>
			<key>Textures/Stage06Character-assets/ClientJapanismThrill02.png</key>
			<dict>
				<key>frame</key>
				<string>{{629,257},{98,126}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{98,126}</string>
			</dict>
			<key>Textures/Stage06Character-assets/ClientJapanismThrill03.png</key>
			<dict>
				<key>frame</key>
				<string>{{634,129},{98,126}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{98,126}</string>
			</dict>
			<key>Textures/Stage06Character-assets/ClientJapanismThrill04.png</key>
			<dict>
				<key>frame</key>
				<string>{{657,1},{98,126}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{98,126}</string>
			</dict>
			<key>Textures/Stage06Character-assets/ClientJapanismWait01.png</key>
			<dict>
				<key>frame</key>
				<string>{{629,385},{98,126}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{98,126}</string>
			</dict>
			<key>Textures/Stage06Character-assets/ClientJapanismWait02.png</key>
			<dict>
				<key>frame</key>
				<string>{{601,721},{98,126}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{98,126}</string>
			</dict>
			<key>Textures/Stage06Character-assets/ClientJapanismWait03.png</key>
			<dict>
				<key>frame</key>
				<string>{{601,849},{98,126}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{98,126}</string>
			</dict>
			<key>Textures/Stage06Character-assets/ClientJapanismWait04.png</key>
			<dict>
				<key>frame</key>
				<string>{{701,513},{98,126}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{98,126}</string>
			</dict>
			<key>Textures/Stage06Character-assets/ClientJapanismWait05.png</key>
			<dict>
				<key>frame</key>
				<string>{{729,257},{98,126}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{98,126}</string>
			</dict>
			<key>Textures/Stage06Character-assets/ClientJapanismWait06.png</key>
			<dict>
				<key>frame</key>
				<string>{{734,129},{98,126}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{98,126}</string>
			</dict>
			<key>Textures/Stage06Character-assets/FoldingFan.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,989},{23,18}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{23,18}</string>
			</dict>
			<key>Textures/Stage06Character-assets/ClientCompleteUnder01.png</key>
			<dict>
				<key>frame</key>
				<string>{{757,1},{98,126}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{98,126}</string>
			</dict>
			<key>Textures/Stage06Character-assets/ClientCompleteUnder02.png</key>
			<dict>
				<key>frame</key>
				<string>{{729,385},{98,126}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{98,126}</string>
			</dict>
			<key>Textures/Stage06Character-assets/AngelR02.png</key>
			<dict>
				<key>frame</key>
				<string>{{623,553},{38,37}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{38,37}</string>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>2</integer>
			<key>textureFileName</key>
			<string>Client.png</string>
			<key>realTextureFileName</key>
			<string>Client.png</string>
			<key>size</key>
			<string>{856,1019}</string>
		</dict>
		<key>texture</key>
		<dict>
			<key>width</key>
			<integer>856</integer>
			<key>height</key>
			<integer>1019</integer>
		</dict>
	</dict>
</plist>