<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>Textures/Stage06Character-assets/Shovel.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,1},{87,112}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{87,112}</string>
			</dict>
			<key>Textures/Stage06Character-assets/WorkerA01.png</key>
			<dict>
				<key>frame</key>
				<string>{{624,1},{63,85}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{63,85}</string>
			</dict>
			<key>Textures/Stage06Character-assets/WorkerA02.png</key>
			<dict>
				<key>frame</key>
				<string>{{624,88},{63,85}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{63,85}</string>
			</dict>
			<key>Textures/Stage06Character-assets/WorkerA03.png</key>
			<dict>
				<key>frame</key>
				<string>{{624,175},{63,85}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{63,85}</string>
			</dict>
			<key>Textures/Stage06Character-assets/WorkerACheer01.png</key>
			<dict>
				<key>frame</key>
				<string>{{624,262},{63,85}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{63,85}</string>
			</dict>
			<key>Textures/Stage06Character-assets/WorkerACheer02.png</key>
			<dict>
				<key>frame</key>
				<string>{{689,1},{63,85}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{63,85}</string>
			</dict>
			<key>Textures/Stage06Character-assets/WorkerACheer03.png</key>
			<dict>
				<key>frame</key>
				<string>{{689,88},{63,85}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{63,85}</string>
			</dict>
			<key>Textures/Stage06Character-assets/WorkerACheer04.png</key>
			<dict>
				<key>frame</key>
				<string>{{689,175},{63,85}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{63,85}</string>
			</dict>
			<key>Textures/Stage06Character-assets/WorkerB01.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,115},{87,112}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{87,112}</string>
			</dict>
			<key>Textures/Stage06Character-assets/WorkerB02.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,229},{87,112}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{87,112}</string>
			</dict>
			<key>Textures/Stage06Character-assets/WorkerB03.png</key>
			<dict>
				<key>frame</key>
				<string>{{90,1},{87,112}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{87,112}</string>
			</dict>
			<key>Textures/Stage06Character-assets/WorkerB04.png</key>
			<dict>
				<key>frame</key>
				<string>{{90,115},{87,112}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{87,112}</string>
			</dict>
			<key>Textures/Stage06Character-assets/WorkerB05.png</key>
			<dict>
				<key>frame</key>
				<string>{{90,229},{87,112}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{87,112}</string>
			</dict>
			<key>Textures/Stage06Character-assets/WorkerB06.png</key>
			<dict>
				<key>frame</key>
				<string>{{179,1},{87,112}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{87,112}</string>
			</dict>
			<key>Textures/Stage06Character-assets/WorkerBCheer01.png</key>
			<dict>
				<key>frame</key>
				<string>{{179,115},{87,112}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{87,112}</string>
			</dict>
			<key>Textures/Stage06Character-assets/WorkerBCheer02.png</key>
			<dict>
				<key>frame</key>
				<string>{{179,229},{87,112}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{87,112}</string>
			</dict>
			<key>Textures/Stage06Character-assets/WorkerBCheer03.png</key>
			<dict>
				<key>frame</key>
				<string>{{268,1},{87,112}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{87,112}</string>
			</dict>
			<key>Textures/Stage06Character-assets/WorkerBCheer04.png</key>
			<dict>
				<key>frame</key>
				<string>{{268,115},{87,112}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{87,112}</string>
			</dict>
			<key>Textures/Stage06Character-assets/WorkerBJapanism01.png</key>
			<dict>
				<key>frame</key>
				<string>{{268,229},{87,112}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{87,112}</string>
			</dict>
			<key>Textures/Stage06Character-assets/WorkerBJapanism02.png</key>
			<dict>
				<key>frame</key>
				<string>{{357,1},{87,112}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{87,112}</string>
			</dict>
			<key>Textures/Stage06Character-assets/WorkerBJapanism03.png</key>
			<dict>
				<key>frame</key>
				<string>{{357,115},{87,112}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{87,112}</string>
			</dict>
			<key>Textures/Stage06Character-assets/WorkerBJapanism04.png</key>
			<dict>
				<key>frame</key>
				<string>{{357,229},{87,112}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{87,112}</string>
			</dict>
			<key>Textures/Stage06Character-assets/WorkerBJapanism05.png</key>
			<dict>
				<key>frame</key>
				<string>{{446,1},{87,112}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{87,112}</string>
			</dict>
			<key>Textures/Stage06Character-assets/WorkerBJapanism06.png</key>
			<dict>
				<key>frame</key>
				<string>{{446,115},{87,112}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{87,112}</string>
			</dict>
			<key>Textures/Stage06Character-assets/WorkerBJapanismCheer01.png</key>
			<dict>
				<key>frame</key>
				<string>{{446,229},{87,112}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{87,112}</string>
			</dict>
			<key>Textures/Stage06Character-assets/WorkerBJapanismCheer02.png</key>
			<dict>
				<key>frame</key>
				<string>{{535,1},{87,112}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{87,112}</string>
			</dict>
			<key>Textures/Stage06Character-assets/WorkerBJapanismCheer03.png</key>
			<dict>
				<key>frame</key>
				<string>{{535,115},{87,112}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{87,112}</string>
			</dict>
			<key>Textures/Stage06Character-assets/WorkerBJapanismCheer04.png</key>
			<dict>
				<key>frame</key>
				<string>{{535,229},{87,112}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{87,112}</string>
			</dict>
			<key>Textures/Stage06Character-assets/WorkerAJapanism01.png</key>
			<dict>
				<key>frame</key>
				<string>{{689,262},{63,85}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{63,85}</string>
			</dict>
			<key>Textures/Stage06Character-assets/WorkerAJapanism02.png</key>
			<dict>
				<key>frame</key>
				<string>{{754,1},{63,85}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{63,85}</string>
			</dict>
			<key>Textures/Stage06Character-assets/WorkerAJapanism03.png</key>
			<dict>
				<key>frame</key>
				<string>{{754,88},{63,85}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{63,85}</string>
			</dict>
			<key>Textures/Stage06Character-assets/WorkerAJapanismCheer01.png</key>
			<dict>
				<key>frame</key>
				<string>{{754,175},{63,85}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{63,85}</string>
			</dict>
			<key>Textures/Stage06Character-assets/WorkerAJapanismCheer02.png</key>
			<dict>
				<key>frame</key>
				<string>{{754,262},{63,85}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{63,85}</string>
			</dict>
			<key>Textures/Stage06Character-assets/WorkerAJapanismCheer03.png</key>
			<dict>
				<key>frame</key>
				<string>{{819,1},{63,85}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{63,85}</string>
			</dict>
			<key>Textures/Stage06Character-assets/WorkerAJapanismCheer04.png</key>
			<dict>
				<key>frame</key>
				<string>{{819,88},{63,85}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{63,85}</string>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>2</integer>
			<key>textureFileName</key>
			<string>Worker.png</string>
			<key>realTextureFileName</key>
			<string>Worker.png</string>
			<key>size</key>
			<string>{883,348}</string>
		</dict>
		<key>texture</key>
		<dict>
			<key>width</key>
			<integer>883</integer>
			<key>height</key>
			<integer>348</integer>
		</dict>
	</dict>
</plist>