<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>Textures/WorkedOutGlyph-assets/WorkedOut01B.png</key>
			<dict>
				<key>frame</key>
				<string>{{350,2},{29,25}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{29,25}</string>
			</dict>
			<key>Textures/WorkedOutGlyph-assets/WorkedOut02B.png</key>
			<dict>
				<key>frame</key>
				<string>{{455,60},{20,19}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{20,19}</string>
			</dict>
			<key>Textures/WorkedOutGlyph-assets/WorkedOut03B.png</key>
			<dict>
				<key>frame</key>
				<string>{{120,101},{16,19}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{16,19}</string>
			</dict>
			<key>Textures/WorkedOutGlyph-assets/WorkedOut04B.png</key>
			<dict>
				<key>frame</key>
				<string>{{405,31},{20,25}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{20,25}</string>
			</dict>
			<key>Textures/WorkedOutGlyph-assets/WorkedOut05B.png</key>
			<dict>
				<key>frame</key>
				<string>{{176,89},{20,19}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{20,19}</string>
			</dict>
			<key>Textures/WorkedOutGlyph-assets/WorkedOut06B.png</key>
			<dict>
				<key>frame</key>
				<string>{{429,31},{20,25}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{20,25}</string>
			</dict>
			<key>Textures/WorkedOutGlyph-assets/WorkedOut07B.png</key>
			<dict>
				<key>frame</key>
				<string>{{383,2},{26,25}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{26,25}</string>
			</dict>
			<key>Textures/WorkedOutGlyph-assets/WorkedOut08B.png</key>
			<dict>
				<key>frame</key>
				<string>{{74,101},{19,19}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{19,19}</string>
			</dict>
			<key>Textures/WorkedOutGlyph-assets/WorkedOut09B.png</key>
			<dict>
				<key>frame</key>
				<string>{{447,83},{17,25}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{17,25}</string>
			</dict>
			<key>Textures/WorkedOutGlyph-assets/WorkedOut10B.png</key>
			<dict>
				<key>frame</key>
				<string>{{468,83},{10,25}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{10,25}</string>
			</dict>
			<key>Textures/WorkedOutGlyph-assets/WorkedOutGlyph.png</key>
			<dict>
				<key>frame</key>
				<string>{{176,2},{170,25}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{170,25}</string>
			</dict>
			<key>Textures/Shine01.png</key>
			<dict>
				<key>frame</key>
				<string>{{374,60},{22,22}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{22,22}</string>
			</dict>
			<key>Textures/Shine02.png</key>
			<dict>
				<key>frame</key>
				<string>{{374,86},{22,22}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{22,22}</string>
			</dict>
			<key>Textures/Shine03.png</key>
			<dict>
				<key>frame</key>
				<string>{{400,60},{22,22}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{22,22}</string>
			</dict>
			<key>Textures/Shine04.png</key>
			<dict>
				<key>frame</key>
				<string>{{447,112},{8,8}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{8,8}</string>
			</dict>
			<key>Textures/Shine05.png</key>
			<dict>
				<key>frame</key>
				<string>{{473,2},{4,4}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{4,4}</string>
			</dict>
			<key>Textures/WorkedOutGlyph-assets/WorkedOut11B.png</key>
			<dict>
				<key>frame</key>
				<string>{{413,2},{26,25}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{26,25}</string>
			</dict>
			<key>Textures/WorkedOutGlyph-assets/WorkedOut12B.png</key>
			<dict>
				<key>frame</key>
				<string>{{426,60},{25,19}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{25,19}</string>
			</dict>
			<key>Textures/WorkedOutGlyph-assets/WorkedOut13B.png</key>
			<dict>
				<key>frame</key>
				<string>{{350,31},{24,25}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{24,25}</string>
			</dict>
			<key>Textures/WorkedOutGlyph-assets/WorkedOut14B.png</key>
			<dict>
				<key>frame</key>
				<string>{{2,101},{20,19}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{20,19}</string>
			</dict>
			<key>Textures/WorkedOutGlyph-assets/WorkedOut15B.png</key>
			<dict>
				<key>frame</key>
				<string>{{97,101},{19,19}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{19,19}</string>
			</dict>
			<key>Textures/WorkedOutGlyph-assets/WorkedOut16B.png</key>
			<dict>
				<key>frame</key>
				<string>{{140,101},{11,25}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{11,25}</string>
			</dict>
			<key>Textures/WorkedOutGlyph-assets/WorkedOut17B.png</key>
			<dict>
				<key>frame</key>
				<string>{{155,101},{11,25}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{11,25}</string>
			</dict>
			<key>Textures/WorkedOutGlyph-assets/WorkedOut18B.png</key>
			<dict>
				<key>frame</key>
				<string>{{378,31},{23,25}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{23,25}</string>
			</dict>
			<key>Textures/WorkedOutGlyph-assets/WorkedOut19B.png</key>
			<dict>
				<key>frame</key>
				<string>{{26,101},{20,19}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{20,19}</string>
			</dict>
			<key>Textures/WorkedOutGlyph-assets/WorkedOut20B.png</key>
			<dict>
				<key>frame</key>
				<string>{{453,31},{20,25}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{20,25}</string>
			</dict>
			<key>Textures/WorkedOutGlyph-assets/WorkedOut21B.png</key>
			<dict>
				<key>frame</key>
				<string>{{200,89},{10,25}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{10,25}</string>
			</dict>
			<key>Textures/WorkedOutGlyph-assets/WorkedOut22B.png</key>
			<dict>
				<key>frame</key>
				<string>{{443,2},{26,25}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{26,25}</string>
			</dict>
			<key>Textures/WorkedOutGlyph-assets/WorkedOut23B.png</key>
			<dict>
				<key>frame</key>
				<string>{{214,89},{15,15}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{15,15}</string>
			</dict>
			<key>Textures/WorkedOutGlyph-assets/WorkedOut24B.png</key>
			<dict>
				<key>frame</key>
				<string>{{400,86},{20,24}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{20,24}</string>
			</dict>
			<key>Textures/WorkedOutGlyph-assets/WorkedOutGlyphEn.png</key>
			<dict>
				<key>frame</key>
				<string>{{176,31},{170,25}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{170,25}</string>
			</dict>
			<key>Textures/WorkedOutGlyph-assets/WorkedOutGlyphFr.png</key>
			<dict>
				<key>frame</key>
				<string>{{2,43},{170,25}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{170,25}</string>
			</dict>
			<key>Textures/WorkedOutGlyph-assets/WorkedOutGlyphGr.png</key>
			<dict>
				<key>frame</key>
				<string>{{176,60},{170,25}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{170,25}</string>
			</dict>
			<key>Textures/WorkedOutGlyph-assets/WorkedOutGlyphIt.png</key>
			<dict>
				<key>frame</key>
				<string>{{2,72},{170,25}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{170,25}</string>
			</dict>
			<key>Textures/WorkedOutGlyph-assets/WorkedOutGlyphSp.png</key>
			<dict>
				<key>frame</key>
				<string>{{2,2},{170,37}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{170,37}</string>
			</dict>
			<key>Textures/WorkedOutGlyph-assets/WorkedOut25B.png</key>
			<dict>
				<key>frame</key>
				<string>{{50,101},{20,19}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{20,19}</string>
			</dict>
			<key>Textures/WorkedOutGlyph-assets/WorkedOut26B.png</key>
			<dict>
				<key>frame</key>
				<string>{{350,60},{20,25}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{20,25}</string>
			</dict>
			<key>Textures/WorkedOutGlyph-assets/WorkedOut27B.png</key>
			<dict>
				<key>frame</key>
				<string>{{424,86},{19,25}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{19,25}</string>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>2</integer>
			<key>textureFileName</key>
			<string>WorkedOut.png</string>
			<key>realTextureFileName</key>
			<string>WorkedOut.png</string>
			<key>size</key>
			<string>{480,128}</string>
		</dict>
		<key>texture</key>
		<dict>
			<key>width</key>
			<integer>480</integer>
			<key>height</key>
			<integer>128</integer>
		</dict>
	</dict>
</plist>