<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>Textures/Fish-assets/FishBCatched01.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,1},{180,172}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{180,172}</string>
			</dict>
			<key>Textures/Fish-assets/FishBCatched02.png</key>
			<dict>
				<key>frame</key>
				<string>{{183,1},{180,172}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{180,172}</string>
			</dict>
			<key>Textures/Fish-assets/FishBCringe01.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,175},{180,172}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{180,172}</string>
			</dict>
			<key>Textures/Fish-assets/FishBCringe02.png</key>
			<dict>
				<key>frame</key>
				<string>{{183,175},{180,172}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{180,172}</string>
			</dict>
			<key>Textures/Fish-assets/FishBCringe03.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,349},{180,172}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{180,172}</string>
			</dict>
			<key>Textures/Fish-assets/FishBPullOut01.png</key>
			<dict>
				<key>frame</key>
				<string>{{183,349},{180,172}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{180,172}</string>
			</dict>
			<key>Textures/Fish-assets/FishBTurn01.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,523},{180,172}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{180,172}</string>
			</dict>
			<key>Textures/Fish-assets/FishBTurn02.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,705},{180,172}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{180,172}</string>
			</dict>
			<key>Textures/Fish-assets/FishBWait01.png</key>
			<dict>
				<key>frame</key>
				<string>{{175,523},{180,172}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{180,172}</string>
			</dict>
			<key>Textures/Fish-assets/FishBWait02.png</key>
			<dict>
				<key>frame</key>
				<string>{{175,697},{180,172}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{180,172}</string>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>2</integer>
			<key>textureFileName</key>
			<string>FishB.png</string>
			<key>realTextureFileName</key>
			<string>FishB.png</string>
			<key>size</key>
			<string>{364,886}</string>
		</dict>
		<key>texture</key>
		<dict>
			<key>width</key>
			<integer>364</integer>
			<key>height</key>
			<integer>886</integer>
		</dict>
	</dict>
</plist>