<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>Textures/Tutorial-assets/ArrowMark01.png</key>
			<dict>
				<key>frame</key>
				<string>{{270,758},{23,24}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{23,24}</string>
			</dict>
			<key>Textures/Tutorial-assets/TutorialWindow01.png</key>
			<dict>
				<key>frame</key>
				<string>{{2,2},{176,192}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{176,192}</string>
			</dict>
			<key>Textures/Tutorial-assets/TutorialWindow02.png</key>
			<dict>
				<key>frame</key>
				<string>{{2,758},{176,28}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{176,28}</string>
			</dict>
			<key>Textures/Tutorial-assets/TutorialWindow03.png</key>
			<dict>
				<key>frame</key>
				<string>{{182,114},{176,80}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{176,80}</string>
			</dict>
			<key>Textures/Tutorial-assets/BlackScreen01.png</key>
			<dict>
				<key>frame</key>
				<string>{{2,790},{8,8}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{8,8}</string>
			</dict>
			<key>Textures/Tutorial-assets/Illustration00A.png</key>
			<dict>
				<key>frame</key>
				<string>{{2,198},{144,108}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{144,108}</string>
			</dict>
			<key>Textures/Tutorial-assets/Illustration00B.png</key>
			<dict>
				<key>frame</key>
				<string>{{2,310},{144,108}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{144,108}</string>
			</dict>
			<key>Textures/Tutorial-assets/Illustration00C.png</key>
			<dict>
				<key>frame</key>
				<string>{{2,422},{144,108}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{144,108}</string>
			</dict>
			<key>Textures/Tutorial-assets/Illustration00D.png</key>
			<dict>
				<key>frame</key>
				<string>{{2,534},{144,108}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{144,108}</string>
			</dict>
			<key>Textures/Tutorial-assets/Illustration01A.png</key>
			<dict>
				<key>frame</key>
				<string>{{2,646},{144,108}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{144,108}</string>
			</dict>
			<key>Textures/Tutorial-assets/Illustration01B.png</key>
			<dict>
				<key>frame</key>
				<string>{{150,198},{144,108}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{144,108}</string>
			</dict>
			<key>Textures/Tutorial-assets/Illustration01C.png</key>
			<dict>
				<key>frame</key>
				<string>{{182,2},{144,108}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{144,108}</string>
			</dict>
			<key>Textures/Tutorial-assets/Illustration02A.png</key>
			<dict>
				<key>frame</key>
				<string>{{330,2},{144,108}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{144,108}</string>
			</dict>
			<key>Textures/Tutorial-assets/Illustration02B.png</key>
			<dict>
				<key>frame</key>
				<string>{{150,310},{144,108}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{144,108}</string>
			</dict>
			<key>Textures/Tutorial-assets/Illustration02C.png</key>
			<dict>
				<key>frame</key>
				<string>{{150,422},{144,108}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{144,108}</string>
			</dict>
			<key>Textures/Tutorial-assets/Illustration03A.png</key>
			<dict>
				<key>frame</key>
				<string>{{150,534},{144,108}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{144,108}</string>
			</dict>
			<key>Textures/Tutorial-assets/Illustration03B.png</key>
			<dict>
				<key>frame</key>
				<string>{{150,646},{144,108}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{144,108}</string>
			</dict>
			<key>Textures/Tutorial-assets/Illustration03C.png</key>
			<dict>
				<key>frame</key>
				<string>{{478,2},{144,108}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{144,108}</string>
			</dict>
			<key>Textures/Tutorial-assets/Illustration03D.png</key>
			<dict>
				<key>frame</key>
				<string>{{626,2},{144,108}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{144,108}</string>
			</dict>
			<key>Textures/Tutorial-assets/Illustration04A.png</key>
			<dict>
				<key>frame</key>
				<string>{{298,198},{144,108}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{144,108}</string>
			</dict>
			<key>Textures/Tutorial-assets/Illustration04B.png</key>
			<dict>
				<key>frame</key>
				<string>{{298,310},{144,108}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{144,108}</string>
			</dict>
			<key>Textures/Tutorial-assets/Illustration04C.png</key>
			<dict>
				<key>frame</key>
				<string>{{298,422},{144,108}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{144,108}</string>
			</dict>
			<key>Textures/Tutorial-assets/Illustration04D.png</key>
			<dict>
				<key>frame</key>
				<string>{{298,534},{144,108}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{144,108}</string>
			</dict>
			<key>Textures/Tutorial-assets/Illustration05A.png</key>
			<dict>
				<key>frame</key>
				<string>{{298,646},{144,108}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{144,108}</string>
			</dict>
			<key>Textures/Tutorial-assets/Illustration05B.png</key>
			<dict>
				<key>frame</key>
				<string>{{446,114},{144,108}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{144,108}</string>
			</dict>
			<key>Textures/Tutorial-assets/Illustration05C.png</key>
			<dict>
				<key>frame</key>
				<string>{{594,114},{144,108}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{144,108}</string>
			</dict>
			<key>Textures/Tutorial-assets/Illustration05D.png</key>
			<dict>
				<key>frame</key>
				<string>{{742,114},{144,108}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{144,108}</string>
			</dict>
			<key>Textures/Tutorial-assets/Illustration02D.png</key>
			<dict>
				<key>frame</key>
				<string>{{446,226},{144,108}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{144,108}</string>
			</dict>
			<key>Textures/Tutorial-assets/Illustration01D.png</key>
			<dict>
				<key>frame</key>
				<string>{{594,226},{144,108}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{144,108}</string>
			</dict>
			<key>Textures/Tutorial-assets/TutorialWindowTitle01.png</key>
			<dict>
				<key>frame</key>
				<string>{{182,758},{84,18}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{84,18}</string>
			</dict>
			<key>Textures/Tutorial-assets/Illustration06A.png</key>
			<dict>
				<key>frame</key>
				<string>{{742,226},{144,108}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{144,108}</string>
			</dict>
			<key>Textures/Tutorial-assets/Illustration06B.png</key>
			<dict>
				<key>frame</key>
				<string>{{446,338},{144,108}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{144,108}</string>
			</dict>
			<key>Textures/Tutorial-assets/Illustration06C.png</key>
			<dict>
				<key>frame</key>
				<string>{{594,338},{144,108}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{144,108}</string>
			</dict>
			<key>Textures/Tutorial-assets/Illustration06D.png</key>
			<dict>
				<key>frame</key>
				<string>{{742,338},{144,108}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{144,108}</string>
			</dict>
			<key>Textures/Tutorial-assets/Illustration07A.png</key>
			<dict>
				<key>frame</key>
				<string>{{446,450},{144,108}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{144,108}</string>
			</dict>
			<key>Textures/Tutorial-assets/Illustration07B.png</key>
			<dict>
				<key>frame</key>
				<string>{{594,450},{144,108}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{144,108}</string>
			</dict>
			<key>Textures/Tutorial-assets/Illustration07C.png</key>
			<dict>
				<key>frame</key>
				<string>{{742,450},{144,108}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{144,108}</string>
			</dict>
			<key>Textures/Tutorial-assets/Illustration07D.png</key>
			<dict>
				<key>frame</key>
				<string>{{446,562},{144,108}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{144,108}</string>
			</dict>
			<key>Textures/Tutorial-assets/Illustration07E.png</key>
			<dict>
				<key>frame</key>
				<string>{{446,674},{144,108}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{144,108}</string>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>2</integer>
			<key>textureFileName</key>
			<string>Tutorial.png</string>
			<key>realTextureFileName</key>
			<string>Tutorial.png</string>
			<key>size</key>
			<string>{888,800}</string>
		</dict>
		<key>texture</key>
		<dict>
			<key>width</key>
			<integer>888</integer>
			<key>height</key>
			<integer>800</integer>
		</dict>
	</dict>
</plist>