<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>Textures/WaterSplash-assets/WaterSplash01.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,1},{64,64}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{64,64}</string>
			</dict>
			<key>Textures/WaterSplash-assets/WaterSplash02.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,67},{64,64}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{64,64}</string>
			</dict>
			<key>Textures/WaterSplash-assets/WaterSplash03.png</key>
			<dict>
				<key>frame</key>
				<string>{{67,1},{64,64}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{64,64}</string>
			</dict>
			<key>Textures/WaterSplash-assets/WaterSplash04.png</key>
			<dict>
				<key>frame</key>
				<string>{{67,67},{64,64}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{64,64}</string>
			</dict>
			<key>Textures/WaterSplash-assets/WaterSplash05.png</key>
			<dict>
				<key>frame</key>
				<string>{{133,1},{64,64}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{64,64}</string>
			</dict>
			<key>Textures/WaterSplash-assets/WaterSplash06.png</key>
			<dict>
				<key>frame</key>
				<string>{{133,67},{64,64}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{64,64}</string>
			</dict>
			<key>Textures/WaterSplash-assets/WaterSplash07.png</key>
			<dict>
				<key>frame</key>
				<string>{{199,1},{64,64}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{64,64}</string>
			</dict>
			<key>Textures/WaterSplash-assets/WaterSplash08.png</key>
			<dict>
				<key>frame</key>
				<string>{{199,67},{64,64}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{64,64}</string>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>2</integer>
			<key>textureFileName</key>
			<string>Splash.png</string>
			<key>realTextureFileName</key>
			<string>Splash.png</string>
			<key>size</key>
			<string>{264,132}</string>
		</dict>
		<key>texture</key>
		<dict>
			<key>width</key>
			<integer>264</integer>
			<key>height</key>
			<integer>132</integer>
		</dict>
	</dict>
</plist>