<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>Textures/Doctor-assets/DisplayNoise00.png</key>
			<dict>
				<key>frame</key>
				<string>{{53,1},{46,47}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{46,47}</string>
			</dict>
			<key>Textures/Doctor-assets/DisplayNoise01.png</key>
			<dict>
				<key>frame</key>
				<string>{{101,1},{46,47}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{46,47}</string>
			</dict>
			<key>Textures/Doctor-assets/DoctorClear00.png</key>
			<dict>
				<key>frame</key>
				<string>{{197,1},{44,45}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{44,45}</string>
			</dict>
			<key>Textures/Doctor-assets/DoctorFail00.png</key>
			<dict>
				<key>frame</key>
				<string>{{197,48},{44,45}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{44,45}</string>
			</dict>
			<key>Textures/Doctor-assets/DoctorSuccess00.png</key>
			<dict>
				<key>frame</key>
				<string>{{53,50},{44,45}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{44,45}</string>
			</dict>
			<key>Textures/Doctor-assets/DoctorThrill00.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,54},{44,45}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{44,45}</string>
			</dict>
			<key>Textures/Doctor-assets/DoctorWait00.png</key>
			<dict>
				<key>frame</key>
				<string>{{99,50},{44,45}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{44,45}</string>
			</dict>
			<key>Textures/Doctor-assets/DisplayClientFrame.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,1},{50,51}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{50,51}</string>
			</dict>
			<key>Textures/Doctor-assets/DoctorClear01.png</key>
			<dict>
				<key>frame</key>
				<string>{{145,50},{44,45}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{44,45}</string>
			</dict>
			<key>Textures/Doctor-assets/DoctorClear02.png</key>
			<dict>
				<key>frame</key>
				<string>{{191,95},{44,45}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{44,45}</string>
			</dict>
			<key>Textures/Doctor-assets/DoctorClear03.png</key>
			<dict>
				<key>frame</key>
				<string>{{47,97},{44,45}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{44,45}</string>
			</dict>
			<key>Textures/Doctor-assets/DoctorClear04.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,101},{44,45}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{44,45}</string>
			</dict>
			<key>Textures/Doctor-assets/DoctorClear05.png</key>
			<dict>
				<key>frame</key>
				<string>{{93,97},{44,45}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{44,45}</string>
			</dict>
			<key>Textures/Doctor-assets/DoctorClear06.png</key>
			<dict>
				<key>frame</key>
				<string>{{139,97},{44,45}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{44,45}</string>
			</dict>
			<key>Textures/Doctor-assets/DoctorClear07.png</key>
			<dict>
				<key>frame</key>
				<string>{{185,142},{44,45}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{44,45}</string>
			</dict>
			<key>Textures/Doctor-assets/DoctorClear08.png</key>
			<dict>
				<key>frame</key>
				<string>{{47,144},{44,45}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{44,45}</string>
			</dict>
			<key>Textures/Doctor-assets/DoctorClear09.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,148},{44,45}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{44,45}</string>
			</dict>
			<key>Textures/Doctor-assets/DoctorFail01.png</key>
			<dict>
				<key>frame</key>
				<string>{{93,144},{44,45}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{44,45}</string>
			</dict>
			<key>Textures/Doctor-assets/DoctorFail02.png</key>
			<dict>
				<key>frame</key>
				<string>{{139,144},{44,45}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{44,45}</string>
			</dict>
			<key>Textures/Doctor-assets/DoctorFail04.png</key>
			<dict>
				<key>frame</key>
				<string>{{185,189},{44,45}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{44,45}</string>
			</dict>
			<key>Textures/Doctor-assets/DoctorFail05.png</key>
			<dict>
				<key>frame</key>
				<string>{{47,191},{44,45}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{44,45}</string>
			</dict>
			<key>Textures/Doctor-assets/DoctorFail06.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,195},{44,45}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{44,45}</string>
			</dict>
			<key>Textures/Doctor-assets/DoctorFail07.png</key>
			<dict>
				<key>frame</key>
				<string>{{93,191},{44,45}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{44,45}</string>
			</dict>
			<key>Textures/Doctor-assets/DoctorSuccess01.png</key>
			<dict>
				<key>frame</key>
				<string>{{139,191},{44,45}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{44,45}</string>
			</dict>
			<key>Textures/Doctor-assets/DoctorSuccess02.png</key>
			<dict>
				<key>frame</key>
				<string>{{185,236},{44,45}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{44,45}</string>
			</dict>
			<key>Textures/Doctor-assets/DoctorSuccess03.png</key>
			<dict>
				<key>frame</key>
				<string>{{47,238},{44,45}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{44,45}</string>
			</dict>
			<key>Textures/Doctor-assets/DoctorSuccess04.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,242},{44,45}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{44,45}</string>
			</dict>
			<key>Textures/Doctor-assets/DoctorThrill01.png</key>
			<dict>
				<key>frame</key>
				<string>{{93,238},{44,45}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{44,45}</string>
			</dict>
			<key>Textures/Doctor-assets/DoctorThrill02.png</key>
			<dict>
				<key>frame</key>
				<string>{{139,238},{44,45}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{44,45}</string>
			</dict>
			<key>Textures/Doctor-assets/DoctorThrill03.png</key>
			<dict>
				<key>frame</key>
				<string>{{185,283},{44,45}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{44,45}</string>
			</dict>
			<key>Textures/Doctor-assets/DoctorThrill04.png</key>
			<dict>
				<key>frame</key>
				<string>{{47,285},{44,45}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{44,45}</string>
			</dict>
			<key>Textures/Doctor-assets/DoctorWait01.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,289},{44,45}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{44,45}</string>
			</dict>
			<key>Textures/Doctor-assets/DoctorWait02.png</key>
			<dict>
				<key>frame</key>
				<string>{{93,285},{44,45}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{44,45}</string>
			</dict>
			<key>Textures/Doctor-assets/DisplayClient.png</key>
			<dict>
				<key>frame</key>
				<string>{{149,1},{46,47}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{46,47}</string>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>2</integer>
			<key>textureFileName</key>
			<string>Doctor.png</string>
			<key>realTextureFileName</key>
			<string>Doctor.png</string>
			<key>size</key>
			<string>{242,335}</string>
		</dict>
		<key>texture</key>
		<dict>
			<key>width</key>
			<integer>242</integer>
			<key>height</key>
			<integer>335</integer>
		</dict>
	</dict>
</plist>