<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>Textures/RestaurantBG-assets/StageGround.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,715},{540,99}}</string>
				<key>offset</key>
				<string>{0,-145}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{540,390}</string>
			</dict>
			<key>Textures/RestaurantBG-assets/BGBack.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,393},{540,320}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{540,320}</string>
			</dict>
			<key>Textures/RestaurantBG-assets/BGFront.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,1},{540,390}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{540,390}</string>
			</dict>
			<key>Textures/RestaurantBG-assets/Woman00.png</key>
			<dict>
				<key>frame</key>
				<string>{{783,543},{49,59}}</string>
				<key>offset</key>
				<string>{27,-5}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{105,72}</string>
			</dict>
			<key>Textures/RestaurantBG-assets/Woman01.png</key>
			<dict>
				<key>frame</key>
				<string>{{844,543},{49,58}}</string>
				<key>offset</key>
				<string>{27,-6}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{105,72}</string>
			</dict>
			<key>Textures/RestaurantBG-assets/Woman02.png</key>
			<dict>
				<key>frame</key>
				<string>{{904,543},{49,57}}</string>
				<key>offset</key>
				<string>{27,-6}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{105,72}</string>
			</dict>
			<key>Textures/RestaurantBG-assets/Bloom.png</key>
			<dict>
				<key>frame</key>
				<string>{{935,1},{35,35}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{37,37}</string>
			</dict>
			<key>Textures/RestaurantBG-assets/Candle.png</key>
			<dict>
				<key>frame</key>
				<string>{{972,15},{3,8}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{5,10}</string>
			</dict>
			<key>Textures/RestaurantBG-assets/ManTable00.png</key>
			<dict>
				<key>frame</key>
				<string>{{543,543},{78,70}}</string>
				<key>offset</key>
				<string>{-12,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{105,72}</string>
			</dict>
			<key>Textures/RestaurantBG-assets/ManTable01.png</key>
			<dict>
				<key>frame</key>
				<string>{{623,543},{78,70}}</string>
				<key>offset</key>
				<string>{-12,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{105,72}</string>
			</dict>
			<key>Textures/RestaurantBG-assets/ManTable02.png</key>
			<dict>
				<key>frame</key>
				<string>{{703,543},{78,70}}</string>
				<key>offset</key>
				<string>{-12,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{105,72}</string>
			</dict>
			<key>Textures/RestaurantBG-assets/PotLid00.png</key>
			<dict>
				<key>frame</key>
				<string>{{952,113},{19,8}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{21,12}</string>
			</dict>
			<key>Textures/RestaurantBG-assets/PotLid01.png</key>
			<dict>
				<key>frame</key>
				<string>{{952,101},{18,10}}</string>
				<key>offset</key>
				<string>{1,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{21,12}</string>
			</dict>
			<key>Textures/RestaurantBG-assets/Steam00.png</key>
			<dict>
				<key>frame</key>
				<string>{{966,38},{29,9}}</string>
				<key>offset</key>
				<string>{-1,-7}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{32,26}</string>
			</dict>
			<key>Textures/RestaurantBG-assets/Steam01.png</key>
			<dict>
				<key>frame</key>
				<string>{{935,38},{29,21}}</string>
				<key>offset</key>
				<string>{-1,-1}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{32,26}</string>
			</dict>
			<key>Textures/RestaurantBG-assets/Steam02.png</key>
			<dict>
				<key>frame</key>
				<string>{{935,61},{30,20}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{32,26}</string>
			</dict>
			<key>Textures/RestaurantBG-assets/Steam03.png</key>
			<dict>
				<key>frame</key>
				<string>{{957,69},{30,15}}</string>
				<key>offset</key>
				<string>{0,5}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{32,26}</string>
			</dict>
			<key>Textures/RestaurantBG-assets/BGMiddle.png</key>
			<dict>
				<key>frame</key>
				<string>{{543,1},{540,390}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{540,390}</string>
			</dict>
			<key>Textures/RestaurantBG-assets/Lanthanum.png</key>
			<dict>
				<key>frame</key>
				<string>{{935,93},{15,28}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{17,30}</string>
			</dict>
			<key>Textures/RestaurantBG-assets/Rat00.png</key>
			<dict>
				<key>frame</key>
				<string>{{972,1},{12,4}}</string>
				<key>offset</key>
				<string>{0,-4}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{17,11}</string>
			</dict>
			<key>Textures/RestaurantBG-assets/Rat01.png</key>
			<dict>
				<key>frame</key>
				<string>{{963,139},{13,8}}</string>
				<key>offset</key>
				<string>{-1,-2}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{17,11}</string>
			</dict>
			<key>Textures/RestaurantBG-assets/Rat02.png</key>
			<dict>
				<key>frame</key>
				<string>{{935,135},{12,10}}</string>
				<key>offset</key>
				<string>{-1,-1}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{17,11}</string>
			</dict>
			<key>Textures/RestaurantBG-assets/Rat03.png</key>
			<dict>
				<key>frame</key>
				<string>{{935,123},{14,10}}</string>
				<key>offset</key>
				<string>{0,-1}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{17,11}</string>
			</dict>
			<key>Textures/RestaurantBG-assets/Rat04.png</key>
			<dict>
				<key>frame</key>
				<string>{{951,123},{14,10}}</string>
				<key>offset</key>
				<string>{0,-1}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{17,11}</string>
			</dict>
			<key>Textures/RestaurantBG-assets/Rat05.png</key>
			<dict>
				<key>frame</key>
				<string>{{967,123},{14,10}}</string>
				<key>offset</key>
				<string>{1,-1}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{17,11}</string>
			</dict>
			<key>Textures/RestaurantBG-assets/Rat06.png</key>
			<dict>
				<key>frame</key>
				<string>{{949,135},{12,10}}</string>
				<key>offset</key>
				<string>{-1,-1}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{17,11}</string>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>2</integer>
			<key>textureFileName</key>
			<string>Stage07.png</string>
			<key>realTextureFileName</key>
			<string>Stage07.png</string>
			<key>size</key>
			<string>{978,815}</string>
		</dict>
		<key>texture</key>
		<dict>
			<key>width</key>
			<integer>978</integer>
			<key>height</key>
			<integer>815</integer>
		</dict>
	</dict>
</plist>