<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>Textures/StageSelect-assets/MoneyNum00.png</key>
			<dict>
				<key>frame</key>
				<string>{{374,170},{8,12}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{8,12}</string>
			</dict>
			<key>Textures/StageSelect-assets/MoneyNum01.png</key>
			<dict>
				<key>frame</key>
				<string>{{374,186},{8,12}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{8,12}</string>
			</dict>
			<key>Textures/StageSelect-assets/MoneyNum02.png</key>
			<dict>
				<key>frame</key>
				<string>{{374,202},{8,12}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{8,12}</string>
			</dict>
			<key>Textures/StageSelect-assets/MoneyNum03.png</key>
			<dict>
				<key>frame</key>
				<string>{{374,218},{8,12}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{8,12}</string>
			</dict>
			<key>Textures/StageSelect-assets/MoneyNum04.png</key>
			<dict>
				<key>frame</key>
				<string>{{374,234},{8,12}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{8,12}</string>
			</dict>
			<key>Textures/StageSelect-assets/MoneyNum05.png</key>
			<dict>
				<key>frame</key>
				<string>{{386,170},{8,12}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{8,12}</string>
			</dict>
			<key>Textures/StageSelect-assets/MoneyNum06.png</key>
			<dict>
				<key>frame</key>
				<string>{{386,186},{8,12}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{8,12}</string>
			</dict>
			<key>Textures/StageSelect-assets/MoneyNum07.png</key>
			<dict>
				<key>frame</key>
				<string>{{386,202},{8,12}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{8,12}</string>
			</dict>
			<key>Textures/StageSelect-assets/MoneyNum08.png</key>
			<dict>
				<key>frame</key>
				<string>{{386,218},{8,12}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{8,12}</string>
			</dict>
			<key>Textures/StageSelect-assets/MoneyNum09.png</key>
			<dict>
				<key>frame</key>
				<string>{{386,234},{8,12}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{8,12}</string>
			</dict>
			<key>Textures/StageSelect-assets/MoneyNum10.png</key>
			<dict>
				<key>frame</key>
				<string>{{80,229},{14,12}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{14,12}</string>
			</dict>
			<key>Textures/StageSelect-assets/PageNum00.png</key>
			<dict>
				<key>frame</key>
				<string>{{384,2},{7,10}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{7,10}</string>
			</dict>
			<key>Textures/StageSelect-assets/PageNum01.png</key>
			<dict>
				<key>frame</key>
				<string>{{358,2},{7,10}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{7,10}</string>
			</dict>
			<key>Textures/StageSelect-assets/PageNum02.png</key>
			<dict>
				<key>frame</key>
				<string>{{369,2},{7,10}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{7,10}</string>
			</dict>
			<key>Textures/StageSelect-assets/PageNum03.png</key>
			<dict>
				<key>frame</key>
				<string>{{358,16},{7,10}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{7,10}</string>
			</dict>
			<key>Textures/StageSelect-assets/PageNum04.png</key>
			<dict>
				<key>frame</key>
				<string>{{358,30},{7,10}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{7,10}</string>
			</dict>
			<key>Textures/StageSelect-assets/PageNum05.png</key>
			<dict>
				<key>frame</key>
				<string>{{146,38},{7,10}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{7,10}</string>
			</dict>
			<key>Textures/StageSelect-assets/PageNum06.png</key>
			<dict>
				<key>frame</key>
				<string>{{157,38},{7,10}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{7,10}</string>
			</dict>
			<key>Textures/StageSelect-assets/PageNum07.png</key>
			<dict>
				<key>frame</key>
				<string>{{168,38},{7,10}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{7,10}</string>
			</dict>
			<key>Textures/StageSelect-assets/PageNum08.png</key>
			<dict>
				<key>frame</key>
				<string>{{179,38},{7,10}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{7,10}</string>
			</dict>
			<key>Textures/StageSelect-assets/PageNum09.png</key>
			<dict>
				<key>frame</key>
				<string>{{190,38},{7,10}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{7,10}</string>
			</dict>
			<key>Textures/StageSelect-assets/Pig.png</key>
			<dict>
				<key>frame</key>
				<string>{{104,191},{78,42}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{78,42}</string>
			</dict>
			<key>Textures/StageSelect-assets/GoldMedal.png</key>
			<dict>
				<key>frame</key>
				<string>{{82,191},{16,22}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{16,22}</string>
			</dict>
			<key>Textures/StageSelect-assets/BtnAppearEffect01.png</key>
			<dict>
				<key>frame</key>
				<string>{{146,2},{208,32}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{208,32}</string>
			</dict>
			<key>Textures/StageSelect-assets/BtnAppearEffect02.png</key>
			<dict>
				<key>frame</key>
				<string>{{2,82},{134,69}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{134,69}</string>
			</dict>
			<key>Textures/StageSelect-assets/BtnAppearEffect03.png</key>
			<dict>
				<key>frame</key>
				<string>{{44,229},{32,12}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{32,12}</string>
			</dict>
			<key>Textures/StageSelect-assets/BtnAppearEffect04.png</key>
			<dict>
				<key>frame</key>
				<string>{{338,210},{32,12}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{32,12}</string>
			</dict>
			<key>Textures/StageSelect-assets/UnlockEffect01.png</key>
			<dict>
				<key>frame</key>
				<string>{{94,246},{6,6}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{6,6}</string>
			</dict>
			<key>Textures/StageSelect-assets/UnlockEffect02.png</key>
			<dict>
				<key>frame</key>
				<string>{{58,246},{8,8}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{8,8}</string>
			</dict>
			<key>Textures/StageSelect-assets/UnlockEffect03.png</key>
			<dict>
				<key>frame</key>
				<string>{{246,154},{88,88}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{88,88}</string>
			</dict>
			<key>Textures/StageSelect-assets/UnlockEffect04.png</key>
			<dict>
				<key>frame</key>
				<string>{{186,191},{52,52}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{52,52}</string>
			</dict>
			<key>Textures/StageSelect-assets/UnlockEffect05.png</key>
			<dict>
				<key>frame</key>
				<string>{{2,191},{38,38}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{38,38}</string>
			</dict>
			<key>Textures/StageSelect-assets/UnlockEffect06.png</key>
			<dict>
				<key>frame</key>
				<string>{{44,191},{34,34}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{34,34}</string>
			</dict>
			<key>Textures/StageSelect-assets/UnlockEffect07.png</key>
			<dict>
				<key>frame</key>
				<string>{{160,237},{16,16}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{16,16}</string>
			</dict>
			<key>Textures/StageSelect-assets/UnlockEffect08.png</key>
			<dict>
				<key>frame</key>
				<string>{{338,226},{16,16}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{16,16}</string>
			</dict>
			<key>Textures/StageSelect-assets/LockIcon01.png</key>
			<dict>
				<key>frame</key>
				<string>{{338,154},{32,24}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{32,24}</string>
			</dict>
			<key>Textures/StageSelect-assets/LockIcon02.png</key>
			<dict>
				<key>frame</key>
				<string>{{338,182},{32,24}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{32,24}</string>
			</dict>
			<key>Textures/StageSelect-assets/UnlockEffect09.png</key>
			<dict>
				<key>frame</key>
				<string>{{70,246},{8,8}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{8,8}</string>
			</dict>
			<key>Textures/StageSelect-assets/NewMark01.png</key>
			<dict>
				<key>frame</key>
				<string>{{2,246},{24,8}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{24,8}</string>
			</dict>
			<key>Textures/StageSelect-assets/StageBtnMedal01.png</key>
			<dict>
				<key>frame</key>
				<string>{{358,226},{12,16}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{12,16}</string>
			</dict>
			<key>Textures/StageSelect-assets/BGSky01.png</key>
			<dict>
				<key>frame</key>
				<string>{{2,155},{240,32}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{240,32}</string>
			</dict>
			<key>Textures/StageSelect-assets/WhiteScreen.png</key>
			<dict>
				<key>frame</key>
				<string>{{82,246},{8,8}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{8,8}</string>
			</dict>
			<key>Textures/StageSelect-assets/MedalBar.png</key>
			<dict>
				<key>frame</key>
				<string>{{104,237},{52,15}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{52,15}</string>
			</dict>
			<key>Textures/StageSelect-assets/BtnFrameGold01.png</key>
			<dict>
				<key>frame</key>
				<string>{{2,2},{140,76}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{140,76}</string>
			</dict>
			<key>Textures/StageSelect-assets/NewMark02.png</key>
			<dict>
				<key>frame</key>
				<string>{{30,246},{24,8}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{24,8}</string>
			</dict>
			<key>Textures/StageSelect-assets/StageBtnCheck01.png</key>
			<dict>
				<key>frame</key>
				<string>{{374,154},{12,12}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{12,12}</string>
			</dict>
			<key>Textures/StageSelect-assets/Building.png</key>
			<dict>
				<key>frame</key>
				<string>{{140,82},{240,32}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{240,32}</string>
			</dict>
			<key>Textures/StageSelect-assets/BuildingFront.png</key>
			<dict>
				<key>frame</key>
				<string>{{140,118},{240,32}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{240,32}</string>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>2</integer>
			<key>textureFileName</key>
			<string>Select.png</string>
			<key>realTextureFileName</key>
			<string>Select.png</string>
			<key>size</key>
			<string>{396,256}</string>
		</dict>
		<key>texture</key>
		<dict>
			<key>width</key>
			<integer>396</integer>
			<key>height</key>
			<integer>256</integer>
		</dict>
	</dict>
</plist>