<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>Textures/HoldGuide-assets/Hand01.png</key>
			<dict>
				<key>frame</key>
				<string>{{148,1938},{54,98}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{54,98}</string>
			</dict>
			<key>Textures/HoldGuide-assets/Hand02.png</key>
			<dict>
				<key>frame</key>
				<string>{{256,2014},{32,38}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{32,38}</string>
			</dict>
			<key>Textures/HoldGuide-assets/Mochikata.png</key>
			<dict>
				<key>frame</key>
				<string>{{194,2034},{46,12}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{46,12}</string>
			</dict>
			<key>Textures/HoldGuide-assets/RiceCake01.png</key>
			<dict>
				<key>frame</key>
				<string>{{2,2},{480,480}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{480,480}</string>
			</dict>
			<key>Textures/HoldGuide-assets/RiceCake02.png</key>
			<dict>
				<key>frame</key>
				<string>{{2,486},{480,480}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{480,480}</string>
			</dict>
			<key>Textures/HoldGuide-assets/RiceCake03.png</key>
			<dict>
				<key>frame</key>
				<string>{{2,970},{480,480}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{480,480}</string>
			</dict>
			<key>Textures/HoldGuide-assets/RiceCake04.png</key>
			<dict>
				<key>frame</key>
				<string>{{2,1454},{480,480}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{480,480}</string>
			</dict>
			<key>Textures/HoldGuide-assets/SmartPhone.png</key>
			<dict>
				<key>frame</key>
				<string>{{2,1938},{76,142}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{76,142}</string>
			</dict>
			<key>Textures/HoldGuide-assets/MochikataEn.png</key>
			<dict>
				<key>frame</key>
				<string>{{150,2016},{40,26}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{40,26}</string>
			</dict>
			<key>Textures/HoldGuide-assets/MochikataFr.png</key>
			<dict>
				<key>frame</key>
				<string>{{2,2018},{50,28}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{50,28}</string>
			</dict>
			<key>Textures/HoldGuide-assets/MochikataGr.png</key>
			<dict>
				<key>frame</key>
				<string>{{194,2016},{58,14}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{58,14}</string>
			</dict>
			<key>Textures/HoldGuide-assets/MochikataIt.png</key>
			<dict>
				<key>frame</key>
				<string>{{56,2018},{44,28}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{44,28}</string>
			</dict>
			<key>Textures/HoldGuide-assets/MochikataSp.png</key>
			<dict>
				<key>frame</key>
				<string>{{104,2018},{42,28}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{42,28}</string>
			</dict>
			<key>Textures/HoldGuide-assets/MochikataKr.png</key>
			<dict>
				<key>frame</key>
				<string>{{148,1996},{54,16}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{54,16}</string>
			</dict>
			<key>Textures/HoldGuide-assets/MochikataSc.png</key>
			<dict>
				<key>frame</key>
				<string>{{206,1996},{48,14}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{48,14}</string>
			</dict>
			<key>Textures/HoldGuide-assets/MochikataTc.png</key>
			<dict>
				<key>frame</key>
				<string>{{250,1938},{46,18}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{46,18}</string>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>2</integer>
			<key>textureFileName</key>
			<string>HoldGuild.png</string>
			<key>realTextureFileName</key>
			<string>HoldGuild.png</string>
			<key>size</key>
			<string>{484,2048}</string>
		</dict>
		<key>texture</key>
		<dict>
			<key>width</key>
			<integer>484</integer>
			<key>height</key>
			<integer>2048</integer>
		</dict>
	</dict>
</plist>