<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>Textures/BonusIcon-assets/BonusIcon000.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,1},{32,32}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{32,32}</string>
			</dict>
			<key>Textures/BonusIcon-assets/BonusIcon000G.png</key>
			<dict>
				<key>frame</key>
				<string>{{35,1},{32,32}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{32,32}</string>
			</dict>
			<key>Textures/BonusIcon-assets/BonusIcon001.png</key>
			<dict>
				<key>frame</key>
				<string>{{69,1},{32,32}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{32,32}</string>
			</dict>
			<key>Textures/BonusIcon-assets/BonusIcon001G.png</key>
			<dict>
				<key>frame</key>
				<string>{{103,1},{32,32}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{32,32}</string>
			</dict>
			<key>Textures/BonusIcon-assets/BonusIcon002.png</key>
			<dict>
				<key>frame</key>
				<string>{{137,1},{32,32}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{32,32}</string>
			</dict>
			<key>Textures/BonusIcon-assets/BonusIcon002G.png</key>
			<dict>
				<key>frame</key>
				<string>{{171,1},{32,32}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{32,32}</string>
			</dict>
			<key>Textures/BonusIcon-assets/BonusIcon003.png</key>
			<dict>
				<key>frame</key>
				<string>{{205,1},{32,32}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{32,32}</string>
			</dict>
			<key>Textures/BonusIcon-assets/BonusIcon003G.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,35},{32,32}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{32,32}</string>
			</dict>
			<key>Textures/BonusIcon-assets/BonusIcon004.png</key>
			<dict>
				<key>frame</key>
				<string>{{35,35},{32,32}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{32,32}</string>
			</dict>
			<key>Textures/BonusIcon-assets/BonusIcon004G.png</key>
			<dict>
				<key>frame</key>
				<string>{{69,35},{32,32}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{32,32}</string>
			</dict>
			<key>Textures/BonusIcon-assets/BonusIcon005.png</key>
			<dict>
				<key>frame</key>
				<string>{{103,35},{32,32}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{32,32}</string>
			</dict>
			<key>Textures/BonusIcon-assets/BonusIcon005G.png</key>
			<dict>
				<key>frame</key>
				<string>{{137,35},{32,32}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{32,32}</string>
			</dict>
			<key>Textures/BonusIcon-assets/BonusIcon006.png</key>
			<dict>
				<key>frame</key>
				<string>{{171,35},{32,32}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{32,32}</string>
			</dict>
			<key>Textures/BonusIcon-assets/BonusIcon006G.png</key>
			<dict>
				<key>frame</key>
				<string>{{205,35},{32,32}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{32,32}</string>
			</dict>
			<key>Textures/BonusIcon-assets/BonusIcon007.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,69},{32,32}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{32,32}</string>
			</dict>
			<key>Textures/BonusIcon-assets/BonusIcon007G.png</key>
			<dict>
				<key>frame</key>
				<string>{{35,69},{32,32}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{32,32}</string>
			</dict>
			<key>Textures/BonusIcon-assets/BonusIcon008.png</key>
			<dict>
				<key>frame</key>
				<string>{{69,69},{32,32}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{32,32}</string>
			</dict>
			<key>Textures/BonusIcon-assets/BonusIcon008G.png</key>
			<dict>
				<key>frame</key>
				<string>{{103,69},{32,32}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{32,32}</string>
			</dict>
			<key>Textures/BonusIcon-assets/BonusIcon009.png</key>
			<dict>
				<key>frame</key>
				<string>{{137,69},{32,32}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{32,32}</string>
			</dict>
			<key>Textures/BonusIcon-assets/BonusIcon009G.png</key>
			<dict>
				<key>frame</key>
				<string>{{171,69},{32,32}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{32,32}</string>
			</dict>
			<key>Textures/BonusIcon-assets/BonusIcon010.png</key>
			<dict>
				<key>frame</key>
				<string>{{205,69},{32,32}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{32,32}</string>
			</dict>
			<key>Textures/BonusIcon-assets/BonusIcon010G.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,103},{32,32}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{32,32}</string>
			</dict>
			<key>Textures/BonusIcon-assets/BonusIcon011.png</key>
			<dict>
				<key>frame</key>
				<string>{{35,103},{32,32}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{32,32}</string>
			</dict>
			<key>Textures/BonusIcon-assets/BonusIcon011G.png</key>
			<dict>
				<key>frame</key>
				<string>{{69,103},{32,32}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{32,32}</string>
			</dict>
			<key>Textures/BonusIcon-assets/BonusIcon012.png</key>
			<dict>
				<key>frame</key>
				<string>{{103,103},{32,32}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{32,32}</string>
			</dict>
			<key>Textures/BonusIcon-assets/BonusIcon012G.png</key>
			<dict>
				<key>frame</key>
				<string>{{137,103},{32,32}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{32,32}</string>
			</dict>
			<key>Textures/BonusIcon-assets/BonusIcon013.png</key>
			<dict>
				<key>frame</key>
				<string>{{171,103},{32,32}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{32,32}</string>
			</dict>
			<key>Textures/BonusIcon-assets/BonusIcon013G.png</key>
			<dict>
				<key>frame</key>
				<string>{{205,103},{32,32}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{32,32}</string>
			</dict>
			<key>Textures/BonusIcon-assets/BonusIcon014.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,137},{32,32}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{32,32}</string>
			</dict>
			<key>Textures/BonusIcon-assets/BonusIcon014G.png</key>
			<dict>
				<key>frame</key>
				<string>{{35,137},{32,32}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{32,32}</string>
			</dict>
			<key>Textures/BonusIcon-assets/BonusIcon015.png</key>
			<dict>
				<key>frame</key>
				<string>{{69,137},{32,32}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{32,32}</string>
			</dict>
			<key>Textures/BonusIcon-assets/BonusIcon015G.png</key>
			<dict>
				<key>frame</key>
				<string>{{103,137},{32,32}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{32,32}</string>
			</dict>
			<key>Textures/BonusIcon-assets/BonusIcon016.png</key>
			<dict>
				<key>frame</key>
				<string>{{137,137},{32,32}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{32,32}</string>
			</dict>
			<key>Textures/BonusIcon-assets/BonusIcon016G.png</key>
			<dict>
				<key>frame</key>
				<string>{{171,137},{32,32}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{32,32}</string>
			</dict>
			<key>Textures/BonusIcon-assets/BonusIcon017.png</key>
			<dict>
				<key>frame</key>
				<string>{{205,137},{32,32}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{32,32}</string>
			</dict>
			<key>Textures/BonusIcon-assets/BonusIcon017G.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,171},{32,32}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{32,32}</string>
			</dict>
			<key>Textures/BonusIcon-assets/BonusIcon018.png</key>
			<dict>
				<key>frame</key>
				<string>{{35,171},{32,32}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{32,32}</string>
			</dict>
			<key>Textures/BonusIcon-assets/BonusIcon018G.png</key>
			<dict>
				<key>frame</key>
				<string>{{69,171},{32,32}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{32,32}</string>
			</dict>
			<key>Textures/BonusIcon-assets/BonusIcon019.png</key>
			<dict>
				<key>frame</key>
				<string>{{103,171},{32,32}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{32,32}</string>
			</dict>
			<key>Textures/BonusIcon-assets/BonusIcon019G.png</key>
			<dict>
				<key>frame</key>
				<string>{{137,171},{32,32}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{32,32}</string>
			</dict>
			<key>Textures/BonusIcon-assets/BonusIcon020.png</key>
			<dict>
				<key>frame</key>
				<string>{{171,171},{32,32}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{32,32}</string>
			</dict>
			<key>Textures/BonusIcon-assets/BonusIcon020G.png</key>
			<dict>
				<key>frame</key>
				<string>{{205,171},{32,32}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{32,32}</string>
			</dict>
			<key>Textures/BonusIcon-assets/BonusIcon021.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,205},{32,32}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{32,32}</string>
			</dict>
			<key>Textures/BonusIcon-assets/BonusIcon021G.png</key>
			<dict>
				<key>frame</key>
				<string>{{35,205},{32,32}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{32,32}</string>
			</dict>
			<key>Textures/BonusIcon-assets/GoldMedal.png</key>
			<dict>
				<key>frame</key>
				<string>{{137,477},{15,20}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{15,20}</string>
			</dict>
			<key>Textures/BonusIcon-assets/HaloEffect.png</key>
			<dict>
				<key>frame</key>
				<string>{{69,205},{32,32}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{32,32}</string>
			</dict>
			<key>Textures/BonusIcon-assets/BonusIcon022.png</key>
			<dict>
				<key>frame</key>
				<string>{{103,205},{32,32}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{32,32}</string>
			</dict>
			<key>Textures/BonusIcon-assets/BonusIcon022G.png</key>
			<dict>
				<key>frame</key>
				<string>{{137,205},{32,32}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{32,32}</string>
			</dict>
			<key>Textures/BonusIcon-assets/BonusIcon023.png</key>
			<dict>
				<key>frame</key>
				<string>{{171,205},{32,32}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{32,32}</string>
			</dict>
			<key>Textures/BonusIcon-assets/BonusIcon023G.png</key>
			<dict>
				<key>frame</key>
				<string>{{205,205},{32,32}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{32,32}</string>
			</dict>
			<key>Textures/BonusIcon-assets/BonusIcon024.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,239},{32,32}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{32,32}</string>
			</dict>
			<key>Textures/BonusIcon-assets/BonusIcon024G.png</key>
			<dict>
				<key>frame</key>
				<string>{{35,239},{32,32}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{32,32}</string>
			</dict>
			<key>Textures/BonusIcon-assets/BonusIcon025.png</key>
			<dict>
				<key>frame</key>
				<string>{{69,239},{32,32}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{32,32}</string>
			</dict>
			<key>Textures/BonusIcon-assets/BonusIcon025G.png</key>
			<dict>
				<key>frame</key>
				<string>{{103,239},{32,32}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{32,32}</string>
			</dict>
			<key>Textures/BonusIcon-assets/BonusIcon026.png</key>
			<dict>
				<key>frame</key>
				<string>{{137,239},{32,32}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{32,32}</string>
			</dict>
			<key>Textures/BonusIcon-assets/BonusIcon026G.png</key>
			<dict>
				<key>frame</key>
				<string>{{171,239},{32,32}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{32,32}</string>
			</dict>
			<key>Textures/BonusIcon-assets/BonusIcon027.png</key>
			<dict>
				<key>frame</key>
				<string>{{205,239},{32,32}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{32,32}</string>
			</dict>
			<key>Textures/BonusIcon-assets/BonusIcon027G.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,273},{32,32}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{32,32}</string>
			</dict>
			<key>Textures/BonusIcon-assets/BonusIcon028.png</key>
			<dict>
				<key>frame</key>
				<string>{{35,273},{32,32}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{32,32}</string>
			</dict>
			<key>Textures/BonusIcon-assets/BonusIcon028G.png</key>
			<dict>
				<key>frame</key>
				<string>{{69,273},{32,32}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{32,32}</string>
			</dict>
			<key>Textures/BonusIcon-assets/BonusIcon029.png</key>
			<dict>
				<key>frame</key>
				<string>{{103,273},{32,32}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{32,32}</string>
			</dict>
			<key>Textures/BonusIcon-assets/BonusIcon029G.png</key>
			<dict>
				<key>frame</key>
				<string>{{137,273},{32,32}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{32,32}</string>
			</dict>
			<key>Textures/BonusIcon-assets/BonusIcon030.png</key>
			<dict>
				<key>frame</key>
				<string>{{171,273},{32,32}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{32,32}</string>
			</dict>
			<key>Textures/BonusIcon-assets/BonusIcon030G.png</key>
			<dict>
				<key>frame</key>
				<string>{{205,273},{32,32}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{32,32}</string>
			</dict>
			<key>Textures/BonusIcon-assets/BonusIcon031.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,307},{32,32}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{32,32}</string>
			</dict>
			<key>Textures/BonusIcon-assets/BonusIcon031G.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,341},{32,32}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{32,32}</string>
			</dict>
			<key>Textures/BonusIcon-assets/BonusIcon032.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,375},{32,32}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{32,32}</string>
			</dict>
			<key>Textures/BonusIcon-assets/BonusIcon032G.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,409},{32,32}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{32,32}</string>
			</dict>
			<key>Textures/BonusIcon-assets/BonusIcon033.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,443},{32,32}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{32,32}</string>
			</dict>
			<key>Textures/BonusIcon-assets/BonusIcon033G.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,477},{32,32}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{32,32}</string>
			</dict>
			<key>Textures/BonusIcon-assets/BonusIcon034.png</key>
			<dict>
				<key>frame</key>
				<string>{{35,307},{32,32}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{32,32}</string>
			</dict>
			<key>Textures/BonusIcon-assets/BonusIcon034G.png</key>
			<dict>
				<key>frame</key>
				<string>{{69,307},{32,32}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{32,32}</string>
			</dict>
			<key>Textures/BonusIcon-assets/BonusIcon035.png</key>
			<dict>
				<key>frame</key>
				<string>{{103,307},{32,32}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{32,32}</string>
			</dict>
			<key>Textures/BonusIcon-assets/BonusIcon035G.png</key>
			<dict>
				<key>frame</key>
				<string>{{137,307},{32,32}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{32,32}</string>
			</dict>
			<key>Textures/BonusIcon-assets/BonusIcon036G.png</key>
			<dict>
				<key>frame</key>
				<string>{{171,307},{32,32}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{32,32}</string>
			</dict>
			<key>Textures/BonusIcon-assets/BonusIcon037G.png</key>
			<dict>
				<key>frame</key>
				<string>{{205,307},{32,32}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{32,32}</string>
			</dict>
			<key>Textures/BonusIcon-assets/BonusIcon036.png</key>
			<dict>
				<key>frame</key>
				<string>{{35,341},{32,32}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{32,32}</string>
			</dict>
			<key>Textures/BonusIcon-assets/BonusIcon037.png</key>
			<dict>
				<key>frame</key>
				<string>{{35,375},{32,32}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{32,32}</string>
			</dict>
			<key>Textures/BonusIcon-assets/BonusIcon038.png</key>
			<dict>
				<key>frame</key>
				<string>{{35,409},{32,32}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{32,32}</string>
			</dict>
			<key>Textures/BonusIcon-assets/BonusIcon038G.png</key>
			<dict>
				<key>frame</key>
				<string>{{35,443},{32,32}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{32,32}</string>
			</dict>
			<key>Textures/BonusIcon-assets/BonusIcon039.png</key>
			<dict>
				<key>frame</key>
				<string>{{35,477},{32,32}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{32,32}</string>
			</dict>
			<key>Textures/BonusIcon-assets/BonusIcon039G.png</key>
			<dict>
				<key>frame</key>
				<string>{{69,341},{32,32}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{32,32}</string>
			</dict>
			<key>Textures/BonusIcon-assets/BonusIcon040.png</key>
			<dict>
				<key>frame</key>
				<string>{{103,341},{32,32}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{32,32}</string>
			</dict>
			<key>Textures/BonusIcon-assets/BonusIcon040G.png</key>
			<dict>
				<key>frame</key>
				<string>{{137,341},{32,32}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{32,32}</string>
			</dict>
			<key>Textures/BonusIcon-assets/BonusIcon041.png</key>
			<dict>
				<key>frame</key>
				<string>{{171,341},{32,32}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{32,32}</string>
			</dict>
			<key>Textures/BonusIcon-assets/BonusIcon041G.png</key>
			<dict>
				<key>frame</key>
				<string>{{205,341},{32,32}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{32,32}</string>
			</dict>
			<key>Textures/BonusIcon-assets/BonusIcon042.png</key>
			<dict>
				<key>frame</key>
				<string>{{69,375},{32,32}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{32,32}</string>
			</dict>
			<key>Textures/BonusIcon-assets/BonusIcon042G.png</key>
			<dict>
				<key>frame</key>
				<string>{{69,409},{32,32}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{32,32}</string>
			</dict>
			<key>Textures/BonusIcon-assets/BonusIcon043.png</key>
			<dict>
				<key>frame</key>
				<string>{{69,443},{32,32}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{32,32}</string>
			</dict>
			<key>Textures/BonusIcon-assets/BonusIcon043G.png</key>
			<dict>
				<key>frame</key>
				<string>{{69,477},{32,32}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{32,32}</string>
			</dict>
			<key>Textures/BonusIcon-assets/BonusIcon044.png</key>
			<dict>
				<key>frame</key>
				<string>{{103,375},{32,32}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{32,32}</string>
			</dict>
			<key>Textures/BonusIcon-assets/BonusIcon044G.png</key>
			<dict>
				<key>frame</key>
				<string>{{137,375},{32,32}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{32,32}</string>
			</dict>
			<key>Textures/BonusIcon-assets/IconFlash.png</key>
			<dict>
				<key>frame</key>
				<string>{{171,375},{32,32}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{32,32}</string>
			</dict>
			<key>Textures/BonusIcon-assets/BonusIcon045.png</key>
			<dict>
				<key>frame</key>
				<string>{{205,375},{32,32}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{32,32}</string>
			</dict>
			<key>Textures/BonusIcon-assets/BonusIcon045G.png</key>
			<dict>
				<key>frame</key>
				<string>{{103,409},{32,32}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{32,32}</string>
			</dict>
			<key>Textures/BonusIcon-assets/BonusIcon046.png</key>
			<dict>
				<key>frame</key>
				<string>{{103,443},{32,32}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{32,32}</string>
			</dict>
			<key>Textures/BonusIcon-assets/BonusIcon046G.png</key>
			<dict>
				<key>frame</key>
				<string>{{103,477},{32,32}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{32,32}</string>
			</dict>
			<key>Textures/BonusIcon-assets/BonusIcon047.png</key>
			<dict>
				<key>frame</key>
				<string>{{137,409},{32,32}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{32,32}</string>
			</dict>
			<key>Textures/BonusIcon-assets/BonusIcon047G.png</key>
			<dict>
				<key>frame</key>
				<string>{{171,409},{32,32}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{32,32}</string>
			</dict>
			<key>Textures/BonusIcon-assets/BonusMedal1000.png</key>
			<dict>
				<key>frame</key>
				<string>{{137,499},{26,10}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{26,10}</string>
			</dict>
			<key>Textures/BonusIcon-assets/BonusMedal1000G.png</key>
			<dict>
				<key>frame</key>
				<string>{{154,477},{26,10}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{26,10}</string>
			</dict>
			<key>Textures/BonusIcon-assets/Kirakira01.png</key>
			<dict>
				<key>frame</key>
				<string>{{165,489},{16,16}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{16,16}</string>
			</dict>
			<key>Textures/BonusIcon-assets/Kirakira02.png</key>
			<dict>
				<key>frame</key>
				<string>{{171,443},{16,16}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{16,16}</string>
			</dict>
			<key>Textures/BonusIcon-assets/Kirakira03.png</key>
			<dict>
				<key>frame</key>
				<string>{{182,461},{16,16}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{16,16}</string>
			</dict>
			<key>Textures/BonusIcon-assets/BonusIcon031Sc.png</key>
			<dict>
				<key>frame</key>
				<string>{{205,409},{32,32}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{32,32}</string>
			</dict>
			<key>Textures/BonusIcon-assets/BonusIcon031ScG.png</key>
			<dict>
				<key>frame</key>
				<string>{{137,443},{32,32}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{32,32}</string>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>2</integer>
			<key>textureFileName</key>
			<string>BonusIcon.png</string>
			<key>realTextureFileName</key>
			<string>BonusIcon.png</string>
			<key>size</key>
			<string>{238,510}</string>
		</dict>
		<key>texture</key>
		<dict>
			<key>width</key>
			<integer>238</integer>
			<key>height</key>
			<integer>510</integer>
		</dict>
	</dict>
</plist>