<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>Textures/Stage08-assets/BGBack.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,1},{540,390}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{540,390}</string>
			</dict>
			<key>Textures/Stage08-assets/BGFront.png</key>
			<dict>
				<key>frame</key>
				<string>{{393,1},{540,125}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{540,125}</string>
			</dict>
			<key>Textures/Stage08-assets/Black.png</key>
			<dict>
				<key>frame</key>
				<string>{{640,1},{540,106}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{540,106}</string>
			</dict>
			<key>Textures/Stage08-assets/CeilingLight00.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,686},{537,26}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{537,26}</string>
			</dict>
			<key>Textures/Stage08-assets/CeilingLight01.png</key>
			<dict>
				<key>frame</key>
				<string>{{540,686},{537,26}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{537,26}</string>
			</dict>
			<key>Textures/Stage08-assets/Elevator.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,714},{20,27}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{20,27}</string>
			</dict>
			<key>Textures/Stage08-assets/Hell.png</key>
			<dict>
				<key>frame</key>
				<string>{{543,543},{540,117}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{540,117}</string>
			</dict>
			<key>Textures/Stage08-assets/Pillar.png</key>
			<dict>
				<key>frame</key>
				<string>{{748,1},{87,355}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{87,355}</string>
			</dict>
			<key>Textures/Stage08-assets/StageGround00.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,543},{540,141}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{540,141}</string>
			</dict>
			<key>Textures/Stage08-assets/StageGround01.png</key>
			<dict>
				<key>frame</key>
				<string>{{520,1},{540,118}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{540,118}</string>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>2</integer>
			<key>textureFileName</key>
			<string>Stage08.png</string>
			<key>realTextureFileName</key>
			<string>Stage08.png</string>
			<key>size</key>
			<string>{1104,735}</string>
		</dict>
		<key>texture</key>
		<dict>
			<key>width</key>
			<integer>1104</integer>
			<key>height</key>
			<integer>735</integer>
		</dict>
	</dict>
</plist>