<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>Textures/DecoIcon-assets/DecoIcon01.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,1},{32,32}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{32,32}</string>
			</dict>
			<key>Textures/DecoIcon-assets/DecoIcon02.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,35},{32,32}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{32,32}</string>
			</dict>
			<key>Textures/DecoIcon-assets/DecoIcon03.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,69},{32,32}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{32,32}</string>
			</dict>
			<key>Textures/DecoIcon-assets/DecoIcon04.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,103},{32,32}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{32,32}</string>
			</dict>
			<key>Textures/DecoIcon-assets/DecoIcon05.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,137},{32,32}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{32,32}</string>
			</dict>
			<key>Textures/DecoIcon-assets/DecoIcon06.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,171},{32,32}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{32,32}</string>
			</dict>
			<key>Textures/DecoIcon-assets/DecoIcon07.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,205},{32,32}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{32,32}</string>
			</dict>
			<key>Textures/DecoIcon-assets/DecoIcon08.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,239},{32,32}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{32,32}</string>
			</dict>
			<key>Textures/DecoIcon-assets/DecoIcon09.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,273},{32,32}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{32,32}</string>
			</dict>
			<key>Textures/DecoIcon-assets/DecoIcon10.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,307},{32,32}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{32,32}</string>
			</dict>
			<key>Textures/DecoIcon-assets/DecoIcon11.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,341},{32,32}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{32,32}</string>
			</dict>
			<key>Textures/DecoIcon-assets/DecoIcon12.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,375},{32,32}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{32,32}</string>
			</dict>
			<key>Textures/DecoIcon-assets/DecoIcon13.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,409},{32,32}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{32,32}</string>
			</dict>
			<key>Textures/DecoIcon-assets/DecoIcon14.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,443},{32,32}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{32,32}</string>
			</dict>
			<key>Textures/DecoIcon-assets/DecoIcon15.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,477},{32,32}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{32,32}</string>
			</dict>
			<key>Textures/DecoIcon-assets/DecoIcon16.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,511},{32,32}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{32,32}</string>
			</dict>
			<key>Textures/DecoIcon-assets/DecoIcon17.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,545},{32,32}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{32,32}</string>
			</dict>
			<key>Textures/DecoIcon-assets/DecoIcon18.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,579},{32,32}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{32,32}</string>
			</dict>
			<key>Textures/DecoIcon-assets/DecoIcon19.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,613},{32,32}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{32,32}</string>
			</dict>
			<key>Textures/DecoIcon-assets/DecoIcon20.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,647},{32,32}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{32,32}</string>
			</dict>
			<key>Textures/DecoIcon-assets/DecoIcon21.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,681},{32,32}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{32,32}</string>
			</dict>
			<key>Textures/DecoIcon-assets/DecoIcon22.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,715},{32,32}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{32,32}</string>
			</dict>
			<key>Textures/DecoIcon-assets/DecoIcon24.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,749},{32,32}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{32,32}</string>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>2</integer>
			<key>textureFileName</key>
			<string>DecoIcon.png</string>
			<key>realTextureFileName</key>
			<string>DecoIcon.png</string>
			<key>size</key>
			<string>{34,782}</string>
		</dict>
		<key>texture</key>
		<dict>
			<key>width</key>
			<integer>34</integer>
			<key>height</key>
			<integer>782</integer>
		</dict>
	</dict>
</plist>