<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>Textures/DemoEndingMoon-assets/AlienBArrested00.png</key>
			<dict>
				<key>frame</key>
				<string>{{1646,159},{34,33}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{34,33}</string>
			</dict>
			<key>Textures/DemoEndingMoon-assets/AlienLArrested00.png</key>
			<dict>
				<key>frame</key>
				<string>{{1646,196},{34,33}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{34,33}</string>
			</dict>
			<key>Textures/DemoEndingMoon-assets/AlienLordArrested00.png</key>
			<dict>
				<key>frame</key>
				<string>{{1646,65},{36,53}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{36,53}</string>
			</dict>
			<key>Textures/DemoEndingMoon-assets/AlienRArrested00.png</key>
			<dict>
				<key>frame</key>
				<string>{{1646,122},{35,33}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{35,33}</string>
			</dict>
			<key>Textures/DemoEndingMoon-assets/Building.png</key>
			<dict>
				<key>frame</key>
				<string>{{2,2},{540,320}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{540,320}</string>
			</dict>
			<key>Textures/DemoEndingMoon-assets/Farm.png</key>
			<dict>
				<key>frame</key>
				<string>{{546,2},{540,320}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{540,320}</string>
			</dict>
			<key>Textures/DemoEndingMoon-assets/FukidashiRoot.png</key>
			<dict>
				<key>frame</key>
				<string>{{1646,233},{18,44}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{18,44}</string>
			</dict>
			<key>Textures/DemoEndingMoon-assets/FukidashiRoot01.png</key>
			<dict>
				<key>frame</key>
				<string>{{1668,233},{18,44}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{18,44}</string>
			</dict>
			<key>Textures/DemoEndingMoon-assets/FukidashiRoot02.png</key>
			<dict>
				<key>frame</key>
				<string>{{1646,281},{18,44}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{18,44}</string>
			</dict>
			<key>Textures/DemoEndingMoon-assets/HighSchool.png</key>
			<dict>
				<key>frame</key>
				<string>{{1090,2},{540,320}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{540,320}</string>
			</dict>
			<key>Textures/DemoEndingMoon-assets/Home.png</key>
			<dict>
				<key>frame</key>
				<string>{{2,326},{540,320}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{540,320}</string>
			</dict>
			<key>Textures/DemoEndingMoon-assets/JailBack.png</key>
			<dict>
				<key>frame</key>
				<string>{{966,1383},{101,95}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{101,95}</string>
			</dict>
			<key>Textures/DemoEndingMoon-assets/JailFront.png</key>
			<dict>
				<key>frame</key>
				<string>{{1071,1383},{101,95}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{101,95}</string>
			</dict>
			<key>Textures/DemoEndingMoon-assets/Laboratory.png</key>
			<dict>
				<key>frame</key>
				<string>{{546,326},{540,320}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{540,320}</string>
			</dict>
			<key>Textures/DemoEndingMoon-assets/Meteo00.png</key>
			<dict>
				<key>frame</key>
				<string>{{1686,65},{11,22}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{11,22}</string>
			</dict>
			<key>Textures/DemoEndingMoon-assets/Meteo01.png</key>
			<dict>
				<key>frame</key>
				<string>{{1686,91},{11,22}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{11,22}</string>
			</dict>
			<key>Textures/DemoEndingMoon-assets/Meteo02.png</key>
			<dict>
				<key>frame</key>
				<string>{{1686,117},{11,22}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{11,22}</string>
			</dict>
			<key>Textures/DemoEndingMoon-assets/Meteo03.png</key>
			<dict>
				<key>frame</key>
				<string>{{1685,143},{11,22}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{11,22}</string>
			</dict>
			<key>Textures/DemoEndingMoon-assets/PhoneFukidashi00.png</key>
			<dict>
				<key>frame</key>
				<string>{{790,1298},{172,81}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{172,81}</string>
			</dict>
			<key>Textures/DemoEndingMoon-assets/PhoneFukidashi01.png</key>
			<dict>
				<key>frame</key>
				<string>{{790,1383},{172,81}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{172,81}</string>
			</dict>
			<key>Textures/DemoEndingMoon-assets/PhoneFukidashi02.png</key>
			<dict>
				<key>frame</key>
				<string>{{966,1298},{172,81}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{172,81}</string>
			</dict>
			<key>Textures/DemoEndingMoon-assets/Sea.png</key>
			<dict>
				<key>frame</key>
				<string>{{1090,326},{540,320}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{540,320}</string>
			</dict>
			<key>Textures/DemoEndingMoon-assets/StarBack.png</key>
			<dict>
				<key>frame</key>
				<string>{{1438,974},{193,320}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{193,320}</string>
			</dict>
			<key>Textures/DemoEndingMoon-assets/UPhone.png</key>
			<dict>
				<key>frame</key>
				<string>{{1668,281},{15,16}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{15,16}</string>
			</dict>
			<key>Textures/DemoEndingMoon-assets/RoomCorner.png</key>
			<dict>
				<key>frame</key>
				<string>{{2,1452},{540,4}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{540,4}</string>
			</dict>
			<key>Textures/Demo001-assets/BGStar00.png</key>
			<dict>
				<key>frame</key>
				<string>{{546,1298},{240,160}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{240,160}</string>
			</dict>
			<key>Textures/Demo001-assets/BlackFade.png</key>
			<dict>
				<key>frame</key>
				<string>{{1194,974},{240,320}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{240,320}</string>
			</dict>
			<key>Textures/Demo001-assets/BlackScreen01.png</key>
			<dict>
				<key>frame</key>
				<string>{{1684,169},{8,8}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{8,8}</string>
			</dict>
			<key>Textures/Demo001-assets/Earth.png</key>
			<dict>
				<key>frame</key>
				<string>{{546,974},{320,320}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{320,320}</string>
			</dict>
			<key>Textures/Demo001-assets/Ozone.png</key>
			<dict>
				<key>frame</key>
				<string>{{870,974},{320,320}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{320,320}</string>
			</dict>
			<key>Textures/Demo001-assets/UniverseBg01.png</key>
			<dict>
				<key>frame</key>
				<string>{{1634,2},{8,320}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{8,320}</string>
			</dict>
			<key>Textures/DemoEndingMoon-assets/HomeBack.png</key>
			<dict>
				<key>frame</key>
				<string>{{2,650},{540,320}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{540,320}</string>
			</dict>
			<key>Textures/DemoEndingMoon-assets/HomeMiddle.png</key>
			<dict>
				<key>frame</key>
				<string>{{2,974},{540,320}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{540,320}</string>
			</dict>
			<key>Textures/DemoEndingMoon-assets/Train.png</key>
			<dict>
				<key>frame</key>
				<string>{{1634,329},{55,9}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{55,9}</string>
			</dict>
			<key>Textures/DemoEndingMoon-assets/Planet.png</key>
			<dict>
				<key>frame</key>
				<string>{{546,650},{540,320}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{540,320}</string>
			</dict>
			<key>Textures/DemoEndingMoon-assets/AnkVacanse00.png</key>
			<dict>
				<key>frame</key>
				<string>{{1646,2},{52,59}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{52,59}</string>
			</dict>
			<key>Textures/DemoEndingMoon-assets/PlanetBack.png</key>
			<dict>
				<key>frame</key>
				<string>{{1090,650},{540,320}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{540,320}</string>
			</dict>
			<key>Textures/DemoEndingMoon-assets/PlanetMiddle.png</key>
			<dict>
				<key>frame</key>
				<string>{{2,1298},{540,150}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{540,150}</string>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>2</integer>
			<key>textureFileName</key>
			<string>DemoEnding.png</string>
			<key>realTextureFileName</key>
			<string>DemoEnding.png</string>
			<key>size</key>
			<string>{1700,1480}</string>
		</dict>
		<key>texture</key>
		<dict>
			<key>width</key>
			<integer>1700</integer>
			<key>height</key>
			<integer>1480</integer>
		</dict>
	</dict>
</plist>