<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>Textures/Stage09-assets/AttackA00.png</key>
			<dict>
				<key>frame</key>
				<string>{{1090,2},{131,107}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{131,107}</string>
			</dict>
			<key>Textures/Stage09-assets/AttackA01.png</key>
			<dict>
				<key>frame</key>
				<string>{{1090,137},{131,107}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{131,107}</string>
			</dict>
			<key>Textures/Stage09-assets/AttackA02.png</key>
			<dict>
				<key>frame</key>
				<string>{{1090,272},{131,107}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{131,107}</string>
			</dict>
			<key>Textures/Stage09-assets/AttackA03.png</key>
			<dict>
				<key>frame</key>
				<string>{{1090,407},{131,107}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{131,107}</string>
			</dict>
			<key>Textures/Stage09-assets/AttackB00.png</key>
			<dict>
				<key>frame</key>
				<string>{{1090,542},{131,107}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{131,107}</string>
			</dict>
			<key>Textures/Stage09-assets/AttackB01.png</key>
			<dict>
				<key>frame</key>
				<string>{{1090,677},{131,107}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{131,107}</string>
			</dict>
			<key>Textures/Stage09-assets/AttackB02.png</key>
			<dict>
				<key>frame</key>
				<string>{{1090,812},{131,107}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{131,107}</string>
			</dict>
			<key>Textures/Stage09-assets/BGBack.png</key>
			<dict>
				<key>frame</key>
				<string>{{2,2},{540,390}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{540,390}</string>
			</dict>
			<key>Textures/Stage09-assets/BGFront01.png</key>
			<dict>
				<key>frame</key>
				<string>{{2,396},{540,149}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{540,149}</string>
			</dict>
			<key>Textures/Stage09-assets/BGFront02.png</key>
			<dict>
				<key>frame</key>
				<string>{{546,533},{540,149}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{540,149}</string>
			</dict>
			<key>Textures/Stage09-assets/BGGround.png</key>
			<dict>
				<key>frame</key>
				<string>{{546,376},{540,153}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{540,153}</string>
			</dict>
			<key>Textures/Stage09-assets/BGMiddle00.png</key>
			<dict>
				<key>frame</key>
				<string>{{546,2},{540,183}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{540,183}</string>
			</dict>
			<key>Textures/Stage09-assets/BGMiddle01.png</key>
			<dict>
				<key>frame</key>
				<string>{{546,189},{540,183}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{540,183}</string>
			</dict>
			<key>Textures/Stage09-assets/BossAppear.png</key>
			<dict>
				<key>frame</key>
				<string>{{546,839},{196,123}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{196,123}</string>
			</dict>
			<key>Textures/Stage09-assets/DetonationA00.png</key>
			<dict>
				<key>frame</key>
				<string>{{694,920},{15,15}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{15,15}</string>
			</dict>
			<key>Textures/Stage09-assets/DetonationA01.png</key>
			<dict>
				<key>frame</key>
				<string>{{729,897},{13,13}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{13,13}</string>
			</dict>
			<key>Textures/Stage09-assets/DetonationA02.png</key>
			<dict>
				<key>frame</key>
				<string>{{713,920},{15,15}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{15,15}</string>
			</dict>
			<key>Textures/Stage09-assets/DetonationA03.png</key>
			<dict>
				<key>frame</key>
				<string>{{673,920},{17,17}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{17,17}</string>
			</dict>
			<key>Textures/Stage09-assets/DetonationB00.png</key>
			<dict>
				<key>frame</key>
				<string>{{742,914},{9,9}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{9,9}</string>
			</dict>
			<key>Textures/Stage09-assets/DetonationB01.png</key>
			<dict>
				<key>frame</key>
				<string>{{746,897},{9,9}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{9,9}</string>
			</dict>
			<key>Textures/Stage09-assets/DetonationB02.png</key>
			<dict>
				<key>frame</key>
				<string>{{755,910},{9,9}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{9,9}</string>
			</dict>
			<key>Textures/Stage09-assets/Earth00.png</key>
			<dict>
				<key>frame</key>
				<string>{{673,947},{92,92}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{92,92}</string>
			</dict>
			<key>Textures/Stage09-assets/ShipBigA00.png</key>
			<dict>
				<key>frame</key>
				<string>{{673,839},{144,54}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{144,54}</string>
			</dict>
			<key>Textures/Stage09-assets/ShipLittle00.png</key>
			<dict>
				<key>frame</key>
				<string>{{742,927},{13,5}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{13,5}</string>
			</dict>
			<key>Textures/Stage09-assets/StageGround00.png</key>
			<dict>
				<key>frame</key>
				<string>{{2,549},{540,149}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{540,149}</string>
			</dict>
			<key>Textures/Stage09-assets/StageGround01.png</key>
			<dict>
				<key>frame</key>
				<string>{{546,686},{540,149}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{540,149}</string>
			</dict>
			<key>Textures/Stage09-assets/StageGround02.png</key>
			<dict>
				<key>frame</key>
				<string>{{2,702},{540,149}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{540,149}</string>
			</dict>
			<key>Textures/Stage09-assets/ShipLittle01.png</key>
			<dict>
				<key>frame</key>
				<string>{{754,936},{13,5}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{13,5}</string>
			</dict>
			<key>Textures/Stage09-assets/ShipMiddleA00.png</key>
			<dict>
				<key>frame</key>
				<string>{{673,897},{52,19}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{52,19}</string>
			</dict>
			<key>Textures/Stage09-assets/GreatWorker.png</key>
			<dict>
				<key>frame</key>
				<string>{{769,945},{68,64}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{68,64}</string>
			</dict>
			<key>Textures/Stage09-assets/ShipBeamA.png</key>
			<dict>
				<key>frame</key>
				<string>{{732,914},{18,6}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{18,6}</string>
			</dict>
			<key>Textures/Stage09-assets/ShipBeamB.png</key>
			<dict>
				<key>frame</key>
				<string>{{732,936},{18,6}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{18,6}</string>
			</dict>
			<key>Textures/Stage09-assets/WorkerJet00.png</key>
			<dict>
				<key>frame</key>
				<string>{{821,839},{68,64}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{68,64}</string>
			</dict>
			<key>Textures/Stage09-assets/WorkerJet01.png</key>
			<dict>
				<key>frame</key>
				<string>{{889,839},{68,64}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{68,64}</string>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>2</integer>
			<key>textureFileName</key>
			<string>Stage09.png</string>
			<key>realTextureFileName</key>
			<string>Stage09.png</string>
			<key>size</key>
			<string>{1199,1041}</string>
		</dict>
		<key>texture</key>
		<dict>
			<key>width</key>
			<integer>1199</integer>
			<key>height</key>
			<integer>1041</integer>
		</dict>
	</dict>
</plist>