<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">

<!-- created with http://www.physicseditor.de -->

<plist version="1.0">
	<dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>1</integer>
            <key>ptm_ratio</key>
            <real>32</real>
        </dict>
        <key>bodies</key>
		<dict>

			<key>SittingCow</key>
			<dict>
				<key>anchorpoint</key>
                <string>{ 0.5000,0.5000 }</string>
				<key>fixtures</key>
				<array>

					<dict>
                        <key>density</key> <real>100</real>
                        <key>friction</key> <real>0.69999999999999996</real>
                        <key>restitution</key> <real>0.20000000000000001</real>
                        <key>filter_categoryBits</key> <integer>16</integer>
                        <key>filter_groupIndex</key> <integer>0</integer>
                        <key>filter_maskBits</key> <integer>63487</integer>
                        <key>isSensor</key> <false/>
                        <key>id</key> <string></string>
                        <key>fixture_type</key> <string>POLYGON</string>

						<key>polygons</key>
						<array>
							<array>	
								<string>{ -108.000,-79.000 }</string>	
								<string>{ -97.000,-88.000 }</string>	
								<string>{ 5.000,-88.000 }</string>	
								<string>{ -94.000,-45.000 }</string>	
								<string>{ -108.000,-61.000 }</string>
							</array>
							<array>	
								<string>{ -94.000,-45.000 }</string>	
								<string>{ 5.000,-88.000 }</string>	
								<string>{ 13.000,-77.000 }</string>	
								<string>{ -32.000,87.000 }</string>	
								<string>{ -52.000,75.000 }</string>
							</array>
							<array>	
								<string>{ 108.000,-67.000 }</string>	
								<string>{ 108.000,-41.000 }</string>	
								<string>{ 66.000,76.000 }</string>	
								<string>{ 45.000,87.000 }</string>	
								<string>{ -32.000,87.000 }</string>	
								<string>{ 13.000,-77.000 }</string>	
								<string>{ 20.000,-88.000 }</string>	
								<string>{ 90.000,-88.000 }</string>
							</array>
						</array>
                    </dict>
				</array>
			</dict>
		</dict>
	</dict>
</plist>

