<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>Textures/Stage01Character-assets/MotherSuccess01.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,1},{58,94}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{58,94}</string>
			</dict>
			<key>Textures/Stage01Character-assets/MotherSuccess02.png</key>
			<dict>
				<key>frame</key>
				<string>{{97,1},{58,94}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{58,94}</string>
			</dict>
			<key>Textures/Stage01Character-assets/MotherSuccess03.png</key>
			<dict>
				<key>frame</key>
				<string>{{193,1},{58,94}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{58,94}</string>
			</dict>
			<key>Textures/Stage01Character-assets/MotherSuccess04.png</key>
			<dict>
				<key>frame</key>
				<string>{{289,1},{58,94}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{58,94}</string>
			</dict>
			<key>Textures/Stage01Character-assets/MotherSuccess05.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,61},{58,94}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{58,94}</string>
			</dict>
			<key>Textures/Stage01Character-assets/MotherSuccess06.png</key>
			<dict>
				<key>frame</key>
				<string>{{97,61},{58,94}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{58,94}</string>
			</dict>
			<key>Textures/Stage01Character-assets/MotherWait01.png</key>
			<dict>
				<key>frame</key>
				<string>{{193,61},{58,94}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{58,94}</string>
			</dict>
			<key>Textures/Stage01Character-assets/MotherWait02.png</key>
			<dict>
				<key>frame</key>
				<string>{{289,61},{58,94}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{58,94}</string>
			</dict>
			<key>Textures/Stage01Character-assets/MotherWait03.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,121},{58,94}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{58,94}</string>
			</dict>
			<key>Textures/Stage01Character-assets/MotherWait04.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,217},{58,94}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{58,94}</string>
			</dict>
			<key>Textures/Stage01Character-assets/MotherWait05.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,313},{58,94}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{58,94}</string>
			</dict>
			<key>Textures/Stage01Character-assets/RabbitSuccess01.png</key>
			<dict>
				<key>frame</key>
				<string>{{116,188},{33,69}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{33,69}</string>
			</dict>
			<key>Textures/Stage01Character-assets/RabbitSuccess02.png</key>
			<dict>
				<key>frame</key>
				<string>{{116,259},{33,69}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{33,69}</string>
			</dict>
			<key>Textures/Stage01Character-assets/RabbitSuccess03.png</key>
			<dict>
				<key>frame</key>
				<string>{{116,330},{33,69}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{33,69}</string>
			</dict>
			<key>Textures/Stage01Character-assets/RabbitSuccess04.png</key>
			<dict>
				<key>frame</key>
				<string>{{166,365},{33,69}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{33,69}</string>
			</dict>
			<key>Textures/Stage01Character-assets/RabbitSuccess05.png</key>
			<dict>
				<key>frame</key>
				<string>{{166,436},{33,69}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{33,69}</string>
			</dict>
			<key>Textures/Stage01Character-assets/RabbitSuccess06.png</key>
			<dict>
				<key>frame</key>
				<string>{{151,188},{33,69}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{33,69}</string>
			</dict>
			<key>Textures/Stage01Character-assets/RabbitWait01.png</key>
			<dict>
				<key>frame</key>
				<string>{{171,121},{33,69}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{33,69}</string>
			</dict>
			<key>Textures/Stage01Character-assets/RabbitWait02.png</key>
			<dict>
				<key>frame</key>
				<string>{{151,259},{33,69}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{33,69}</string>
			</dict>
			<key>Textures/Stage01Character-assets/RabbitWait03.png</key>
			<dict>
				<key>frame</key>
				<string>{{186,156},{33,69}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{33,69}</string>
			</dict>
			<key>Textures/Stage01Character-assets/RabbitWait04.png</key>
			<dict>
				<key>frame</key>
				<string>{{186,227},{33,69}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{33,69}</string>
			</dict>
			<key>Textures/Stage01Character-assets/RabbitWait05.png</key>
			<dict>
				<key>frame</key>
				<string>{{187,298},{33,69}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{33,69}</string>
			</dict>
			<key>Textures/Stage01Character-assets/RabbitWait06.png</key>
			<dict>
				<key>frame</key>
				<string>{{201,333},{33,69}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{33,69}</string>
			</dict>
			<key>Textures/Stage01Character-assets/BanjoSuccess01.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,409},{53,65}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{53,65}</string>
			</dict>
			<key>Textures/Stage01Character-assets/BanjoSuccess02.png</key>
			<dict>
				<key>frame</key>
				<string>{{56,409},{53,65}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{53,65}</string>
			</dict>
			<key>Textures/Stage01Character-assets/BanjoSuccess03.png</key>
			<dict>
				<key>frame</key>
				<string>{{61,121},{53,65}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{53,65}</string>
			</dict>
			<key>Textures/Stage01Character-assets/BanjoSuccess04.png</key>
			<dict>
				<key>frame</key>
				<string>{{61,188},{53,65}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{53,65}</string>
			</dict>
			<key>Textures/Stage01Character-assets/BanjoSuccess05.png</key>
			<dict>
				<key>frame</key>
				<string>{{61,255},{53,65}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{53,65}</string>
			</dict>
			<key>Textures/Stage01Character-assets/BanjoWait01.png</key>
			<dict>
				<key>frame</key>
				<string>{{61,322},{53,65}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{53,65}</string>
			</dict>
			<key>Textures/Stage01Character-assets/BanjoWait02.png</key>
			<dict>
				<key>frame</key>
				<string>{{111,389},{53,65}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{53,65}</string>
			</dict>
			<key>Textures/Stage01Character-assets/BanjoWait03.png</key>
			<dict>
				<key>frame</key>
				<string>{{116,121},{53,65}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{53,65}</string>
			</dict>
			<key>Textures/Stage01Character-assets/DaughterSuccess01.png</key>
			<dict>
				<key>frame</key>
				<string>{{352,179},{41,45}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{41,45}</string>
			</dict>
			<key>Textures/Stage01Character-assets/DaughterSuccess02.png</key>
			<dict>
				<key>frame</key>
				<string>{{261,222},{41,45}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{41,45}</string>
			</dict>
			<key>Textures/Stage01Character-assets/DaughterSuccess03.png</key>
			<dict>
				<key>frame</key>
				<string>{{261,179},{41,45}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{41,45}</string>
			</dict>
			<key>Textures/Stage01Character-assets/DaughterSuccess04.png</key>
			<dict>
				<key>frame</key>
				<string>{{298,269},{41,45}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{41,45}</string>
			</dict>
			<key>Textures/Stage01Character-assets/DaughterWait01.png</key>
			<dict>
				<key>frame</key>
				<string>{{308,179},{41,45}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{41,45}</string>
			</dict>
			<key>Textures/Stage01Character-assets/DaughterWait02.png</key>
			<dict>
				<key>frame</key>
				<string>{{304,226},{41,45}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{41,45}</string>
			</dict>
			<key>Textures/Stage01Character-assets/DaughterWait03.png</key>
			<dict>
				<key>frame</key>
				<string>{{316,316},{41,45}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{41,45}</string>
			</dict>
			<key>Textures/Stage01Character-assets/DaughterWait04.png</key>
			<dict>
				<key>frame</key>
				<string>{{341,269},{41,45}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{41,45}</string>
			</dict>
			<key>Textures/Stage01Character-assets/DaughterWait05.png</key>
			<dict>
				<key>frame</key>
				<string>{{351,222},{41,45}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{41,45}</string>
			</dict>
			<key>Textures/Stage01Character-assets/DaughterWait06.png</key>
			<dict>
				<key>frame</key>
				<string>{{352,363},{41,45}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{41,45}</string>
			</dict>
			<key>Textures/Stage01Character-assets/DogSuccess01.png</key>
			<dict>
				<key>frame</key>
				<string>{{236,333},{56,38}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{56,38}</string>
			</dict>
			<key>Textures/Stage01Character-assets/DogSuccess02.png</key>
			<dict>
				<key>frame</key>
				<string>{{236,391},{56,38}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{56,38}</string>
			</dict>
			<key>Textures/Stage01Character-assets/DogSuccess03.png</key>
			<dict>
				<key>frame</key>
				<string>{{237,431},{56,38}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{56,38}</string>
			</dict>
			<key>Textures/Stage01Character-assets/DogSuccess04.png</key>
			<dict>
				<key>frame</key>
				<string>{{221,156},{56,38}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{56,38}</string>
			</dict>
			<key>Textures/Stage01Character-assets/DogSuccess05.png</key>
			<dict>
				<key>frame</key>
				<string>{{221,214},{56,38}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{56,38}</string>
			</dict>
			<key>Textures/Stage01Character-assets/DogSuccess06.png</key>
			<dict>
				<key>frame</key>
				<string>{{258,272},{56,38}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{56,38}</string>
			</dict>
			<key>Textures/Stage01Character-assets/DogWait01.png</key>
			<dict>
				<key>frame</key>
				<string>{{276,330},{56,38}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{56,38}</string>
			</dict>
			<key>Textures/Stage01Character-assets/DogWait02.png</key>
			<dict>
				<key>frame</key>
				<string>{{294,388},{56,38}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{56,38}</string>
			</dict>
			<key>Textures/Stage01Character-assets/DogWait03.png</key>
			<dict>
				<key>frame</key>
				<string>{{295,428},{56,38}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{56,38}</string>
			</dict>
			<key>Textures/Stage01Character-assets/DogWait04.png</key>
			<dict>
				<key>frame</key>
				<string>{{352,121},{56,38}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{56,38}</string>
			</dict>
			<key>Textures/Stage01Character-assets/DogWait05.png</key>
			<dict>
				<key>frame</key>
				<string>{{298,121},{56,38}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{56,38}</string>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>2</integer>
			<key>textureFileName</key>
			<string>Extra.png</string>
			<key>realTextureFileName</key>
			<string>Extra.png</string>
			<key>size</key>
			<string>{398,475}</string>
		</dict>
		<key>texture</key>
		<dict>
			<key>width</key>
			<integer>398</integer>
			<key>height</key>
			<integer>475</integer>
		</dict>
	</dict>
</plist>