<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>Textures/Stage01Character-assets/FarmerBreathtaking01.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,1},{70,78}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{70,78}</string>
			</dict>
			<key>Textures/Stage01Character-assets/FarmerBreathtaking02.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,81},{70,78}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{70,78}</string>
			</dict>
			<key>Textures/Stage01Character-assets/FarmerBreathtaking03.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,161},{70,78}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{70,78}</string>
			</dict>
			<key>Textures/Stage01Character-assets/FarmerBreathtaking04.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,241},{70,78}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{70,78}</string>
			</dict>
			<key>Textures/Stage01Character-assets/FarmerBreathtaking05.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,321},{70,78}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{70,78}</string>
			</dict>
			<key>Textures/Stage01Character-assets/FarmerBreathtaking06.png</key>
			<dict>
				<key>frame</key>
				<string>{{73,1},{70,78}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{70,78}</string>
			</dict>
			<key>Textures/Stage01Character-assets/FarmerClear01.png</key>
			<dict>
				<key>frame</key>
				<string>{{73,81},{70,78}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{70,78}</string>
			</dict>
			<key>Textures/Stage01Character-assets/FarmerClear02.png</key>
			<dict>
				<key>frame</key>
				<string>{{73,161},{70,78}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{70,78}</string>
			</dict>
			<key>Textures/Stage01Character-assets/FarmerClear03.png</key>
			<dict>
				<key>frame</key>
				<string>{{73,241},{70,78}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{70,78}</string>
			</dict>
			<key>Textures/Stage01Character-assets/FarmerClear04.png</key>
			<dict>
				<key>frame</key>
				<string>{{73,321},{70,78}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{70,78}</string>
			</dict>
			<key>Textures/Stage01Character-assets/FarmerClear05.png</key>
			<dict>
				<key>frame</key>
				<string>{{145,1},{70,78}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{70,78}</string>
			</dict>
			<key>Textures/Stage01Character-assets/FarmerClear06.png</key>
			<dict>
				<key>frame</key>
				<string>{{217,1},{70,78}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{70,78}</string>
			</dict>
			<key>Textures/Stage01Character-assets/FarmerFail01.png</key>
			<dict>
				<key>frame</key>
				<string>{{289,1},{70,78}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{70,78}</string>
			</dict>
			<key>Textures/Stage01Character-assets/FarmerFail03.png</key>
			<dict>
				<key>frame</key>
				<string>{{361,1},{70,78}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{70,78}</string>
			</dict>
			<key>Textures/Stage01Character-assets/FarmerFail04.png</key>
			<dict>
				<key>frame</key>
				<string>{{145,81},{70,78}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{70,78}</string>
			</dict>
			<key>Textures/Stage01Character-assets/FarmerFail05.png</key>
			<dict>
				<key>frame</key>
				<string>{{145,161},{70,78}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{70,78}</string>
			</dict>
			<key>Textures/Stage01Character-assets/FarmerSuccess01.png</key>
			<dict>
				<key>frame</key>
				<string>{{145,241},{70,78}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{70,78}</string>
			</dict>
			<key>Textures/Stage01Character-assets/FarmerSuccess02.png</key>
			<dict>
				<key>frame</key>
				<string>{{145,321},{70,78}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{70,78}</string>
			</dict>
			<key>Textures/Stage01Character-assets/FarmerSuccess03.png</key>
			<dict>
				<key>frame</key>
				<string>{{217,81},{70,78}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{70,78}</string>
			</dict>
			<key>Textures/Stage01Character-assets/FarmerSuccess04.png</key>
			<dict>
				<key>frame</key>
				<string>{{289,81},{70,78}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{70,78}</string>
			</dict>
			<key>Textures/Stage01Character-assets/FarmerSuccess05.png</key>
			<dict>
				<key>frame</key>
				<string>{{361,81},{70,78}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{70,78}</string>
			</dict>
			<key>Textures/Stage01Character-assets/FarmerWait01.png</key>
			<dict>
				<key>frame</key>
				<string>{{217,161},{70,78}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{70,78}</string>
			</dict>
			<key>Textures/Stage01Character-assets/FarmerWait02.png</key>
			<dict>
				<key>frame</key>
				<string>{{217,241},{70,78}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{70,78}</string>
			</dict>
			<key>Textures/Stage01Character-assets/FarmerWait03.png</key>
			<dict>
				<key>frame</key>
				<string>{{217,321},{70,78}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{70,78}</string>
			</dict>
			<key>Textures/Stage01Character-assets/FarmerWait04.png</key>
			<dict>
				<key>frame</key>
				<string>{{289,161},{70,78}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{70,78}</string>
			</dict>
			<key>Textures/Stage01Character-assets/FarmerFail02.png</key>
			<dict>
				<key>frame</key>
				<string>{{361,161},{70,78}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{70,78}</string>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>2</integer>
			<key>textureFileName</key>
			<string>Farmer.png</string>
			<key>realTextureFileName</key>
			<string>Farmer.png</string>
			<key>size</key>
			<string>{432,400}</string>
		</dict>
		<key>texture</key>
		<dict>
			<key>width</key>
			<integer>432</integer>
			<key>height</key>
			<integer>400</integer>
		</dict>
	</dict>
</plist>