<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>Textures/TruckFarmer-assets/TruckFarmerComplete00.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,1},{196,192}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{196,192}</string>
			</dict>
			<key>Textures/TruckFarmer-assets/TruckFarmerComplete01.png</key>
			<dict>
				<key>frame</key>
				<string>{{199,1},{196,192}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{196,192}</string>
			</dict>
			<key>Textures/TruckFarmer-assets/TruckFarmerComplete02.png</key>
			<dict>
				<key>frame</key>
				<string>{{397,1},{196,192}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{196,192}</string>
			</dict>
			<key>Textures/TruckFarmer-assets/TruckFarmerComplete03.png</key>
			<dict>
				<key>frame</key>
				<string>{{595,1},{196,192}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{196,192}</string>
			</dict>
			<key>Textures/TruckFarmer-assets/TruckFarmerFail00.png</key>
			<dict>
				<key>frame</key>
				<string>{{793,1},{196,192}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{196,192}</string>
			</dict>
			<key>Textures/TruckFarmer-assets/TruckFarmerFail01.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,195},{196,192}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{196,192}</string>
			</dict>
			<key>Textures/TruckFarmer-assets/TruckFarmerFail02.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,393},{196,192}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{196,192}</string>
			</dict>
			<key>Textures/TruckFarmer-assets/TruckFarmerFail03.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,591},{196,192}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{196,192}</string>
			</dict>
			<key>Textures/TruckFarmer-assets/TruckFarmerSuccess00.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,789},{196,192}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{196,192}</string>
			</dict>
			<key>Textures/TruckFarmer-assets/TruckFarmerSuccess01.png</key>
			<dict>
				<key>frame</key>
				<string>{{195,195},{196,192}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{196,192}</string>
			</dict>
			<key>Textures/TruckFarmer-assets/TruckFarmerSuccess02.png</key>
			<dict>
				<key>frame</key>
				<string>{{393,195},{196,192}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{196,192}</string>
			</dict>
			<key>Textures/TruckFarmer-assets/TruckFarmerSuccess03.png</key>
			<dict>
				<key>frame</key>
				<string>{{591,195},{196,192}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{196,192}</string>
			</dict>
			<key>Textures/TruckFarmer-assets/TruckFarmerSuccess04.png</key>
			<dict>
				<key>frame</key>
				<string>{{789,195},{196,192}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{196,192}</string>
			</dict>
			<key>Textures/TruckFarmer-assets/TruckFarmerSuccess05.png</key>
			<dict>
				<key>frame</key>
				<string>{{195,389},{196,192}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{196,192}</string>
			</dict>
			<key>Textures/TruckFarmer-assets/TruckFarmerThrill00.png</key>
			<dict>
				<key>frame</key>
				<string>{{195,587},{196,192}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{196,192}</string>
			</dict>
			<key>Textures/TruckFarmer-assets/TruckFarmerThrill01.png</key>
			<dict>
				<key>frame</key>
				<string>{{195,785},{196,192}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{196,192}</string>
			</dict>
			<key>Textures/TruckFarmer-assets/TruckFarmerWait00.png</key>
			<dict>
				<key>frame</key>
				<string>{{389,389},{196,192}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{196,192}</string>
			</dict>
			<key>Textures/TruckFarmer-assets/TruckFarmerWait01.png</key>
			<dict>
				<key>frame</key>
				<string>{{587,389},{196,192}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{196,192}</string>
			</dict>
			<key>Textures/TruckFarmer-assets/TruckFarmerWait02.png</key>
			<dict>
				<key>frame</key>
				<string>{{785,389},{196,192}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{196,192}</string>
			</dict>
			<key>Textures/TruckFarmer-assets/TruckFarmerWait03.png</key>
			<dict>
				<key>frame</key>
				<string>{{389,583},{196,192}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{196,192}</string>
			</dict>
			<key>Textures/TruckFarmer-assets/DoorWindow.png</key>
			<dict>
				<key>frame</key>
				<string>{{389,781},{196,192}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{196,192}</string>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>2</integer>
			<key>textureFileName</key>
			<string>TruckFarmer.png</string>
			<key>realTextureFileName</key>
			<string>TruckFarmer.png</string>
			<key>size</key>
			<string>{990,986}</string>
		</dict>
		<key>texture</key>
		<dict>
			<key>width</key>
			<integer>990</integer>
			<key>height</key>
			<integer>986</integer>
		</dict>
	</dict>
</plist>