<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>Textures/Challenge3Prop-assets/AlienPodFront.png</key>
			<dict>
				<key>frame</key>
				<string>{{854,598},{392,264}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{392,264}</string>
			</dict>
			<key>Textures/Challenge3Prop-assets/BackFire01.png</key>
			<dict>
				<key>frame</key>
				<string>{{698,1358},{136,252}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{136,252}</string>
			</dict>
			<key>Textures/Challenge3Prop-assets/BackFire02.png</key>
			<dict>
				<key>frame</key>
				<string>{{442,1382},{88,252}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{88,252}</string>
			</dict>
			<key>Textures/Challenge3Prop-assets/MoonPropA.png</key>
			<dict>
				<key>frame</key>
				<string>{{258,466},{244,132}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{244,132}</string>
			</dict>
			<key>Textures/Challenge3Prop-assets/MoonPropB.png</key>
			<dict>
				<key>frame</key>
				<string>{{1210,1354},{224,144}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{224,144}</string>
			</dict>
			<key>Textures/Challenge3Prop-assets/MoonPropC.png</key>
			<dict>
				<key>frame</key>
				<string>{{754,438},{460,156}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{460,156}</string>
			</dict>
			<key>Textures/Challenge3Prop-assets/MoonPropD.png</key>
			<dict>
				<key>frame</key>
				<string>{{1890,2},{240,148}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{240,148}</string>
			</dict>
			<key>Textures/Challenge3Prop-assets/MoonPropE.png</key>
			<dict>
				<key>frame</key>
				<string>{{1890,734},{196,180}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{196,180}</string>
			</dict>
			<key>Textures/Challenge3Prop-assets/MoonStoneA.png</key>
			<dict>
				<key>frame</key>
				<string>{{1218,490},{88,80}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{88,80}</string>
			</dict>
			<key>Textures/Challenge3Prop-assets/MoonStoneB.png</key>
			<dict>
				<key>frame</key>
				<string>{{2,1382},{116,216}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{116,216}</string>
			</dict>
			<key>Textures/Challenge3Prop-assets/BackFire00.png</key>
			<dict>
				<key>frame</key>
				<string>{{922,1262},{88,252}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{88,252}</string>
			</dict>
			<key>Textures/Challenge3Prop-assets/MoonStoneB01.png</key>
			<dict>
				<key>frame</key>
				<string>{{222,1382},{116,216}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{116,216}</string>
			</dict>
			<key>Textures/Challenge3Prop-assets/ShipSoil00.png</key>
			<dict>
				<key>frame</key>
				<string>{{2,2},{596,252}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{596,252}</string>
			</dict>
			<key>Textures/AlienBossEffect-assets/BossMoveDust00.png</key>
			<dict>
				<key>frame</key>
				<string>{{2,602},{460,312}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{460,312}</string>
			</dict>
			<key>Textures/AlienBossEffect-assets/BossMoveDust01.png</key>
			<dict>
				<key>frame</key>
				<string>{{2,1066},{460,312}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{460,312}</string>
			</dict>
			<key>Textures/AlienBossEffect-assets/BossMoveDust03.png</key>
			<dict>
				<key>frame</key>
				<string>{{258,2},{460,312}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{460,312}</string>
			</dict>
			<key>Textures/Challenge3Prop-assets/MoonSmoke05.png</key>
			<dict>
				<key>frame</key>
				<string>{{442,1474},{24,24}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{24,24}</string>
			</dict>
			<key>Textures/Challenge3Prop-assets/MoonSmoke06.png</key>
			<dict>
				<key>frame</key>
				<string>{{470,1474},{24,24}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{24,24}</string>
			</dict>
			<key>Textures/Challenge3Prop-assets/MoonSmoke07.png</key>
			<dict>
				<key>frame</key>
				<string>{{854,994},{32,32}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{32,32}</string>
			</dict>
			<key>Textures/Challenge3Prop-assets/BackFire03.png</key>
			<dict>
				<key>frame</key>
				<string>{{954,1354},{136,252}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{136,252}</string>
			</dict>
			<key>Textures/Challenge3Prop-assets/BackFire04.png</key>
			<dict>
				<key>frame</key>
				<string>{{1178,1262},{88,252}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{88,252}</string>
			</dict>
			<key>Textures/Challenge3Prop-assets/AlienPodFront00.png</key>
			<dict>
				<key>frame</key>
				<string>{{902,994},{392,264}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{392,264}</string>
			</dict>
			<key>Textures/Challenge3Prop-assets/AlienPodFront01.png</key>
			<dict>
				<key>frame</key>
				<string>{{1122,598},{392,264}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{392,264}</string>
			</dict>
			<key>Textures/Challenge3Prop-assets/AlienPodFront02.png</key>
			<dict>
				<key>frame</key>
				<string>{{1298,994},{392,264}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{392,264}</string>
			</dict>
			<key>Textures/Challenge3Prop-assets/AlienPodFront03.png</key>
			<dict>
				<key>frame</key>
				<string>{{1694,918},{392,264}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{392,264}</string>
			</dict>
			<key>Textures/Challenge3Prop-assets/AlienPodFront04.png</key>
			<dict>
				<key>frame</key>
				<string>{{1390,2},{392,264}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{392,264}</string>
			</dict>
			<key>Textures/Challenge3Prop-assets/AlienPodFront05.png</key>
			<dict>
				<key>frame</key>
				<string>{{318,602},{432,264}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{432,264}</string>
			</dict>
			<key>Textures/Challenge3Prop-assets/AlienPodFront06.png</key>
			<dict>
				<key>frame</key>
				<string>{{466,1038},{432,264}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{432,264}</string>
			</dict>
			<key>Textures/Challenge3Prop-assets/AlienPodFront07.png</key>
			<dict>
				<key>frame</key>
				<string>{{586,602},{432,264}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{432,264}</string>
			</dict>
			<key>Textures/Challenge3Prop-assets/AlienPodFront08.png</key>
			<dict>
				<key>frame</key>
				<string>{{574,2},{432,264}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{432,264}</string>
			</dict>
			<key>Textures/Challenge3Prop-assets/SoilLittle00.png</key>
			<dict>
				<key>frame</key>
				<string>{{466,1306},{48,224}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{48,224}</string>
			</dict>
			<key>Textures/Challenge3Prop-assets/SoilLittle01.png</key>
			<dict>
				<key>frame</key>
				<string>{{694,1306},{48,224}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{48,224}</string>
			</dict>
			<key>Textures/Challenge3Prop-assets/SoilLittle02.png</key>
			<dict>
				<key>frame</key>
				<string>{{1434,1262},{48,224}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{48,224}</string>
			</dict>
			<key>Textures/Challenge3Prop-assets/SoilLittle03.png</key>
			<dict>
				<key>frame</key>
				<string>{{1662,1262},{48,224}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{48,224}</string>
			</dict>
			<key>Textures/Challenge3Prop-assets/AlienPodCockpit.png</key>
			<dict>
				<key>frame</key>
				<string>{{1390,594},{392,264}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{392,264}</string>
			</dict>
			<key>Textures/Challenge3Prop-assets/MoonPropABroom.png</key>
			<dict>
				<key>frame</key>
				<string>{{506,466},{244,132}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{244,132}</string>
			</dict>
			<key>Textures/Challenge3Prop-assets/MoonPropALight.png</key>
			<dict>
				<key>frame</key>
				<string>{{1302,458},{244,132}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{244,132}</string>
			</dict>
			<key>Textures/Challenge3Prop-assets/MoonPropBBroom.png</key>
			<dict>
				<key>frame</key>
				<string>{{1218,2},{224,144}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{224,144}</string>
			</dict>
			<key>Textures/Challenge3Prop-assets/MoonPropBLight.png</key>
			<dict>
				<key>frame</key>
				<string>{{1218,230},{224,144}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{224,144}</string>
			</dict>
			<key>Textures/Challenge3Prop-assets/MoonPropCBroom.png</key>
			<dict>
				<key>frame</key>
				<string>{{1438,1314},{460,156}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{460,156}</string>
			</dict>
			<key>Textures/Challenge3Prop-assets/MoonPropDBroom.png</key>
			<dict>
				<key>frame</key>
				<string>{{1890,246},{240,148}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{240,148}</string>
			</dict>
			<key>Textures/Challenge3Prop-assets/MoonPropDLight.png</key>
			<dict>
				<key>frame</key>
				<string>{{1890,490},{240,148}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{240,148}</string>
			</dict>
			<key>Textures/Challenge3Prop-assets/MoonPropEBroom.png</key>
			<dict>
				<key>frame</key>
				<string>{{1902,1186},{196,180}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{196,180}</string>
			</dict>
			<key>Textures/Challenge3Prop-assets/MoonPropELight.png</key>
			<dict>
				<key>frame</key>
				<string>{{1550,398},{196,180}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{196,180}</string>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>2</integer>
			<key>textureFileName</key>
			<string>Challenge3Prop.png</string>
			<key>realTextureFileName</key>
			<string>Challenge3Prop.png</string>
			<key>size</key>
			<string>{2100,1500}</string>
		</dict>
		<key>texture</key>
		<dict>
			<key>width</key>
			<integer>2100</integer>
			<key>height</key>
			<integer>1500</integer>
		</dict>
	</dict>
</plist>