<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>Textures/Turnip-assets/Stalk00.png</key>
			<dict>
				<key>frame</key>
				<string>{{511,651},{128,108}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{128,108}</string>
			</dict>
			<key>Textures/Turnip-assets/Stalk01.png</key>
			<dict>
				<key>frame</key>
				<string>{{641,651},{128,108}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{128,108}</string>
			</dict>
			<key>Textures/Turnip-assets/Stalk02.png</key>
			<dict>
				<key>frame</key>
				<string>{{717,529},{128,108}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{128,108}</string>
			</dict>
			<key>Textures/Turnip-assets/TurnipBig00.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,1},{212,184}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{212,184}</string>
			</dict>
			<key>Textures/Turnip-assets/TurnipLittle00.png</key>
			<dict>
				<key>frame</key>
				<string>{{373,775},{64,76}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{64,76}</string>
			</dict>
			<key>Textures/Turnip-assets/TurnipLong00.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,857},{136,256}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{136,256}</string>
			</dict>
			<key>Textures/Turnip-assets/TurnipMiddle00.png</key>
			<dict>
				<key>frame</key>
				<string>{{571,1},{144,128}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{144,128}</string>
			</dict>
			<key>Textures/Turnip-assets/TurnipMiddleLeg00.png</key>
			<dict>
				<key>frame</key>
				<string>{{1301,261},{88,140}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{88,140}</string>
			</dict>
			<key>Textures/Turnip-assets/TurnipGold00.png</key>
			<dict>
				<key>frame</key>
				<string>{{571,131},{144,128}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{144,128}</string>
			</dict>
			<key>Textures/Turnip-assets/TurnipLittle01.png</key>
			<dict>
				<key>frame</key>
				<string>{{439,775},{64,76}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{64,76}</string>
			</dict>
			<key>Textures/Turnip-assets/TurnipLittle02.png</key>
			<dict>
				<key>frame</key>
				<string>{{505,775},{64,76}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{64,76}</string>
			</dict>
			<key>Textures/Turnip-assets/TurnipLittle03.png</key>
			<dict>
				<key>frame</key>
				<string>{{1325,1},{64,76}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{64,76}</string>
			</dict>
			<key>Textures/Turnip-assets/TurnipGold01.png</key>
			<dict>
				<key>frame</key>
				<string>{{1033,1},{144,128}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{144,128}</string>
			</dict>
			<key>Textures/Turnip-assets/TurnipGold02.png</key>
			<dict>
				<key>frame</key>
				<string>{{1179,1},{144,128}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{144,128}</string>
			</dict>
			<key>Textures/Turnip-assets/TurnipGold03.png</key>
			<dict>
				<key>frame</key>
				<string>{{1033,131},{144,128}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{144,128}</string>
			</dict>
			<key>Textures/Turnip-assets/TurnipGold04.png</key>
			<dict>
				<key>frame</key>
				<string>{{1179,131},{144,128}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{144,128}</string>
			</dict>
			<key>Textures/Turnip-assets/TurnipBig01.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,215},{212,184}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{212,184}</string>
			</dict>
			<key>Textures/Turnip-assets/TurnipBig02.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,429},{212,184}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{212,184}</string>
			</dict>
			<key>Textures/Turnip-assets/TurnipBig03.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,643},{212,184}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{212,184}</string>
			</dict>
			<key>Textures/Turnip-assets/TurnipBig04.png</key>
			<dict>
				<key>frame</key>
				<string>{{187,1},{212,184}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{212,184}</string>
			</dict>
			<key>Textures/Turnip-assets/TurnipLong01.png</key>
			<dict>
				<key>frame</key>
				<string>{{259,857},{136,256}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{136,256}</string>
			</dict>
			<key>Textures/Turnip-assets/TurnipLong02.png</key>
			<dict>
				<key>frame</key>
				<string>{{373,1},{136,256}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{136,256}</string>
			</dict>
			<key>Textures/Turnip-assets/TurnipLong03.png</key>
			<dict>
				<key>frame</key>
				<string>{{373,259},{136,256}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{136,256}</string>
			</dict>
			<key>Textures/Turnip-assets/TurnipLong04.png</key>
			<dict>
				<key>frame</key>
				<string>{{373,517},{136,256}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{136,256}</string>
			</dict>
			<key>Textures/Turnip-assets/TurnipMiddle01.png</key>
			<dict>
				<key>frame</key>
				<string>{{717,139},{144,128}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{144,128}</string>
			</dict>
			<key>Textures/Turnip-assets/TurnipMiddle02.png</key>
			<dict>
				<key>frame</key>
				<string>{{571,261},{144,128}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{144,128}</string>
			</dict>
			<key>Textures/Turnip-assets/TurnipMiddle03.png</key>
			<dict>
				<key>frame</key>
				<string>{{863,139},{144,128}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{144,128}</string>
			</dict>
			<key>Textures/Turnip-assets/TurnipMiddle04.png</key>
			<dict>
				<key>frame</key>
				<string>{{1009,261},{144,128}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{144,128}</string>
			</dict>
			<key>Textures/Turnip-assets/TurnipMiddleLeg01.png</key>
			<dict>
				<key>frame</key>
				<string>{{1301,403},{88,140}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{88,140}</string>
			</dict>
			<key>Textures/Turnip-assets/TurnipMiddleLeg02.png</key>
			<dict>
				<key>frame</key>
				<string>{{571,761},{88,140}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{88,140}</string>
			</dict>
			<key>Textures/Turnip-assets/TurnipMiddleLeg03.png</key>
			<dict>
				<key>frame</key>
				<string>{{713,761},{88,140}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{88,140}</string>
			</dict>
			<key>Textures/Turnip-assets/TurnipMiddleLeg04.png</key>
			<dict>
				<key>frame</key>
				<string>{{855,749},{88,140}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{88,140}</string>
			</dict>
			<key>Textures/Turnip-assets/TurnipMiddleLeg05.png</key>
			<dict>
				<key>frame</key>
				<string>{{1009,521},{88,140}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{88,140}</string>
			</dict>
			<key>Textures/Turnip-assets/GoldShine00.png</key>
			<dict>
				<key>frame</key>
				<string>{{717,269},{144,128}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{144,128}</string>
			</dict>
			<key>Textures/Turnip-assets/GoldShine01.png</key>
			<dict>
				<key>frame</key>
				<string>{{571,391},{144,128}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{144,128}</string>
			</dict>
			<key>Textures/Turnip-assets/GoldShine02.png</key>
			<dict>
				<key>frame</key>
				<string>{{863,269},{144,128}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{144,128}</string>
			</dict>
			<key>Textures/Turnip-assets/GoldShine03.png</key>
			<dict>
				<key>frame</key>
				<string>{{1155,261},{144,128}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{144,128}</string>
			</dict>
			<key>Textures/Turnip-assets/GoldShine04.png</key>
			<dict>
				<key>frame</key>
				<string>{{1009,391},{144,128}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{144,128}</string>
			</dict>
			<key>Textures/Turnip-assets/TurnipLong05.png</key>
			<dict>
				<key>frame</key>
				<string>{{517,853},{136,256}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{136,256}</string>
			</dict>
			<key>Textures/Turnip-assets/TurnipLong06.png</key>
			<dict>
				<key>frame</key>
				<string>{{775,1},{136,256}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{136,256}</string>
			</dict>
			<key>Textures/Turnip-assets/TurnipMiddle05.png</key>
			<dict>
				<key>frame</key>
				<string>{{1155,391},{144,128}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{144,128}</string>
			</dict>
			<key>Textures/Turnip-assets/TurnipBig05.png</key>
			<dict>
				<key>frame</key>
				<string>{{187,215},{212,184}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{212,184}</string>
			</dict>
			<key>Textures/Turnip-assets/TurnipBig06.png</key>
			<dict>
				<key>frame</key>
				<string>{{187,429},{212,184}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{212,184}</string>
			</dict>
			<key>Textures/Turnip-assets/TurnipBig07.png</key>
			<dict>
				<key>frame</key>
				<string>{{187,643},{212,184}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{212,184}</string>
			</dict>
			<key>Textures/Turnip-assets/TurnipGold05.png</key>
			<dict>
				<key>frame</key>
				<string>{{717,399},{144,128}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{144,128}</string>
			</dict>
			<key>Textures/Turnip-assets/TurnipLittle04.png</key>
			<dict>
				<key>frame</key>
				<string>{{1325,79},{64,76}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{64,76}</string>
			</dict>
			<key>Textures/Turnip-assets/TurnipMiddleLeg06.png</key>
			<dict>
				<key>frame</key>
				<string>{{1031,611},{88,140}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{88,140}</string>
			</dict>
			<key>Textures/Turnip-assets/GoldShine05.png</key>
			<dict>
				<key>frame</key>
				<string>{{571,521},{144,128}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{144,128}</string>
			</dict>
			<key>Textures/Turnip-assets/GoldShine06.png</key>
			<dict>
				<key>frame</key>
				<string>{{863,399},{144,128}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{144,128}</string>
			</dict>
			<key>Textures/Turnip-assets/GoldShine07.png</key>
			<dict>
				<key>frame</key>
				<string>{{775,851},{144,128}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{144,128}</string>
			</dict>
			<key>Textures/Turnip-assets/GoldShine08.png</key>
			<dict>
				<key>frame</key>
				<string>{{1151,521},{144,128}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{144,128}</string>
			</dict>
			<key>Textures/Turnip-assets/GoldShine09.png</key>
			<dict>
				<key>frame</key>
				<string>{{905,839},{144,128}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{144,128}</string>
			</dict>
			<key>Textures/Turnip-assets/GoldShine10.png</key>
			<dict>
				<key>frame</key>
				<string>{{1035,753},{144,128}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{144,128}</string>
			</dict>
			<key>Textures/Turnip-assets/GoldShine11.png</key>
			<dict>
				<key>frame</key>
				<string>{{1165,651},{144,128}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{144,128}</string>
			</dict>
			<key>Textures/Turnip-assets/GoldShine12.png</key>
			<dict>
				<key>frame</key>
				<string>{{1165,781},{144,128}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{144,128}</string>
			</dict>
			<key>Textures/Turnip-assets/StalkGold00.png</key>
			<dict>
				<key>frame</key>
				<string>{{771,639},{128,108}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{128,108}</string>
			</dict>
			<key>Textures/Turnip-assets/StalkGold01.png</key>
			<dict>
				<key>frame</key>
				<string>{{847,529},{128,108}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{128,108}</string>
			</dict>
			<key>Textures/Turnip-assets/StalkGold02.png</key>
			<dict>
				<key>frame</key>
				<string>{{901,639},{128,108}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{128,108}</string>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>2</integer>
			<key>textureFileName</key>
			<string>Turnip.png</string>
			<key>realTextureFileName</key>
			<string>Turnip.png</string>
			<key>size</key>
			<string>{1390,996}</string>
		</dict>
		<key>texture</key>
		<dict>
			<key>width</key>
			<integer>1390</integer>
			<key>height</key>
			<integer>996</integer>
		</dict>
	</dict>
</plist>