<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>Textures/Stage02Prop-assets/Hamster01.png</key>
			<dict>
				<key>frame</key>
				<string>{{123,1},{128,112}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{128,112}</string>
			</dict>
			<key>Textures/Stage02Prop-assets/Hamster02.png</key>
			<dict>
				<key>frame</key>
				<string>{{123,131},{128,112}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{128,112}</string>
			</dict>
			<key>Textures/Stage02Prop-assets/Hamster03.png</key>
			<dict>
				<key>frame</key>
				<string>{{123,261},{128,112}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{128,112}</string>
			</dict>
			<key>Textures/Stage02Prop-assets/Hamster04.png</key>
			<dict>
				<key>frame</key>
				<string>{{123,391},{128,112}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{128,112}</string>
			</dict>
			<key>Textures/Stage02Prop-assets/HamsterDainoji01.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,1},{120,120}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{120,120}</string>
			</dict>
			<key>Textures/Stage02Prop-assets/HamsterDainoji02.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,123},{120,120}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{120,120}</string>
			</dict>
			<key>Textures/Stage02Prop-assets/HamsterSit01.png</key>
			<dict>
				<key>frame</key>
				<string>{{457,1},{104,120}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{104,120}</string>
			</dict>
			<key>Textures/Stage02Prop-assets/HamsterSit02.png</key>
			<dict>
				<key>frame</key>
				<string>{{457,123},{104,120}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{104,120}</string>
			</dict>
			<key>Textures/Stage02Prop-assets/HamsterSit03.png</key>
			<dict>
				<key>frame</key>
				<string>{{457,245},{104,120}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{104,120}</string>
			</dict>
			<key>Textures/Stage02Prop-assets/HamsterSit04.png</key>
			<dict>
				<key>frame</key>
				<string>{{513,367},{104,120}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{104,120}</string>
			</dict>
			<key>Textures/Stage02Prop-assets/HamsterStandL01.png</key>
			<dict>
				<key>frame</key>
				<string>{{237,1},{108,128}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{108,128}</string>
			</dict>
			<key>Textures/Stage02Prop-assets/HamsterStandL02.png</key>
			<dict>
				<key>frame</key>
				<string>{{237,131},{108,128}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{108,128}</string>
			</dict>
			<key>Textures/Stage02Prop-assets/HamsterStandR01.png</key>
			<dict>
				<key>frame</key>
				<string>{{237,261},{108,128}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{108,128}</string>
			</dict>
			<key>Textures/Stage02Prop-assets/HamsterStandR02.png</key>
			<dict>
				<key>frame</key>
				<string>{{253,391},{108,128}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{108,128}</string>
			</dict>
			<key>Textures/Stage02Prop-assets/HamsterStandL03.png</key>
			<dict>
				<key>frame</key>
				<string>{{347,1},{108,128}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{108,128}</string>
			</dict>
			<key>Textures/Stage02Prop-assets/HamsterStandL04.png</key>
			<dict>
				<key>frame</key>
				<string>{{347,131},{108,128}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{108,128}</string>
			</dict>
			<key>Textures/Stage02Prop-assets/HamsterSit05.png</key>
			<dict>
				<key>frame</key>
				<string>{{563,1},{104,120}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{104,120}</string>
			</dict>
			<key>Textures/Stage02Prop-assets/HamsterSit06.png</key>
			<dict>
				<key>frame</key>
				<string>{{563,123},{104,120}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{104,120}</string>
			</dict>
			<key>Textures/Stage02Prop-assets/HamsterDainoji03.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,245},{120,120}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{120,120}</string>
			</dict>
			<key>Textures/Stage02Prop-assets/HamsterDainoji04.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,367},{120,120}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{120,120}</string>
			</dict>
			<key>Textures/Stage02Prop-assets/HamsterStandR03.png</key>
			<dict>
				<key>frame</key>
				<string>{{347,261},{108,128}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{108,128}</string>
			</dict>
			<key>Textures/Stage02Prop-assets/HamsterStandR04.png</key>
			<dict>
				<key>frame</key>
				<string>{{383,391},{108,128}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{108,128}</string>
			</dict>
			<key>Textures/Stage02Prop-assets/HamsterSit07.png</key>
			<dict>
				<key>frame</key>
				<string>{{563,245},{104,120}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{104,120}</string>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>2</integer>
			<key>textureFileName</key>
			<string>Hamster.png</string>
			<key>realTextureFileName</key>
			<string>Hamster.png</string>
			<key>size</key>
			<string>{668,504}</string>
		</dict>
		<key>texture</key>
		<dict>
			<key>width</key>
			<integer>668</integer>
			<key>height</key>
			<integer>504</integer>
		</dict>
	</dict>
</plist>