<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>Textures/Stage02Prop-assets/MonkeyCap01.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,1},{292,220}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{292,220}</string>
			</dict>
			<key>Textures/Stage02Prop-assets/MonkeyCrewL01.png</key>
			<dict>
				<key>frame</key>
				<string>{{223,295},{300,204}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{300,204}</string>
			</dict>
			<key>Textures/Stage02Prop-assets/MonkeyCrewR01.png</key>
			<dict>
				<key>frame</key>
				<string>{{223,597},{300,204}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{300,204}</string>
			</dict>
			<key>Textures/Stage02Prop-assets/MonkeyShoeL01.png</key>
			<dict>
				<key>frame</key>
				<string>{{635,811},{204,188}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{204,188}</string>
			</dict>
			<key>Textures/Stage02Prop-assets/MonkeyShoeR01.png</key>
			<dict>
				<key>frame</key>
				<string>{{825,811},{204,188}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{204,188}</string>
			</dict>
			<key>Textures/Stage02Prop-assets/MonkeyCrewL02.png</key>
			<dict>
				<key>frame</key>
				<string>{{429,295},{300,204}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{300,204}</string>
			</dict>
			<key>Textures/Stage02Prop-assets/MonkeyCrewL03.png</key>
			<dict>
				<key>frame</key>
				<string>{{445,1},{300,204}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{300,204}</string>
			</dict>
			<key>Textures/Stage02Prop-assets/MonkeyCrewL04.png</key>
			<dict>
				<key>frame</key>
				<string>{{429,597},{300,204}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{300,204}</string>
			</dict>
			<key>Textures/Stage02Prop-assets/MonkeyCrewR02.png</key>
			<dict>
				<key>frame</key>
				<string>{{635,207},{300,204}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{300,204}</string>
			</dict>
			<key>Textures/Stage02Prop-assets/MonkeyCrewR03.png</key>
			<dict>
				<key>frame</key>
				<string>{{747,1},{300,204}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{300,204}</string>
			</dict>
			<key>Textures/Stage02Prop-assets/MonkeyCrewR04.png</key>
			<dict>
				<key>frame</key>
				<string>{{635,509},{300,204}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{300,204}</string>
			</dict>
			<key>Textures/Stage02Prop-assets/MonkeyCap02.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,295},{292,220}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{292,220}</string>
			</dict>
			<key>Textures/Stage02Prop-assets/MonkeyCap03.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,589},{292,220}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{292,220}</string>
			</dict>
			<key>Textures/Stage02Prop-assets/MonkeyCap04.png</key>
			<dict>
				<key>frame</key>
				<string>{{223,1},{292,220}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{292,220}</string>
			</dict>
			<key>Textures/Stage02Prop-assets/MonkeyShoeR02.png</key>
			<dict>
				<key>frame</key>
				<string>{{841,207},{204,188}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{204,188}</string>
			</dict>
			<key>Textures/Stage02Prop-assets/MonkeyShoeR03.png</key>
			<dict>
				<key>frame</key>
				<string>{{841,413},{204,188}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{204,188}</string>
			</dict>
			<key>Textures/Stage02Prop-assets/MonkeyShoeR04.png</key>
			<dict>
				<key>frame</key>
				<string>{{841,619},{204,188}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{204,188}</string>
			</dict>
			<key>Textures/Stage02Prop-assets/MonkeyShoeL02.png</key>
			<dict>
				<key>frame</key>
				<string>{{1015,809},{204,188}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{204,188}</string>
			</dict>
			<key>Textures/Stage02Prop-assets/MonkeyShoeL03.png</key>
			<dict>
				<key>frame</key>
				<string>{{1031,207},{204,188}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{204,188}</string>
			</dict>
			<key>Textures/Stage02Prop-assets/MonkeyShoeL04.png</key>
			<dict>
				<key>frame</key>
				<string>{{1049,1},{204,188}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{204,188}</string>
			</dict>
			<key>Textures/Stage02Prop-assets/Ball01.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,883},{128,128}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{128,128}</string>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>2</integer>
			<key>textureFileName</key>
			<string>Monkey.png</string>
			<key>realTextureFileName</key>
			<string>Monkey.png</string>
			<key>size</key>
			<string>{1238,1016}</string>
		</dict>
		<key>texture</key>
		<dict>
			<key>width</key>
			<integer>1238</integer>
			<key>height</key>
			<integer>1016</integer>
		</dict>
	</dict>
</plist>