<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>Textures/Seesaw01-assets/ElefantEye01.png</key>
			<dict>
				<key>frame</key>
				<string>{{893,207},{68,40}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{68,40}</string>
			</dict>
			<key>Textures/Seesaw01-assets/ElefantEye02.png</key>
			<dict>
				<key>frame</key>
				<string>{{893,277},{68,40}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{68,40}</string>
			</dict>
			<key>Textures/Seesaw01-assets/ElefantEye03.png</key>
			<dict>
				<key>frame</key>
				<string>{{893,347},{68,40}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{68,40}</string>
			</dict>
			<key>Textures/Seesaw01-assets/ElefantEye04.png</key>
			<dict>
				<key>frame</key>
				<string>{{893,417},{68,40}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{68,40}</string>
			</dict>
			<key>Textures/Seesaw01-assets/ElefantEye05.png</key>
			<dict>
				<key>frame</key>
				<string>{{893,487},{68,40}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{68,40}</string>
			</dict>
			<key>Textures/Seesaw01-assets/ElefantEye06.png</key>
			<dict>
				<key>frame</key>
				<string>{{893,557},{68,40}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{68,40}</string>
			</dict>
			<key>Textures/Seesaw01-assets/ElefantEye07.png</key>
			<dict>
				<key>frame</key>
				<string>{{763,583},{68,40}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{68,40}</string>
			</dict>
			<key>Textures/Seesaw01-assets/ElefantEye08.png</key>
			<dict>
				<key>frame</key>
				<string>{{833,583},{68,40}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{68,40}</string>
			</dict>
			<key>Textures/Seesaw01-assets/ElefantEye09.png</key>
			<dict>
				<key>frame</key>
				<string>{{875,627},{68,40}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{68,40}</string>
			</dict>
			<key>Textures/Seesaw01-assets/ElefantEye10.png</key>
			<dict>
				<key>frame</key>
				<string>{{657,595},{68,40}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{68,40}</string>
			</dict>
			<key>Textures/Seesaw01-assets/ElefantMouth01.png</key>
			<dict>
				<key>frame</key>
				<string>{{787,175},{104,100}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{104,100}</string>
			</dict>
			<key>Textures/Seesaw01-assets/ElefantMouth02.png</key>
			<dict>
				<key>frame</key>
				<string>{{787,277},{104,100}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{104,100}</string>
			</dict>
			<key>Textures/Seesaw01-assets/ElefantMouth03.png</key>
			<dict>
				<key>frame</key>
				<string>{{787,379},{104,100}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{104,100}</string>
			</dict>
			<key>Textures/Seesaw01-assets/ElefantMouth04.png</key>
			<dict>
				<key>frame</key>
				<string>{{787,481},{104,100}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{104,100}</string>
			</dict>
			<key>Textures/Seesaw01-assets/ElefantMouth05.png</key>
			<dict>
				<key>frame</key>
				<string>{{657,493},{104,100}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{104,100}</string>
			</dict>
			<key>Textures/Seesaw01-assets/ElefantNose01.png</key>
			<dict>
				<key>frame</key>
				<string>{{657,653},{204,220}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{204,220}</string>
			</dict>
			<key>Textures/Seesaw01-assets/ElefantNose02.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,1009},{204,220}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{204,220}</string>
			</dict>
			<key>Textures/Seesaw01-assets/ElefantNose03.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,1215},{204,220}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{204,220}</string>
			</dict>
			<key>Textures/Seesaw01-assets/ElefantNose04.png</key>
			<dict>
				<key>frame</key>
				<string>{{223,1289},{204,220}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{204,220}</string>
			</dict>
			<key>Textures/Seesaw01-assets/ElefantNose05.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,1421},{204,220}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{204,220}</string>
			</dict>
			<key>Textures/Seesaw01-assets/SeesawBase01.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,493},{256,396}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{256,396}</string>
			</dict>
			<key>Textures/Seesaw01-assets/SeesawBase02.png</key>
			<dict>
				<key>frame</key>
				<string>{{399,493},{256,396}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{256,396}</string>
			</dict>
			<key>Textures/Seesaw01-assets/SeesawBase03.png</key>
			<dict>
				<key>frame</key>
				<string>{{657,875},{256,396}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{256,396}</string>
			</dict>
			<key>Textures/Seesaw01-assets/SeesawBase04.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,751},{256,396}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{256,396}</string>
			</dict>
			<key>Textures/Seesaw01-assets/SeesawBase05.png</key>
			<dict>
				<key>frame</key>
				<string>{{399,891},{256,396}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{256,396}</string>
			</dict>
			<key>Textures/Seesaw01-assets/ArabianHat.png</key>
			<dict>
				<key>frame</key>
				<string>{{787,1},{172,124}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{172,124}</string>
			</dict>
			<key>Textures/Seesaw01-assets/Elefant03Stick.png</key>
			<dict>
				<key>frame</key>
				<string>{{913,1},{32,204}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{32,204}</string>
			</dict>
			<key>Textures/Seesaw01-assets/ElefantBody01.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,1},{784,244}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{784,244}</string>
			</dict>
			<key>Textures/Seesaw01-assets/ElefantBody02.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,247},{784,244}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{784,244}</string>
			</dict>
			<key>Textures/Seesaw01-assets/ElefantBody03.png</key>
			<dict>
				<key>frame</key>
				<string>{{657,1273},{400,244}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{400,244}</string>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>2</integer>
			<key>textureFileName</key>
			<string>Seesaw.png</string>
			<key>realTextureFileName</key>
			<string>Seesaw.png</string>
			<key>size</key>
			<string>{946,1674}</string>
		</dict>
		<key>texture</key>
		<dict>
			<key>width</key>
			<integer>946</integer>
			<key>height</key>
			<integer>1674</integer>
		</dict>
	</dict>
</plist>