<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>Textures/BonusTimerPlus-assets/BonusClock01.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,1},{19,25}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{19,25}</string>
			</dict>
			<key>Textures/BonusTimerPlus-assets/BonusClock02.png</key>
			<dict>
				<key>frame</key>
				<string>{{22,1},{19,25}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{19,25}</string>
			</dict>
			<key>Textures/BonusTimerPlus-assets/BonusClock03.png</key>
			<dict>
				<key>frame</key>
				<string>{{43,1},{19,25}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{19,25}</string>
			</dict>
			<key>Textures/BonusTimerPlus-assets/BonusClock04.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,28},{19,25}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{19,25}</string>
			</dict>
			<key>Textures/BonusTimerPlus-assets/BonusClock05.png</key>
			<dict>
				<key>frame</key>
				<string>{{22,28},{19,25}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{19,25}</string>
			</dict>
			<key>Textures/BonusTimerPlus-assets/BonusClock06.png</key>
			<dict>
				<key>frame</key>
				<string>{{43,28},{19,25}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{19,25}</string>
			</dict>
			<key>Textures/BonusTimerPlus-assets/BonusNumber0.png</key>
			<dict>
				<key>frame</key>
				<string>{{35,55},{10,12}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{10,12}</string>
			</dict>
			<key>Textures/BonusTimerPlus-assets/BonusNumber1.png</key>
			<dict>
				<key>frame</key>
				<string>{{47,55},{10,12}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{10,12}</string>
			</dict>
			<key>Textures/BonusTimerPlus-assets/BonusNumber2.png</key>
			<dict>
				<key>frame</key>
				<string>{{35,69},{10,12}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{10,12}</string>
			</dict>
			<key>Textures/BonusTimerPlus-assets/BonusNumber3.png</key>
			<dict>
				<key>frame</key>
				<string>{{19,71},{10,12}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{10,12}</string>
			</dict>
			<key>Textures/BonusTimerPlus-assets/BonusNumber4.png</key>
			<dict>
				<key>frame</key>
				<string>{{47,69},{10,12}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{10,12}</string>
			</dict>
			<key>Textures/BonusTimerPlus-assets/BonusNumber5.png</key>
			<dict>
				<key>frame</key>
				<string>{{31,83},{10,12}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{10,12}</string>
			</dict>
			<key>Textures/BonusTimerPlus-assets/BonusNumber6.png</key>
			<dict>
				<key>frame</key>
				<string>{{19,85},{10,12}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{10,12}</string>
			</dict>
			<key>Textures/BonusTimerPlus-assets/BonusNumber7.png</key>
			<dict>
				<key>frame</key>
				<string>{{31,97},{10,12}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{10,12}</string>
			</dict>
			<key>Textures/BonusTimerPlus-assets/BonusNumber8.png</key>
			<dict>
				<key>frame</key>
				<string>{{19,99},{10,12}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{10,12}</string>
			</dict>
			<key>Textures/BonusTimerPlus-assets/BonusNumber9.png</key>
			<dict>
				<key>frame</key>
				<string>{{43,83},{10,12}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{10,12}</string>
			</dict>
			<key>Textures/BonusTimerPlus-assets/BonusNumberPlus.png</key>
			<dict>
				<key>frame</key>
				<string>{{43,97},{10,10}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{10,10}</string>
			</dict>
			<key>Textures/BonusTimerPlus-assets/GetTimer02.png</key>
			<dict>
				<key>frame</key>
				<string>{{19,55},{14,14}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{14,14}</string>
			</dict>
			<key>Textures/BonusTimerPlus-assets/LightBall01.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,55},{16,16}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{16,16}</string>
			</dict>
			<key>Textures/BonusTimerPlus-assets/LightBall02.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,73},{16,16}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{16,16}</string>
			</dict>
			<key>Textures/BonusTimerPlus-assets/LightBall03.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,91},{16,16}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{16,16}</string>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>2</integer>
			<key>textureFileName</key>
			<string>BonusTimer.png</string>
			<key>realTextureFileName</key>
			<string>BonusTimer.png</string>
			<key>size</key>
			<string>{63,112}</string>
		</dict>
		<key>texture</key>
		<dict>
			<key>width</key>
			<integer>63</integer>
			<key>height</key>
			<integer>112</integer>
		</dict>
	</dict>
</plist>