<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>Textures/Penalty-assets/PenaltyEffect01.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,21},{10,9}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{10,9}</string>
			</dict>
			<key>Textures/Penalty-assets/PenaltyEffect02.png</key>
			<dict>
				<key>frame</key>
				<string>{{68,1},{15,14}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{15,14}</string>
			</dict>
			<key>Textures/Penalty-assets/PenaltyEffect03.png</key>
			<dict>
				<key>frame</key>
				<string>{{17,1},{15,16}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{15,16}</string>
			</dict>
			<key>Textures/Penalty-assets/PenaltyEffect04.png</key>
			<dict>
				<key>frame</key>
				<string>{{34,1},{15,15}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{15,15}</string>
			</dict>
			<key>Textures/Penalty-assets/PenaltyEffect05.png</key>
			<dict>
				<key>frame</key>
				<string>{{51,1},{15,15}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{15,15}</string>
			</dict>
			<key>Textures/Penalty-assets/PenaltyEffect06.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,1},{18,14}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{18,14}</string>
			</dict>
			<key>Textures/Penalty-assets/PenaltyEffectMini01.png</key>
			<dict>
				<key>frame</key>
				<string>{{37,26},{5,6}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{5,6}</string>
			</dict>
			<key>Textures/Penalty-assets/PenaltyEffectMini02.png</key>
			<dict>
				<key>frame</key>
				<string>{{21,19},{6,7}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{6,7}</string>
			</dict>
			<key>Textures/Penalty-assets/PenaltyEffectMini03.png</key>
			<dict>
				<key>frame</key>
				<string>{{37,18},{6,6}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{6,6}</string>
			</dict>
			<key>Textures/Penalty-assets/PenaltyEffectMini04.png</key>
			<dict>
				<key>frame</key>
				<string>{{29,19},{6,7}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{6,7}</string>
			</dict>
			<key>Textures/Penalty-assets/PenaltyEffectMini05.png</key>
			<dict>
				<key>frame</key>
				<string>{{12,21},{7,7}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{7,7}</string>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>2</integer>
			<key>textureFileName</key>
			<string>PenaltyEffect.png</string>
			<key>realTextureFileName</key>
			<string>PenaltyEffect.png</string>
			<key>size</key>
			<string>{83,32}</string>
		</dict>
		<key>texture</key>
		<dict>
			<key>width</key>
			<integer>83</integer>
			<key>height</key>
			<integer>32</integer>
		</dict>
	</dict>
</plist>