<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>Textures/ThrowEffect-assets/Circle01.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,1},{128,128}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{128,128}</string>
			</dict>
			<key>Textures/ThrowEffect-assets/Circle02.png</key>
			<dict>
				<key>frame</key>
				<string>{{131,1},{128,128}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{128,128}</string>
			</dict>
			<key>Textures/ThrowEffect-assets/Circle03.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,131},{128,128}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{128,128}</string>
			</dict>
			<key>Textures/ThrowEffect-assets/ThrowArrow.png</key>
			<dict>
				<key>frame</key>
				<string>{{131,131},{104,84}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{104,84}</string>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>2</integer>
			<key>textureFileName</key>
			<string>ThrowEffect.png</string>
			<key>realTextureFileName</key>
			<string>ThrowEffect.png</string>
			<key>size</key>
			<string>{260,260}</string>
		</dict>
		<key>texture</key>
		<dict>
			<key>width</key>
			<integer>260</integer>
			<key>height</key>
			<integer>260</integer>
		</dict>
	</dict>
</plist>