<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>Textures/StageTitle-assets/StageTitle01_01.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,1},{180,96}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{180,96}</string>
			</dict>
			<key>Textures/StageTitle-assets/StageTitle01_02.png</key>
			<dict>
				<key>frame</key>
				<string>{{183,1},{180,96}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{180,96}</string>
			</dict>
			<key>Textures/StageTitle-assets/StageTitle01_03.png</key>
			<dict>
				<key>frame</key>
				<string>{{365,1},{180,96}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{180,96}</string>
			</dict>
			<key>Textures/StageTitle-assets/StageTitle02_01.png</key>
			<dict>
				<key>frame</key>
				<string>{{547,1},{180,96}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{180,96}</string>
			</dict>
			<key>Textures/StageTitle-assets/StageTitle02_02.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,99},{180,96}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{180,96}</string>
			</dict>
			<key>Textures/StageTitle-assets/StageTitle02_03.png</key>
			<dict>
				<key>frame</key>
				<string>{{183,99},{180,96}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{180,96}</string>
			</dict>
			<key>Textures/StageTitle-assets/StageTitle03_01.png</key>
			<dict>
				<key>frame</key>
				<string>{{365,99},{180,96}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{180,96}</string>
			</dict>
			<key>Textures/StageTitle-assets/StageTitle03_02.png</key>
			<dict>
				<key>frame</key>
				<string>{{547,99},{180,96}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{180,96}</string>
			</dict>
			<key>Textures/StageTitle-assets/StageTitle03_03.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,197},{180,96}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{180,96}</string>
			</dict>
			<key>Textures/StageTitle-assets/StageTitle04_01.png</key>
			<dict>
				<key>frame</key>
				<string>{{183,197},{180,96}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{180,96}</string>
			</dict>
			<key>Textures/StageTitle-assets/StageTitle04_02.png</key>
			<dict>
				<key>frame</key>
				<string>{{365,197},{180,96}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{180,96}</string>
			</dict>
			<key>Textures/StageTitle-assets/StageTitle04_03.png</key>
			<dict>
				<key>frame</key>
				<string>{{547,197},{180,96}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{180,96}</string>
			</dict>
			<key>Textures/StageTitle-assets/StageTitle05_01.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,295},{180,96}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{180,96}</string>
			</dict>
			<key>Textures/StageTitle-assets/StageTitle05_02.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,393},{180,96}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{180,96}</string>
			</dict>
			<key>Textures/StageTitle-assets/StageTitle05_03.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,491},{180,96}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{180,96}</string>
			</dict>
			<key>Textures/StageTitle-assets/StageTitle06_01.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,589},{180,96}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{180,96}</string>
			</dict>
			<key>Textures/StageTitle-assets/StageTitle06_02.png</key>
			<dict>
				<key>frame</key>
				<string>{{183,295},{180,96}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{180,96}</string>
			</dict>
			<key>Textures/StageTitle-assets/StageTitle06_03.png</key>
			<dict>
				<key>frame</key>
				<string>{{365,295},{180,96}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{180,96}</string>
			</dict>
			<key>Textures/StageTitle-assets/BlackScreen.png</key>
			<dict>
				<key>frame</key>
				<string>{{729,1},{8,8}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{8,8}</string>
			</dict>
			<key>Textures/StageTitle-assets/StageTitle07_01.png</key>
			<dict>
				<key>frame</key>
				<string>{{547,295},{180,96}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{180,96}</string>
			</dict>
			<key>Textures/StageTitle-assets/StageTitle07_02.png</key>
			<dict>
				<key>frame</key>
				<string>{{183,393},{180,96}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{180,96}</string>
			</dict>
			<key>Textures/StageTitle-assets/StageTitle07_03.png</key>
			<dict>
				<key>frame</key>
				<string>{{183,491},{180,96}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{180,96}</string>
			</dict>
			<key>Textures/StageTitle-assets/StageTitle08_01.png</key>
			<dict>
				<key>frame</key>
				<string>{{183,589},{180,96}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{180,96}</string>
			</dict>
			<key>Textures/StageTitle-assets/StageTitle08_02.png</key>
			<dict>
				<key>frame</key>
				<string>{{365,393},{180,96}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{180,96}</string>
			</dict>
			<key>Textures/StageTitle-assets/StageTitle08_03.png</key>
			<dict>
				<key>frame</key>
				<string>{{547,393},{180,96}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{180,96}</string>
			</dict>
			<key>Textures/StageTitle-assets/StageTitle09_01.png</key>
			<dict>
				<key>frame</key>
				<string>{{365,491},{180,96}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{180,96}</string>
			</dict>
			<key>Textures/StageTitle-assets/StageTitle09_02.png</key>
			<dict>
				<key>frame</key>
				<string>{{365,589},{180,96}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{180,96}</string>
			</dict>
			<key>Textures/StageTitle-assets/StageTitle09_03.png</key>
			<dict>
				<key>frame</key>
				<string>{{547,491},{180,96}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{180,96}</string>
			</dict>
			<key>Textures/StageTitle-assets/CautionTimeOver01.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,687},{180,24}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{180,24}</string>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>2</integer>
			<key>textureFileName</key>
			<string>StageTitle.png</string>
			<key>realTextureFileName</key>
			<string>StageTitle.png</string>
			<key>size</key>
			<string>{738,712}</string>
		</dict>
		<key>texture</key>
		<dict>
			<key>width</key>
			<integer>738</integer>
			<key>height</key>
			<integer>712</integer>
		</dict>
	</dict>
</plist>