<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>Textures/StageTitleKr-assets/StageTitle09_03.png</key>
			<dict>
				<key>frame</key>
				<string>{{2,2},{180,96}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{180,96}</string>
			</dict>
			<key>Textures/StageTitleKr-assets/StageTitle09_02.png</key>
			<dict>
				<key>frame</key>
				<string>{{186,2},{180,96}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{180,96}</string>
			</dict>
			<key>Textures/StageTitleKr-assets/StageTitle09_01.png</key>
			<dict>
				<key>frame</key>
				<string>{{370,2},{180,96}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{180,96}</string>
			</dict>
			<key>Textures/StageTitleKr-assets/StageTitle08_03.png</key>
			<dict>
				<key>frame</key>
				<string>{{554,2},{180,96}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{180,96}</string>
			</dict>
			<key>Textures/StageTitleKr-assets/StageTitle08_02.png</key>
			<dict>
				<key>frame</key>
				<string>{{738,2},{180,96}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{180,96}</string>
			</dict>
			<key>Textures/StageTitleKr-assets/StageTitle08_01.png</key>
			<dict>
				<key>frame</key>
				<string>{{2,102},{180,96}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{180,96}</string>
			</dict>
			<key>Textures/StageTitleKr-assets/StageTitle07_03.png</key>
			<dict>
				<key>frame</key>
				<string>{{2,202},{180,96}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{180,96}</string>
			</dict>
			<key>Textures/StageTitleKr-assets/StageTitle07_02.png</key>
			<dict>
				<key>frame</key>
				<string>{{2,302},{180,96}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{180,96}</string>
			</dict>
			<key>Textures/StageTitleKr-assets/StageTitle07_01.png</key>
			<dict>
				<key>frame</key>
				<string>{{2,402},{180,96}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{180,96}</string>
			</dict>
			<key>Textures/StageTitleKr-assets/StageTitle06_03.png</key>
			<dict>
				<key>frame</key>
				<string>{{2,502},{180,96}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{180,96}</string>
			</dict>
			<key>Textures/StageTitleKr-assets/StageTitle06_02.png</key>
			<dict>
				<key>frame</key>
				<string>{{186,102},{180,96}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{180,96}</string>
			</dict>
			<key>Textures/StageTitleKr-assets/StageTitle06_01.png</key>
			<dict>
				<key>frame</key>
				<string>{{370,102},{180,96}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{180,96}</string>
			</dict>
			<key>Textures/StageTitleKr-assets/StageTitle05_03.png</key>
			<dict>
				<key>frame</key>
				<string>{{554,102},{180,96}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{180,96}</string>
			</dict>
			<key>Textures/StageTitleKr-assets/StageTitle05_02.png</key>
			<dict>
				<key>frame</key>
				<string>{{738,102},{180,96}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{180,96}</string>
			</dict>
			<key>Textures/StageTitleKr-assets/StageTitle05_01.png</key>
			<dict>
				<key>frame</key>
				<string>{{186,202},{180,96}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{180,96}</string>
			</dict>
			<key>Textures/StageTitleKr-assets/StageTitle04_03.png</key>
			<dict>
				<key>frame</key>
				<string>{{186,302},{180,96}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{180,96}</string>
			</dict>
			<key>Textures/StageTitleKr-assets/StageTitle04_02.png</key>
			<dict>
				<key>frame</key>
				<string>{{186,402},{180,96}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{180,96}</string>
			</dict>
			<key>Textures/StageTitleKr-assets/StageTitle04_01.png</key>
			<dict>
				<key>frame</key>
				<string>{{186,502},{180,96}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{180,96}</string>
			</dict>
			<key>Textures/StageTitleKr-assets/StageTitle03_03.png</key>
			<dict>
				<key>frame</key>
				<string>{{370,202},{180,96}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{180,96}</string>
			</dict>
			<key>Textures/StageTitleKr-assets/StageTitle03_02.png</key>
			<dict>
				<key>frame</key>
				<string>{{554,202},{180,96}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{180,96}</string>
			</dict>
			<key>Textures/StageTitleKr-assets/StageTitle03_01.png</key>
			<dict>
				<key>frame</key>
				<string>{{738,202},{180,96}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{180,96}</string>
			</dict>
			<key>Textures/StageTitleKr-assets/StageTitle02_03.png</key>
			<dict>
				<key>frame</key>
				<string>{{370,302},{180,96}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{180,96}</string>
			</dict>
			<key>Textures/StageTitleKr-assets/StageTitle02_02.png</key>
			<dict>
				<key>frame</key>
				<string>{{370,402},{180,96}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{180,96}</string>
			</dict>
			<key>Textures/StageTitleKr-assets/StageTitle02_01.png</key>
			<dict>
				<key>frame</key>
				<string>{{370,502},{180,96}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{180,96}</string>
			</dict>
			<key>Textures/StageTitleKr-assets/StageTitle01_03.png</key>
			<dict>
				<key>frame</key>
				<string>{{554,302},{180,96}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{180,96}</string>
			</dict>
			<key>Textures/StageTitleKr-assets/StageTitle01_02.png</key>
			<dict>
				<key>frame</key>
				<string>{{738,302},{180,96}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{180,96}</string>
			</dict>
			<key>Textures/StageTitleKr-assets/StageTitle01_01.png</key>
			<dict>
				<key>frame</key>
				<string>{{554,402},{180,96}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{180,96}</string>
			</dict>
			<key>Textures/StageTitleKr-assets/CautionTimeOver01.png</key>
			<dict>
				<key>frame</key>
				<string>{{738,402},{180,24}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{180,24}</string>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>2</integer>
			<key>textureFileName</key>
			<string>StageTitleKR.png</string>
			<key>realTextureFileName</key>
			<string>StageTitleKR.png</string>
			<key>size</key>
			<string>{920,600}</string>
		</dict>
		<key>texture</key>
		<dict>
			<key>width</key>
			<integer>920</integer>
			<key>height</key>
			<integer>600</integer>
		</dict>
	</dict>
</plist>