<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>Textures/SweetsProp-assets/CakeDish.png</key>
			<dict>
				<key>frame</key>
				<string>{{171,291},{720,64}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{720,64}</string>
			</dict>
			<key>Textures/SweetsProp-assets/Cookie.png</key>
			<dict>
				<key>frame</key>
				<string>{{937,123},{212,60}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{212,60}</string>
			</dict>
			<key>Textures/SweetsProp-assets/DonutBack.png</key>
			<dict>
				<key>frame</key>
				<string>{{171,593},{200,120}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{200,120}</string>
			</dict>
			<key>Textures/SweetsProp-assets/DonutFront.png</key>
			<dict>
				<key>frame</key>
				<string>{{469,463},{200,120}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{200,120}</string>
			</dict>
			<key>Textures/SweetsProp-assets/IceCreamA00.png</key>
			<dict>
				<key>frame</key>
				<string>{{873,463},{172,124}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{172,124}</string>
			</dict>
			<key>Textures/SweetsProp-assets/IceCreamB00.png</key>
			<dict>
				<key>frame</key>
				<string>{{519,585},{172,124}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{172,124}</string>
			</dict>
			<key>Textures/SweetsProp-assets/WhipCream00.png</key>
			<dict>
				<key>frame</key>
				<string>{{373,593},{200,144}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{200,144}</string>
			</dict>
			<key>Textures/SweetsProp-assets/PuddingBottom.png</key>
			<dict>
				<key>frame</key>
				<string>{{999,615},{176,152}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{176,152}</string>
			</dict>
			<key>Textures/SweetsProp-assets/PuddingTopOL.png</key>
			<dict>
				<key>frame</key>
				<string>{{519,759},{176,152}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{176,152}</string>
			</dict>
			<key>Textures/SweetsProp-assets/PuddingTop.png</key>
			<dict>
				<key>frame</key>
				<string>{{291,795},{176,152}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{176,152}</string>
			</dict>
			<key>Textures/SweetsProp-assets/WhipCream01.png</key>
			<dict>
				<key>frame</key>
				<string>{{671,357},{200,144}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{200,144}</string>
			</dict>
			<key>Textures/SweetsProp-assets/WhipCream02.png</key>
			<dict>
				<key>frame</key>
				<string>{{671,503},{200,144}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{200,144}</string>
			</dict>
			<key>Textures/SweetsProp-assets/WhipDamage00.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,723},{288,180}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{288,180}</string>
			</dict>
			<key>Textures/SweetsProp-assets/WhipDamage01.png</key>
			<dict>
				<key>frame</key>
				<string>{{171,1},{288,180}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{288,180}</string>
			</dict>
			<key>Textures/SweetsProp-assets/PanCakeATopOL.png</key>
			<dict>
				<key>frame</key>
				<string>{{999,317},{296,128}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{296,128}</string>
			</dict>
			<key>Textures/SweetsProp-assets/PanCakeBBottom.png</key>
			<dict>
				<key>frame</key>
				<string>{{353,1},{332,120}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{332,120}</string>
			</dict>
			<key>Textures/SweetsProp-assets/PanCakeBTopOL.png</key>
			<dict>
				<key>frame</key>
				<string>{{353,123},{332,120}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{332,120}</string>
			</dict>
			<key>Textures/SweetsProp-assets/PanCakeCBottom.png</key>
			<dict>
				<key>frame</key>
				<string>{{687,123},{248,156}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{248,156}</string>
			</dict>
			<key>Textures/SweetsProp-assets/PanCakeCTop.png</key>
			<dict>
				<key>frame</key>
				<string>{{1021,1},{248,156}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{248,156}</string>
			</dict>
			<key>Textures/SweetsProp-assets/PanCakeCTopOL.png</key>
			<dict>
				<key>frame</key>
				<string>{{999,159},{248,156}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{248,156}</string>
			</dict>
			<key>Textures/SweetsProp-assets/PanCakeABottom.png</key>
			<dict>
				<key>frame</key>
				<string>{{1129,317},{296,128}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{296,128}</string>
			</dict>
			<key>Textures/SweetsProp-assets/PanCakeATop.png</key>
			<dict>
				<key>frame</key>
				<string>{{171,463},{296,128}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{296,128}</string>
			</dict>
			<key>Textures/SweetsProp-assets/PanCakeBTop.png</key>
			<dict>
				<key>frame</key>
				<string>{{687,1},{332,120}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{332,120}</string>
			</dict>
			<key>Textures/SweetsProp-assets/Strawberry.png</key>
			<dict>
				<key>frame</key>
				<string>{{893,337},{100,124}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{100,124}</string>
			</dict>
			<key>Textures/SweetsProp-assets/ParfaitCup.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,1},{720,168}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{720,168}</string>
			</dict>
			<key>Textures/SweetsProp-assets/UFOEye01.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,905},{52,44}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{52,44}</string>
			</dict>
			<key>Textures/SweetsProp-assets/UFOEye02.png</key>
			<dict>
				<key>frame</key>
				<string>{{47,905},{52,44}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{52,44}</string>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>2</integer>
			<key>textureFileName</key>
			<string>Sweets.png</string>
			<key>realTextureFileName</key>
			<string>Sweets.png</string>
			<key>size</key>
			<string>{1270,958}</string>
		</dict>
		<key>texture</key>
		<dict>
			<key>width</key>
			<integer>1270</integer>
			<key>height</key>
			<integer>958</integer>
		</dict>
	</dict>
</plist>