<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>Textures/Challenge01Prop-assets/Challenge01A.png</key>
			<dict>
				<key>frame</key>
				<string>{{607,645},{112,112}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{112,112}</string>
			</dict>
			<key>Textures/Challenge01Prop-assets/Challenge01B.png</key>
			<dict>
				<key>frame</key>
				<string>{{571,361},{208,112}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{208,112}</string>
			</dict>
			<key>Textures/Challenge01Prop-assets/Challenge01C.png</key>
			<dict>
				<key>frame</key>
				<string>{{211,307},{208,208}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{208,208}</string>
			</dict>
			<key>Textures/Challenge01Prop-assets/Challenge01D.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,403},{304,208}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{304,208}</string>
			</dict>
			<key>Textures/Challenge01Prop-assets/Challenge01F.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,709},{304,208}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{304,208}</string>
			</dict>
			<key>Textures/Challenge01Prop-assets/Challenge01G.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,1},{400,208}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{400,208}</string>
			</dict>
			<key>Textures/Challenge01Prop-assets/Challenge01H.png</key>
			<dict>
				<key>frame</key>
				<string>{{211,1},{304,208}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{304,208}</string>
			</dict>
			<key>Textures/Challenge01Prop-assets/Kokeshi01.png</key>
			<dict>
				<key>frame</key>
				<string>{{211,517},{148,208}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{148,208}</string>
			</dict>
			<key>Textures/Challenge01Prop-assets/Kokeshi02.png</key>
			<dict>
				<key>frame</key>
				<string>{{307,667},{148,208}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{148,208}</string>
			</dict>
			<key>Textures/Challenge01Prop-assets/Kokeshi03.png</key>
			<dict>
				<key>frame</key>
				<string>{{421,1},{148,208}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{148,208}</string>
			</dict>
			<key>Textures/Challenge01Prop-assets/Kokeshi04.png</key>
			<dict>
				<key>frame</key>
				<string>{{421,151},{148,208}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{148,208}</string>
			</dict>
			<key>Textures/Challenge01Prop-assets/Kokeshi05.png</key>
			<dict>
				<key>frame</key>
				<string>{{421,361},{148,208}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{148,208}</string>
			</dict>
			<key>Textures/Challenge01Prop-assets/Kokeshi06.png</key>
			<dict>
				<key>frame</key>
				<string>{{457,661},{148,208}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{148,208}</string>
			</dict>
			<key>Textures/Challenge01Prop-assets/CoreShine.png</key>
			<dict>
				<key>frame</key>
				<string>{{593,571},{72,72}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{72,72}</string>
			</dict>
			<key>Textures/Challenge01Prop-assets/CoreMark.png</key>
			<dict>
				<key>frame</key>
				<string>{{511,571},{80,80}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{80,80}</string>
			</dict>
			<key>Textures/Challenge01Prop-assets/PropShadow.png</key>
			<dict>
				<key>frame</key>
				<string>{{487,871},{104,104}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{104,104}</string>
			</dict>
			<key>Textures/Challenge01Prop-assets/CorMarkShine.png</key>
			<dict>
				<key>frame</key>
				<string>{{593,871},{80,80}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{80,80}</string>
			</dict>
			<key>Textures/Challenge01Prop-assets/CoreShineAnim00.png</key>
			<dict>
				<key>frame</key>
				<string>{{307,877},{88,88}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{88,88}</string>
			</dict>
			<key>Textures/Challenge01Prop-assets/CoreShineAnim01.png</key>
			<dict>
				<key>frame</key>
				<string>{{397,877},{88,88}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{88,88}</string>
			</dict>
			<key>Textures/Challenge01Prop-assets/CoreShineAnim02.png</key>
			<dict>
				<key>frame</key>
				<string>{{421,571},{88,88}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{88,88}</string>
			</dict>
			<key>Textures/Challenge01Prop-assets/Kokeshi07.png</key>
			<dict>
				<key>frame</key>
				<string>{{571,151},{148,208}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{148,208}</string>
			</dict>
			<key>Textures/Challenge01Prop-assets/Kokeshi08.png</key>
			<dict>
				<key>frame</key>
				<string>{{631,1},{148,208}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{148,208}</string>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>2</integer>
			<key>textureFileName</key>
			<string>Challenge01Prop.png</string>
			<key>realTextureFileName</key>
			<string>Challenge01Prop.png</string>
			<key>size</key>
			<string>{840,976}</string>
		</dict>
		<key>texture</key>
		<dict>
			<key>width</key>
			<integer>840</integer>
			<key>height</key>
			<integer>976</integer>
		</dict>
	</dict>
</plist>