<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>Textures/Shop-assets/MoneyNum00.png</key>
			<dict>
				<key>frame</key>
				<string>{{44,516},{8,12}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{8,12}</string>
			</dict>
			<key>Textures/Shop-assets/MoneyNum01.png</key>
			<dict>
				<key>frame</key>
				<string>{{56,516},{8,12}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{8,12}</string>
			</dict>
			<key>Textures/Shop-assets/MoneyNum02.png</key>
			<dict>
				<key>frame</key>
				<string>{{68,516},{8,12}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{8,12}</string>
			</dict>
			<key>Textures/Shop-assets/MoneyNum03.png</key>
			<dict>
				<key>frame</key>
				<string>{{80,516},{8,12}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{8,12}</string>
			</dict>
			<key>Textures/Shop-assets/MoneyNum04.png</key>
			<dict>
				<key>frame</key>
				<string>{{92,516},{8,12}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{8,12}</string>
			</dict>
			<key>Textures/Shop-assets/MoneyNum05.png</key>
			<dict>
				<key>frame</key>
				<string>{{104,516},{8,12}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{8,12}</string>
			</dict>
			<key>Textures/Shop-assets/MoneyNum06.png</key>
			<dict>
				<key>frame</key>
				<string>{{116,516},{8,12}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{8,12}</string>
			</dict>
			<key>Textures/Shop-assets/MoneyNum07.png</key>
			<dict>
				<key>frame</key>
				<string>{{128,516},{8,12}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{8,12}</string>
			</dict>
			<key>Textures/Shop-assets/MoneyNum08.png</key>
			<dict>
				<key>frame</key>
				<string>{{140,516},{8,12}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{8,12}</string>
			</dict>
			<key>Textures/Shop-assets/MoneyNum09.png</key>
			<dict>
				<key>frame</key>
				<string>{{152,516},{8,12}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{8,12}</string>
			</dict>
			<key>Textures/Shop-assets/MainFlame.png</key>
			<dict>
				<key>frame</key>
				<string>{{2,2},{240,390}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{240,390}</string>
			</dict>
			<key>Textures/Shop-assets/BG.png</key>
			<dict>
				<key>frame</key>
				<string>{{2,396},{240,116}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{240,116}</string>
			</dict>
			<key>Textures/Shop-assets/ShopBG.png</key>
			<dict>
				<key>frame</key>
				<string>{{246,212},{240,204}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{240,204}</string>
			</dict>
			<key>Textures/Shop-assets/Shop.png</key>
			<dict>
				<key>frame</key>
				<string>{{246,420},{240,116}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{240,116}</string>
			</dict>
			<key>Textures/Shop-assets/Ank01.png</key>
			<dict>
				<key>frame</key>
				<string>{{720,276},{36,54}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{36,54}</string>
			</dict>
			<key>Textures/Shop-assets/Ank02.png</key>
			<dict>
				<key>frame</key>
				<string>{{760,276},{36,54}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{36,54}</string>
			</dict>
			<key>Textures/Shop-assets/Ank03.png</key>
			<dict>
				<key>frame</key>
				<string>{{758,392},{36,54}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{36,54}</string>
			</dict>
			<key>Textures/Shop-assets/Ank04.png</key>
			<dict>
				<key>frame</key>
				<string>{{770,334},{36,54}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{36,54}</string>
			</dict>
			<key>Textures/Shop-assets/Ank05.png</key>
			<dict>
				<key>frame</key>
				<string>{{798,392},{36,54}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{36,54}</string>
			</dict>
			<key>Textures/Shop-assets/Ank06.png</key>
			<dict>
				<key>frame</key>
				<string>{{800,270},{36,54}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{36,54}</string>
			</dict>
			<key>Textures/Shop-assets/Ank07.png</key>
			<dict>
				<key>frame</key>
				<string>{{832,210},{36,54}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{36,54}</string>
			</dict>
			<key>Textures/Shop-assets/Ank08.png</key>
			<dict>
				<key>frame</key>
				<string>{{810,328},{36,54}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{36,54}</string>
			</dict>
			<key>Textures/Shop-assets/Ank09.png</key>
			<dict>
				<key>frame</key>
				<string>{{840,268},{36,54}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{36,54}</string>
			</dict>
			<key>Textures/Shop-assets/Ank10.png</key>
			<dict>
				<key>frame</key>
				<string>{{814,450},{36,54}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{36,54}</string>
			</dict>
			<key>Textures/Shop-assets/CrossingBar01.png</key>
			<dict>
				<key>frame</key>
				<string>{{614,276},{46,42}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{46,42}</string>
			</dict>
			<key>Textures/Shop-assets/CrossingBar02.png</key>
			<dict>
				<key>frame</key>
				<string>{{664,334},{46,42}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{46,42}</string>
			</dict>
			<key>Textures/Shop-assets/CrossingBar03.png</key>
			<dict>
				<key>frame</key>
				<string>{{714,452},{46,42}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{46,42}</string>
			</dict>
			<key>Textures/Shop-assets/CrossingBar04.png</key>
			<dict>
				<key>frame</key>
				<string>{{764,450},{46,42}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{46,42}</string>
			</dict>
			<key>Textures/ShopIcon-assets/ShopIcon01.png</key>
			<dict>
				<key>frame</key>
				<string>{{490,502},{32,32}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{32,32}</string>
			</dict>
			<key>Textures/ShopIcon-assets/ShopIcon02.png</key>
			<dict>
				<key>frame</key>
				<string>{{526,502},{32,32}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{32,32}</string>
			</dict>
			<key>Textures/ShopIcon-assets/ShopIcon03.png</key>
			<dict>
				<key>frame</key>
				<string>{{562,502},{32,32}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{32,32}</string>
			</dict>
			<key>Textures/ShopIcon-assets/ShopIcon04.png</key>
			<dict>
				<key>frame</key>
				<string>{{598,502},{32,32}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{32,32}</string>
			</dict>
			<key>Textures/ShopIcon-assets/ShopIcon05.png</key>
			<dict>
				<key>frame</key>
				<string>{{634,502},{32,32}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{32,32}</string>
			</dict>
			<key>Textures/ShopIcon-assets/ShopIcon06.png</key>
			<dict>
				<key>frame</key>
				<string>{{670,502},{32,32}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{32,32}</string>
			</dict>
			<key>Textures/ShopIcon-assets/ShopIcon07.png</key>
			<dict>
				<key>frame</key>
				<string>{{706,502},{32,32}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{32,32}</string>
			</dict>
			<key>Textures/ShopIcon-assets/ShopIcon08.png</key>
			<dict>
				<key>frame</key>
				<string>{{742,498},{32,32}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{32,32}</string>
			</dict>
			<key>Textures/ShopIcon-assets/ShopIcon09.png</key>
			<dict>
				<key>frame</key>
				<string>{{778,496},{32,32}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{32,32}</string>
			</dict>
			<key>Textures/ShopIcon-assets/ShopIcon10.png</key>
			<dict>
				<key>frame</key>
				<string>{{878,502},{32,32}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{32,32}</string>
			</dict>
			<key>Textures/ShopIcon-assets/ShopIcon11.png</key>
			<dict>
				<key>frame</key>
				<string>{{914,500},{32,32}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{32,32}</string>
			</dict>
			<key>Textures/ShopIcon-assets/ShopIcon12.png</key>
			<dict>
				<key>frame</key>
				<string>{{950,498},{32,32}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{32,32}</string>
			</dict>
			<key>Textures/ShopIcon-assets/ShopIcon13.png</key>
			<dict>
				<key>frame</key>
				<string>{{986,498},{32,32}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{32,32}</string>
			</dict>
			<key>Textures/ShopIcon-assets/ShopIcon14.png</key>
			<dict>
				<key>frame</key>
				<string>{{1022,498},{32,32}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{32,32}</string>
			</dict>
			<key>Textures/ShopIcon-assets/ShopIcon15.png</key>
			<dict>
				<key>frame</key>
				<string>{{1058,498},{32,32}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{32,32}</string>
			</dict>
			<key>Textures/ShopIcon-assets/ShopIcon16.png</key>
			<dict>
				<key>frame</key>
				<string>{{1050,324},{32,32}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{32,32}</string>
			</dict>
			<key>Textures/ShopIcon-assets/ShopIcon17.png</key>
			<dict>
				<key>frame</key>
				<string>{{1080,266},{32,32}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{32,32}</string>
			</dict>
			<key>Textures/ShopIcon-assets/ShopIcon18.png</key>
			<dict>
				<key>frame</key>
				<string>{{1078,360},{32,32}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{32,32}</string>
			</dict>
			<key>Textures/ShopIcon-assets/SoldIcon01.png</key>
			<dict>
				<key>frame</key>
				<string>{{1078,396},{32,32}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{32,32}</string>
			</dict>
			<key>Textures/ShopIcon-assets/SoldIcon02.png</key>
			<dict>
				<key>frame</key>
				<string>{{1086,302},{32,32}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{32,32}</string>
			</dict>
			<key>Textures/ShopIcon-assets/SoldIcon03.png</key>
			<dict>
				<key>frame</key>
				<string>{{1094,432},{32,32}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{32,32}</string>
			</dict>
			<key>Textures/ShopIcon-assets/SoldIcon04.png</key>
			<dict>
				<key>frame</key>
				<string>{{1094,468},{32,32}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{32,32}</string>
			</dict>
			<key>Textures/ShopIcon-assets/SoldIcon05.png</key>
			<dict>
				<key>frame</key>
				<string>{{1094,504},{32,32}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{32,32}</string>
			</dict>
			<key>Textures/ShopIcon-assets/SoldIcon06.png</key>
			<dict>
				<key>frame</key>
				<string>{{1114,338},{32,32}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{32,32}</string>
			</dict>
			<key>Textures/ShopIcon-assets/SoldIcon07.png</key>
			<dict>
				<key>frame</key>
				<string>{{1114,374},{32,32}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{32,32}</string>
			</dict>
			<key>Textures/ShopIcon-assets/SoldIcon08.png</key>
			<dict>
				<key>frame</key>
				<string>{{1130,410},{32,32}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{32,32}</string>
			</dict>
			<key>Textures/ShopIcon-assets/SoldIcon09.png</key>
			<dict>
				<key>frame</key>
				<string>{{1130,446},{32,32}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{32,32}</string>
			</dict>
			<key>Textures/ShopIcon-assets/SoldIcon10.png</key>
			<dict>
				<key>frame</key>
				<string>{{1130,482},{32,32}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{32,32}</string>
			</dict>
			<key>Textures/ShopIcon-assets/SoldIcon11.png</key>
			<dict>
				<key>frame</key>
				<string>{{1166,2},{32,32}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{32,32}</string>
			</dict>
			<key>Textures/ShopIcon-assets/SoldIcon12.png</key>
			<dict>
				<key>frame</key>
				<string>{{1112,2},{32,32}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{32,32}</string>
			</dict>
			<key>Textures/ShopIcon-assets/SoldIcon13.png</key>
			<dict>
				<key>frame</key>
				<string>{{1058,2},{32,32}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{32,32}</string>
			</dict>
			<key>Textures/ShopIcon-assets/SoldIcon14.png</key>
			<dict>
				<key>frame</key>
				<string>{{1166,38},{32,32}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{32,32}</string>
			</dict>
			<key>Textures/ShopIcon-assets/SoldIcon15.png</key>
			<dict>
				<key>frame</key>
				<string>{{1112,38},{32,32}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{32,32}</string>
			</dict>
			<key>Textures/ShopIcon-assets/SoldIcon16.png</key>
			<dict>
				<key>frame</key>
				<string>{{1058,38},{32,32}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{32,32}</string>
			</dict>
			<key>Textures/ShopIcon-assets/SoldIcon17.png</key>
			<dict>
				<key>frame</key>
				<string>{{1058,74},{32,32}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{32,32}</string>
			</dict>
			<key>Textures/ShopIcon-assets/SoldIcon18.png</key>
			<dict>
				<key>frame</key>
				<string>{{1058,110},{32,32}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{32,32}</string>
			</dict>
			<key>Textures/Shop-assets/AnkDisappointed00.png</key>
			<dict>
				<key>frame</key>
				<string>{{838,386},{36,54}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{36,54}</string>
			</dict>
			<key>Textures/Shop-assets/AnkDisappointed01.png</key>
			<dict>
				<key>frame</key>
				<string>{{850,326},{36,54}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{36,54}</string>
			</dict>
			<key>Textures/Shop-assets/AnkDisappointed02.png</key>
			<dict>
				<key>frame</key>
				<string>{{854,444},{36,54}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{36,54}</string>
			</dict>
			<key>Textures/Shop-assets/AnkDisappointed03.png</key>
			<dict>
				<key>frame</key>
				<string>{{878,384},{36,54}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{36,54}</string>
			</dict>
			<key>Textures/Shop-assets/AnkDisappointed04.png</key>
			<dict>
				<key>frame</key>
				<string>{{894,442},{36,54}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{36,54}</string>
			</dict>
			<key>Textures/Shop-assets/AnkHappy01.png</key>
			<dict>
				<key>frame</key>
				<string>{{858,2},{36,54}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{36,54}</string>
			</dict>
			<key>Textures/Shop-assets/AnkHappy02.png</key>
			<dict>
				<key>frame</key>
				<string>{{858,60},{36,54}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{36,54}</string>
			</dict>
			<key>Textures/Shop-assets/AnkHappy03.png</key>
			<dict>
				<key>frame</key>
				<string>{{858,118},{36,54}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{36,54}</string>
			</dict>
			<key>Textures/Shop-assets/AnkHappy04.png</key>
			<dict>
				<key>frame</key>
				<string>{{872,208},{36,54}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{36,54}</string>
			</dict>
			<key>Textures/Shop-assets/AnkSurprise00.png</key>
			<dict>
				<key>frame</key>
				<string>{{880,266},{36,54}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{36,54}</string>
			</dict>
			<key>Textures/Shop-assets/AnkSurprise01.png</key>
			<dict>
				<key>frame</key>
				<string>{{912,208},{36,54}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{36,54}</string>
			</dict>
			<key>Textures/Shop-assets/AnkSurprise02.png</key>
			<dict>
				<key>frame</key>
				<string>{{890,324},{36,54}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{36,54}</string>
			</dict>
			<key>Textures/Shop-assets/AnkSurprise03.png</key>
			<dict>
				<key>frame</key>
				<string>{{920,266},{36,54}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{36,54}</string>
			</dict>
			<key>Textures/Shop-assets/AnkAppear00.png</key>
			<dict>
				<key>frame</key>
				<string>{{918,382},{36,54}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{36,54}</string>
			</dict>
			<key>Textures/Shop-assets/AnkAppear01.png</key>
			<dict>
				<key>frame</key>
				<string>{{930,324},{36,54}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{36,54}</string>
			</dict>
			<key>Textures/Shop-assets/AnkAppear02.png</key>
			<dict>
				<key>frame</key>
				<string>{{934,440},{36,54}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{36,54}</string>
			</dict>
			<key>Textures/Shop-assets/AnkAppear03.png</key>
			<dict>
				<key>frame</key>
				<string>{{958,382},{36,54}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{36,54}</string>
			</dict>
			<key>Textures/Shop-assets/AnkRotate00.png</key>
			<dict>
				<key>frame</key>
				<string>{{490,386},{52,54}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{52,54}</string>
			</dict>
			<key>Textures/Shop-assets/AnkRotate01.png</key>
			<dict>
				<key>frame</key>
				<string>{{490,444},{52,54}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{52,54}</string>
			</dict>
			<key>Textures/Shop-assets/AnkRotate02.png</key>
			<dict>
				<key>frame</key>
				<string>{{546,386},{52,54}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{52,54}</string>
			</dict>
			<key>Textures/Shop-assets/AnkRotate03.png</key>
			<dict>
				<key>frame</key>
				<string>{{546,444},{52,54}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{52,54}</string>
			</dict>
			<key>Textures/Shop-assets/AnkRotate04.png</key>
			<dict>
				<key>frame</key>
				<string>{{602,386},{52,54}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{52,54}</string>
			</dict>
			<key>Textures/Shop-assets/AnkRotate05.png</key>
			<dict>
				<key>frame</key>
				<string>{{602,444},{52,54}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{52,54}</string>
			</dict>
			<key>Textures/Shop-assets/AnkRotate06.png</key>
			<dict>
				<key>frame</key>
				<string>{{658,386},{52,54}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{52,54}</string>
			</dict>
			<key>Textures/Shop-assets/AnkRotate07.png</key>
			<dict>
				<key>frame</key>
				<string>{{658,444},{52,54}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{52,54}</string>
			</dict>
			<key>Textures/Shop-assets/AnkRotate08.png</key>
			<dict>
				<key>frame</key>
				<string>{{664,276},{52,54}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{52,54}</string>
			</dict>
			<key>Textures/Shop-assets/AnkRotate09.png</key>
			<dict>
				<key>frame</key>
				<string>{{714,334},{52,54}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{52,54}</string>
			</dict>
			<key>Textures/Shop-assets/ScrollShadow.png</key>
			<dict>
				<key>frame</key>
				<string>{{734,2},{120,204}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{120,204}</string>
			</dict>
			<key>Textures/Shop-assets/ShopClosed.png</key>
			<dict>
				<key>frame</key>
				<string>{{490,2},{240,116}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{240,116}</string>
			</dict>
			<key>Textures/Shop-assets/AnkDisappointed05.png</key>
			<dict>
				<key>frame</key>
				<string>{{974,440},{36,54}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{36,54}</string>
			</dict>
			<key>Textures/Shop-assets/AnkDisappointed06.png</key>
			<dict>
				<key>frame</key>
				<string>{{898,2},{36,54}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{36,54}</string>
			</dict>
			<key>Textures/Shop-assets/AnkDisappointed07.png</key>
			<dict>
				<key>frame</key>
				<string>{{898,60},{36,54}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{36,54}</string>
			</dict>
			<key>Textures/Shop-assets/Madam00.png</key>
			<dict>
				<key>frame</key>
				<string>{{788,210},{40,56}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{40,56}</string>
			</dict>
			<key>Textures/Shop-assets/Madam01.png</key>
			<dict>
				<key>frame</key>
				<string>{{714,392},{40,56}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{40,56}</string>
			</dict>
			<key>Textures/Shop-assets/CatSleep00.png</key>
			<dict>
				<key>frame</key>
				<string>{{704,180},{23,24}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{23,24}</string>
			</dict>
			<key>Textures/Shop-assets/ScrollShadowL.png</key>
			<dict>
				<key>frame</key>
				<string>{{490,122},{120,204}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{120,204}</string>
			</dict>
			<key>Textures/Shop-assets/Train.png</key>
			<dict>
				<key>frame</key>
				<string>{{614,122},{98,54}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{98,54}</string>
			</dict>
			<key>Textures/Shop-assets/Fukidashi.png</key>
			<dict>
				<key>frame</key>
				<string>{{490,330},{170,52}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{170,52}</string>
			</dict>
			<key>Textures/Shop-assets/AnkBow00.png</key>
			<dict>
				<key>frame</key>
				<string>{{898,118},{36,54}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{36,54}</string>
			</dict>
			<key>Textures/Shop-assets/AnkBow01.png</key>
			<dict>
				<key>frame</key>
				<string>{{952,208},{36,54}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{36,54}</string>
			</dict>
			<key>Textures/Shop-assets/AnkBow02.png</key>
			<dict>
				<key>frame</key>
				<string>{{960,266},{36,54}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{36,54}</string>
			</dict>
			<key>Textures/Shop-assets/AnkBow03.png</key>
			<dict>
				<key>frame</key>
				<string>{{970,324},{36,54}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{36,54}</string>
			</dict>
			<key>Textures/Shop-assets/AnkBow04.png</key>
			<dict>
				<key>frame</key>
				<string>{{998,382},{36,54}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{36,54}</string>
			</dict>
			<key>Textures/Shop-assets/AnkBow05.png</key>
			<dict>
				<key>frame</key>
				<string>{{1014,440},{36,54}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{36,54}</string>
			</dict>
			<key>Textures/Shop-assets/AnkBow06.png</key>
			<dict>
				<key>frame</key>
				<string>{{938,2},{36,54}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{36,54}</string>
			</dict>
			<key>Textures/Shop-assets/FukidashiLetter.png</key>
			<dict>
				<key>frame</key>
				<string>{{614,220},{170,52}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{170,52}</string>
			</dict>
			<key>Textures/Shop-assets/CatBlack00.png</key>
			<dict>
				<key>frame</key>
				<string>{{814,508},{28,28}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{28,28}</string>
			</dict>
			<key>Textures/Shop-assets/CatBlack01.png</key>
			<dict>
				<key>frame</key>
				<string>{{846,508},{28,28}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{28,28}</string>
			</dict>
			<key>Textures/Shop-assets/CatBlack02.png</key>
			<dict>
				<key>frame</key>
				<string>{{858,176},{28,28}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{28,28}</string>
			</dict>
			<key>Textures/Shop-assets/CatBlack03.png</key>
			<dict>
				<key>frame</key>
				<string>{{1094,106},{28,27}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{28,27}</string>
			</dict>
			<key>Textures/Shop-assets/CatBlack04.png</key>
			<dict>
				<key>frame</key>
				<string>{{890,176},{28,28}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{28,28}</string>
			</dict>
			<key>Textures/Shop-assets/CatBlack05.png</key>
			<dict>
				<key>frame</key>
				<string>{{922,176},{28,28}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{28,28}</string>
			</dict>
			<key>Textures/Shop-assets/CatBlack06.png</key>
			<dict>
				<key>frame</key>
				<string>{{954,176},{28,28}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{28,28}</string>
			</dict>
			<key>Textures/Shop-assets/CatBlack07.png</key>
			<dict>
				<key>frame</key>
				<string>{{986,176},{28,28}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{28,28}</string>
			</dict>
			<key>Textures/Shop-assets/CatBlack08.png</key>
			<dict>
				<key>frame</key>
				<string>{{1018,176},{28,28}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{28,28}</string>
			</dict>
			<key>Textures/Shop-assets/CatBlack09.png</key>
			<dict>
				<key>frame</key>
				<string>{{1050,176},{28,28}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{28,28}</string>
			</dict>
			<key>Textures/Shop-assets/CatBlack10.png</key>
			<dict>
				<key>frame</key>
				<string>{{1150,362},{28,28}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{28,28}</string>
			</dict>
			<key>Textures/Shop-assets/CatBlack11.png</key>
			<dict>
				<key>frame</key>
				<string>{{1166,394},{28,28}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{28,28}</string>
			</dict>
			<key>Textures/Shop-assets/CatBlackTail00.png</key>
			<dict>
				<key>frame</key>
				<string>{{1166,426},{28,28}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{28,28}</string>
			</dict>
			<key>Textures/Shop-assets/CatBlackTail01.png</key>
			<dict>
				<key>frame</key>
				<string>{{1166,458},{28,28}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{28,28}</string>
			</dict>
			<key>Textures/Shop-assets/CatBlackTail02.png</key>
			<dict>
				<key>frame</key>
				<string>{{1166,490},{28,28}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{28,28}</string>
			</dict>
			<key>Textures/Shop-assets/CatBlackTail03.png</key>
			<dict>
				<key>frame</key>
				<string>{{1094,74},{28,28}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{28,28}</string>
			</dict>
			<key>Textures/Shop-assets/AnkTalk01.png</key>
			<dict>
				<key>frame</key>
				<string>{{938,60},{36,54}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{36,54}</string>
			</dict>
			<key>Textures/Shop-assets/AnkTalk02.png</key>
			<dict>
				<key>frame</key>
				<string>{{938,118},{36,54}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{36,54}</string>
			</dict>
			<key>Textures/Shop-assets/AnkTalk03.png</key>
			<dict>
				<key>frame</key>
				<string>{{978,2},{36,54}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{36,54}</string>
			</dict>
			<key>Textures/Shop-assets/AnkTalk04.png</key>
			<dict>
				<key>frame</key>
				<string>{{978,60},{36,54}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{36,54}</string>
			</dict>
			<key>Textures/Shop-assets/AnkTalk05.png</key>
			<dict>
				<key>frame</key>
				<string>{{978,118},{36,54}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{36,54}</string>
			</dict>
			<key>Textures/Shop-assets/AnkTalk06.png</key>
			<dict>
				<key>frame</key>
				<string>{{992,208},{36,54}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{36,54}</string>
			</dict>
			<key>Textures/Shop-assets/AnkTalk07.png</key>
			<dict>
				<key>frame</key>
				<string>{{1000,266},{36,54}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{36,54}</string>
			</dict>
			<key>Textures/Shop-assets/AnkTalk08.png</key>
			<dict>
				<key>frame</key>
				<string>{{1010,324},{36,54}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{36,54}</string>
			</dict>
			<key>Textures/Shop-assets/AnkHappyTalk01.png</key>
			<dict>
				<key>frame</key>
				<string>{{1038,382},{36,54}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{36,54}</string>
			</dict>
			<key>Textures/Shop-assets/AnkHappyTalk02.png</key>
			<dict>
				<key>frame</key>
				<string>{{1054,440},{36,54}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{36,54}</string>
			</dict>
			<key>Textures/Shop-assets/AnkHappyTalk03.png</key>
			<dict>
				<key>frame</key>
				<string>{{1018,2},{36,54}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{36,54}</string>
			</dict>
			<key>Textures/Shop-assets/AnkHappyTalk04.png</key>
			<dict>
				<key>frame</key>
				<string>{{1018,60},{36,54}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{36,54}</string>
			</dict>
			<key>Textures/Shop-assets/PiggyBankBar.png</key>
			<dict>
				<key>frame</key>
				<string>{{614,180},{86,36}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{86,36}</string>
			</dict>
			<key>Textures/Shop-assets/AnkBow07.png</key>
			<dict>
				<key>frame</key>
				<string>{{1018,118},{36,54}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{36,54}</string>
			</dict>
			<key>Textures/Shop-assets/AnkBow08.png</key>
			<dict>
				<key>frame</key>
				<string>{{1032,208},{36,54}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{36,54}</string>
			</dict>
			<key>Textures/Shop-assets/AnkBow09.png</key>
			<dict>
				<key>frame</key>
				<string>{{1040,266},{36,54}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{36,54}</string>
			</dict>
			<key>Textures/Shop-assets/AnkBow10.png</key>
			<dict>
				<key>frame</key>
				<string>{{1072,208},{36,54}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{36,54}</string>
			</dict>
			<key>Textures/Shop-assets/BlackFade.png</key>
			<dict>
				<key>frame</key>
				<string>{{246,2},{240,206}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{240,206}</string>
			</dict>
			<key>Textures/Shop-assets/NumberUnit.png</key>
			<dict>
				<key>frame</key>
				<string>{{2,516},{24,12}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{24,12}</string>
			</dict>
			<key>Textures/Shop-assets/NumberUnitOnly.png</key>
			<dict>
				<key>frame</key>
				<string>{{30,516},{10,12}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{10,12}</string>
			</dict>
			<key>Textures/ShopIcon-assets/SoldIcon19.png</key>
			<dict>
				<key>frame</key>
				<string>{{1082,146},{32,32}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{32,32}</string>
			</dict>
			<key>Textures/ShopIcon-assets/SoldIcon20.png</key>
			<dict>
				<key>frame</key>
				<string>{{1112,182},{32,32}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{32,32}</string>
			</dict>
			<key>Textures/ShopIcon-assets/SoldIcon21.png</key>
			<dict>
				<key>frame</key>
				<string>{{1112,218},{32,32}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{32,32}</string>
			</dict>
			<key>Textures/ShopIcon-assets/ShopIcon19.png</key>
			<dict>
				<key>frame</key>
				<string>{{1116,254},{32,32}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{32,32}</string>
			</dict>
			<key>Textures/ShopIcon-assets/ShopIcon20.png</key>
			<dict>
				<key>frame</key>
				<string>{{1122,290},{32,32}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{32,32}</string>
			</dict>
			<key>Textures/ShopIcon-assets/ShopIcon21.png</key>
			<dict>
				<key>frame</key>
				<string>{{1150,326},{32,32}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{32,32}</string>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>2</integer>
			<key>textureFileName</key>
			<string>ShopMenu.png</string>
			<key>realTextureFileName</key>
			<string>ShopMenu.png</string>
			<key>size</key>
			<string>{1200,538}</string>
		</dict>
		<key>texture</key>
		<dict>
			<key>width</key>
			<integer>1200</integer>
			<key>height</key>
			<integer>538</integer>
		</dict>
	</dict>
</plist>